#checkin-form-tab-pane-4 {
  /* 검색조건 */
  .SingleDatePicker {
    width: 182px;

    .DateInput {
      width: 180px;
    }

    &:first-child {
      .SingleDatePicker__picker--direction-left {
        left: -34px !important;
      }
    }

    & ~ .SingleDatePicker {
      .SingleDatePicker__picker--direction-left {
        left: -317px !important;
      }
    }
  }

  .numeric-wrap {
    margin-left: 5px;
  }

  .form-group {
    margin-top: 10px;

    .btn {
      float: right;
    }
  }

  input[type="checkbox"] + span {
    top: 2px;
  }

  .checkbox-inline + .checkbox-inline {
    margin-left: 11px;
  }

  .separator {
    display: inline-block;
    width: 1px;
    height: 11px;
    margin: 0 16px 0 15px;
    background: #d0d0d0;
    vertical-align: middle;
  }

  .table-x-scroll {
    overflow-x: auto;
    position: relative;
    width: 100%;
    border: 1px solid #c0c2c6;
    border-radius: 3px;
  }

  .table-wrapper {
    overflow-y: scroll;
    min-width: 900px;
    height: 480px;
    background: #f9f9f9;
    border: none;
    border-radius: 0;

    table {
      border-bottom: 1px solid #dfe0e2;

      thead {
        display: table;
        position: absolute;
        width: 883px;

        th {
          width: 7%;

          &:first-child {
            width: 16%;
          }
        }
      }

      tfoot {
        td {
          height: 25px;
          padding: 5px 10px;
          font-weight: 700;
        }
      }

      tbody {
        border-bottom: 1px solid #dfe0e2;

        tr:first-child td {
          height: 47px;
          padding-top: 25px;
        }

        td {
          height: 25px;
          border-top: 1px solid #dfe0e2;
          width: 7%;

          &:first-child {
            width: 16%;
          }
        }
      }
    }
  }

  .btn-toolbar {
    display: flex;
    justify-content: center;
    margin-top: 20px;

    .btn {
      width: 100px;
      height: 35px;
      font-size: 1rem;
      font-weight: 700;
    }
  }
}
