/* Gnb030109 */
#gnb030109 {
  .search-wrapper {
    /*width: 680px;
    height: 480px;
    overflow-x: hidden;
    overflow-y: auto;*/
    display: flex;
  }

  .search-wrapper>.list-bul {
    flex: 1;
    padding-bottom: 10px;

    select {
      width: 200px;
    }

    >h2 {
      margin-bottom: 10px;
    }

    /* 왼쪽 영역 */
    &:first-child {
      flex: 1.9;
      border-right: 1px solid #ccc;
      padding-right: 10px;
      margin-right: 15px;

      .btn.btn-default {
        width: 90%;
        font-size: 13px;
        height: 30px;
      }

      .device-set {
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        >.numeric-wrap {
          flex: 1;
        }
      }

      .device-set:first-child {
        margin-bottom: 10px;
      }

      .paper-edit {
        //display: inline-flex;
        //float: right;
        padding-left: 7px;
        border-left: 1px solid #ccc;

        >span {
          margin: 0 5px;
        }

        .btn {
          background-color: #ba9e86;
          font-weight: 700;
        }
      }

      .form-content {
        margin-top: 10px;

        .form-group {
          display: flex;
          align-items: center;

          input {
            flex: 1;
            margin-left: 10px;
          }
        }
      }

      .btn-group {
        margin-left: 5px;
      }
    }

    /* 오른쪽 영역 */
    &:last-child {
      .btn.btn-default {
        width: 90%;
        font-size: 13px;
        height: 30px;
      }
    }

    .form-content {
      margin-left: 10px;

      .checked-on {
        color: #f14747ea;
      }

      .checkbox-inline {
        margin-left: 10;
      }
    }

    .comment {
      font-size: 10px;
      color: grey;
      margin-left: 10px;
    }
  }

  .btn-set-close {
    display: flex;
    justify-content: center;
    margin-top: 15px;
  }
}