/* NanumSquare R(400), B(700), EB(800), Lt(300) */
.qr-key-wrapper {
  position: relative;
  margin: 0;
  width: 100%;
  height: 100vh;
  background: #172635;
  text-align: center;

  .header {
    margin: 0;
    padding: 0;
    text-align: center;
    background: #af6b6b;

    h4 {
      margin: 0;
      font-family: "NanumSquare";
      font-size: 24px;
      font-weight: 800;
      color: #fafafa;
      text-shadow: 3px 3px 3px #252525;
      letter-spacing: -1px;
    }
  }

  .form-group {
    width: 100%;
  }

  .content {
    padding: 15px 0;
    display: flex;
    color: #fff;
    text-align: center;
    width: 100%;

    .checkPhone {
      width: 100%;
      text-align: center;

      .phone {
        margin: 10% 0;
        display: flex;
        text-align: center;
        width: 100%;

        input {
          width: 40%;
          font-weight: 600;
          margin-top: 3px;
          margin-left: 10%;
        }

        button {
          margin: 0 30px;
          margin-right: 20px;
        }
      }
    }


    .qrcode-img {
      margin: 10px 0;
      width: 100%;
      text-align: center;

      img,
      canvas {
        margin: 10px 0;
        width: 30vw !important;
        height: 30vw !important;
      }
    }

    a {
      color: #82fdf7;
    }

    .place-text {
      width: 100%;
      margin: 10px 0;
      font-size: 20px;
      font-weight: 500;
      text-align: center;
      letter-spacing: 5px;
      color: #8affc4;
    }

    .room-text {
      margin: 20px 0;
      width: 100%;
      font-size: 22px;
      font-weight: 400;
      text-align: center;
      letter-spacing: 5px;
      line-height: 0.5;
      color: #bdeefa;
    }

    .qr_arear {
      padding: 10px;
      background-color: #fff;
      margin-left: 10%;
      margin-right: 10%;
    }

    .content-text {
      width: 100%;
      margin: 10px 0;
      font-size: 18px;
      font-weight: 500;
      text-align: center;
      letter-spacing: 6px;
    }

    .content-sub-text {
      width: 100%;
      margin: 5px 0;
      font-size: 16px;
      font-weight: 500;
      text-align: center;
      letter-spacing: 6px;
    }

    .notice {
      margin: 20px 0;
      color: #fffffe;
      font-weight: 400;
      text-align: center;
      letter-spacing: 2px;
    }

    .comment {
      margin: 20% 0 0 0;
      color: #fffffe;
      font-weight: 400;
      text-align: center;
      letter-spacing: 2px;
    }

    .error-text {
      width: 100%;
      margin: 30px 0;
      font-size: 18px;
      font-weight: 500;
      text-align: center;
      letter-spacing: 6px;
      color: #ff3535;
    }

    .alert-text {
      margin: 20px 0;
      color: #f3fd99;
      font-weight: 400;
      text-align: center;
      letter-spacing: 2px;
    }

    .time-text {
      margin: 10px 0;
      color: #ffde97;
      font-weight: 400;
      text-align: center;
      letter-spacing: 2px;
    }

    .btn-refresh {
      margin: 30px 0;
      text-align: center;

      .btn {
        color: #191f4e;
        background-color: #fff;
        font-weight: 600;
      }
    }

    .add-area {
      position: absolute;
      left: 0;
      bottom: 12%;
      overflow: hidden;
      width: 100vw;
      max-height: 80px;
      text-align: center;

      img {
        max-height: 80px;
      }
    }

    .callcenter {
      position: absolute;
      width: 100%;
      bottom: 6%;
      font-size: 18px;
      font-weight: 400;
      color: #efffa8;
      text-align: center;
    }

    .copyright {
      position: absolute;
      text-align: center;
      width: 100%;
      bottom: 2%;
      color: rgb(143, 143, 143);
    }
  }
}