/* NanumSquare R(400), B(700), EB(800), Lt(300) */
.main-panel {
  min-height: 500px;
  background: #172635;

  > div {
    height: 100%;
  }
}

.main-panel > .content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  min-height: 500px;
  min-width: 434px;
  background: #172635;
  color: #fff;

  .col-md-6 {
    float: none;
    width: 100%;

    h3 {
      margin: 0;
      font-family: "NanumSquare";
      font-size: 72px;
      font-weight: 800;
      text-align: center;
      text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.6);
      letter-spacing: 7px;
    }
  }

  .card {
    border: none;
    margin: 74px 0 0;
    background: none;

    .callcenter {
      padding-top: 20px;
      text-align: center;
      color: #a7b0c2;
    }

    .copyright {
      padding-top: 20px;
      text-align: center;
      color: #57688b;
    }
  }

  .card .header {
    padding: 0;
    text-align: center;

    h4 {
      margin: 0 0 27px;
      font-family: "NanumSquare";
      font-size: 24px;
      font-weight: 700;
      color: #fff;
      text-shadow: 0 2px 2px rgba(0, 0, 0, 0.6);
      letter-spacing: -1px;
    }
  }

  .card .content {
    padding: 0;
  }

  .card .form-group label.control-label,
  .card fieldset label.control-label {
    float: left;
    width: 25%;
    padding: 13px 0 12px 23px;
    font-family: "NanumSquareRound";
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    text-align: left;
  }

  select {
    width: 90%;
  }

  .form-horizontal .form {
    &-group {
      width: 364px;
      margin: 0 0 10px 0;

      .col-md-9 {
        float: left;
        width: 75%;
        padding: 0;
      }

      input:-webkit-autofill,
      textarea:-webkit-autofill,
      select:-webkit-autofill {
        transition: background-color 5000s ease-in-out 0s;
        -webkit-text-fill-color: #8298c0 !important;
      }

      input::placeholder {
        color: #8298c0;
        opacity: 0.4;
      }
    }

    &-radius {
      border: 1px solid #fff;
      border-radius: 50px;
    }

    &-pw {
      margin-bottom: 24px;

      input[type="password"] {
        font-family: "NanumSquareRound";
        font-weight: 800;
      }

      /*@media screen and (-webkit-min-device-pixel-ratio:0) { 
        input[type="password"] {
          font-size: 40px;
          letter-spacing: -4px;
          &::placeholder {
            font-size: 14px;
            letter-spacing: 0;
          }
        }
      }*/
    }

    &-control {
      height: 42px;
      padding: 0;
      background: none;
      color: #8298c0;

      &:focus {
        border: none;
      }
    }
  }

  .btn-info.btn-fill {
    width: 100%;
    height: 48px;
    background-color: #e75b65;
    border: none;
    font-size: 18px;
    text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.38);
  }
}

.input-ms-clear {
  width: calc(100% - 40px);
  &::-ms-clear {
    display: none;
  }
}

input + .btn-input-clear {
  position: absolute;
  right: 0;
  top: 0;
  background: none;
  border: none;
  color: #fff;
  &:hover {
    background: none !important;
  }
}
