/* Gnb0201 */
#gnb0201 {
  &.setting-form-wrapper {
    max-height: 90vh;
    overflow-y: auto;
    background: #fff;
  }

  @media (max-width: 1023px) {
    &.setting-form-wrapper {
      .setting-form {
        width: 70vw;
        min-width: 775px;
        padding-right: 25px;
      }
    }
  }

  .search-wrapper {
    position: relative;

    h2 span {
      font-weight: 300;
    }

    .header {
      display: flex;
      margin: 5px 0;

      .room-type {
        margin-left: 40%;

        select {
          width: 200px;
        }
      }

      .room-add {
        position: absolute;
        right: 0px;
        top: 20px;

        + .form-content {
          margin-top: 5px;
        }
      }
    }

    .search-result {
      position: relative;

      .btn-toolbar {
        position: absolute;
        top: 0;
        right: 0;

        .btn {
          font-weight: 700;
        }
      }

      .table-wrapper {
        min-width: 775px;
        max-height: 60vh;
        width: 70vw;

        table {
          thead {
            width: calc(100% - 20px);

            th {
              width: 7%;

              &:nth-child(1),
              &:nth-child(3),
              &:nth-child(4) {
                width: 5%;
              }

              &:nth-child(5) {
                width: auto;
              }

              &:nth-child(9) {
                width: 8%;
              }

              &:last-child {
                width: 4%;
              }

              .caret {
                display: none;
              }

              &.on {
                color: #2ee791;

                .caret {
                  display: inline-block;
                }

                .reverse {
                  transform: rotate(180deg);
                }
              }
            }
          }

          tbody {
            border-bottom: 1px solid #ddd;
            // width: calc(100% - 1px);

            tr {
              &:first-child td {
                padding-top: 2.6em;
              }

              &.off {
                .rc-input-number-handler-wrap {
                  display: none;
                }

                input,
                select {
                  border: none;
                  background: #fff;
                  pointer-events: none;
                  font-size: 1.05em;
                }

                select {
                  height: 2em;
                }
              }

              td {
                width: 7%;
                padding: 0px;

                label {
                  &.on {
                    color: #458f4f;
                  }

                  &.off {
                    color: #d64518;
                  }
                }

                input {
                  text-align: center;
                }

                select {
                  width: auto;
                }

                &:nth-child(1),
                &:nth-child(3),
                &:nth-child(4) {
                  width: 5%;
                }

                &:nth-child(5) {
                  width: auto;
                }

                &:nth-child(9) {
                  width: 8%;
                }

                &:nth-child(1) {
                  input[type="checkbox"] + span {
                    top: -5px;
                    left: 2px;
                  }
                }

                &:nth-child(2) {
                  text-align: left;

                  > label {
                    width: 100%;
                  }
                }

                &:last-child {
                  width: 4%;

                  .btn.del {
                    width: 25px;
                    height: 25px;
                    padding: 2px 0 0;
                    border-radius: 50px;
                    border: none;
                    background: #3a4a70;
                    font-size: 16px;
                  }
                }
              }
            }
          }
        }
      }
    }

    .room-control {
      position: relative;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      width: 60vw;
      margin-top: 30px;
      font-size: 0.786em;

      > div {
        margin-bottom: 10px;
      }

      select {
        width: 185px;
        margin-right: 5px;
      }

      .btn {
        margin-left: 5px;
      }

      .room-gid {
        display: flex;
        //margin-left: 50px;

        input {
          width: 50px;
        }
      }

      .room-clone {
        //position: absolute;
        //right: 0px;

        select {
          width: 100px;
        }
      }
    }
  }

  .btn-room {
    display: flex;
    justify-content: center;
    margin-top: 20px;

    .btn {
      width: 130px;
      height: 38px;
      background-color: #023b67;
      border-radius: 20px;
      font-size: 14px;
      font-weight: 700;

      &:first-child {
        background-color: #303941;
      }
    }
  }
}
