/* Gnb0102 */
#gnb0102 {
  .search-wrapper {
    display: flex;
    justify-content: space-between;

    .date-set {
      margin-bottom: 15px;
      padding-bottom: 20px;
      border-bottom: 1px solid #dfe0e2;
    }

    .search-select {
      padding-bottom: 12px;
      border-bottom: 1px solid #dfe0e2;

      &:last-child {
        padding-top: 12px;
      }

      .checkbox-inline {
        font-size: 0.786rem;
      }

      .separator {
        display: inline-block;
        float: none;
        width: 1px;
        height: 12px;
        margin: 0 8px 0 7px;
        background: #999;
        vertical-align: middle;
      }
    }
  }

  .search-result {
    position: relative;
    margin-top: 20px;
    padding-top: 34px;

    .btn-toolbar {
      position: absolute;
      top: 0;
      right: 0;

      .btn {
        font-weight: 700;
      }
    }

    .table-wrapper {
      height: 320px;

      table {
        thead {
          width: 100%;

          th {
            width: 17%;

            &:first-child {
              width: 28%;
            }

            &:last-child {
              width: 55%;
            }
          }
        }

        tbody {
          border-bottom: 1px solid #ddd;

          tr {
            &.slide {
              animation: slide-up 0.4s ease;
            }
          }

          td {
            width: 17%;

            &:first-child {
              width: 28%;
            }

            &:last-child {
              width: 52%;
            }
          }
        }
      }
    }
  }

  .SingleDatePicker {
    width: 207px;

    .DateInput {
      width: 205px;
    }
  }
}
