/* Gnb0401-내용 공통 */
.main-panel .content-system .gnb04 .setting-form-tab {
  width: 90vw;
  min-width: 1300px;
  max-width: 1500px;
  height: 80vh;

  &:after {
    display: block;
    content: '';
    clear: both;
  }

  #settingTab-tab-2 {
    letter-spacing: -1px;
  }
}

@media (max-width: 1023px) {
  .main-panel .content-system .gnb04 .setting-form-tab {
    min-width: inherit;
    width: 90vw;
    height: 70vh;
  }
}