/* NanumSquare R(400), B(700), EB(800), Lt(300) */
.qr-reserv-wrapper {
  position: relative;
  margin: 0;
  width: 100%;
  height: 100vh;
  background: #172635;
  text-align: center;

  .header {
    margin: 0;
    padding: 0;
    text-align: center;
    background: #6baaaf;

    h4 {
      margin: 0;
      font-family: "NanumSquare";
      font-size: 24px;
      font-weight: 800;
      color: #fafafa;
      text-shadow: 3px 3px 3px #252525;
      letter-spacing: -1px;
    }
  }

  .content {
    padding: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background: #172635;
    color: #fff;

    .qrcode-img {
      margin: 10px 0;
      width: 100%;
      text-align: center;

      img,
      canvas {
        margin: 10px 0;
        width: 50vw !important;
        height: 50vw !important;
      }
    }

    a {
      color: #82fdf7;
    }

    .place-text {
      width: 100%;
      margin: 10px 0;
      font-size: 20px;
      font-weight: 500;
      text-align: center;
      letter-spacing: 5px;
      color: #8affc4;
    }

    .room-text {
      margin: 20px 0;
      width: 100%;
      font-size: 22px;
      font-weight: 400;
      text-align: center;
      letter-spacing: 5px;
      line-height: 0.5;
      color: #bdeefa;
    }

    .content-text {
      width: 100%;
      margin: 10px 0;
      font-size: 18px;
      font-weight: 500;
      text-align: center;
      letter-spacing: 6px;
    }

    .content-sub-text {
      width: 100%;
      margin: 5px 0;
      font-size: 16px;
      font-weight: 500;
      text-align: center;
      letter-spacing: 6px;
    }

    .notice {
      margin: 20px 0;
      color: #fffffe;
      font-weight: 400;
      text-align: center;
      letter-spacing: 2px;
    }

    .error-text {
      width: 100%;
      margin: 40px 0;
      font-size: 18px;
      font-weight: 500;
      text-align: center;
      letter-spacing: 6px;
      color: #ff3535;
    }

    .alert-text {
      margin: 30px 0;
      color: #f3fd99;
      font-weight: 400;
      text-align: center;
      letter-spacing: 2px;
    }

    .add-area {
      position: absolute;
      left: 0;
      bottom: 12%;
      overflow: hidden;
      width: 100vw;
      max-height: 300px;
      text-align: center;
    }

    .callcenter {
      position: absolute;
      width: 100%;
      bottom: 6%;
      font-size: 18px;
      font-weight: 400;
      color: #efffa8;
      text-align: center;
    }

    .copyright {
      position: absolute;
      text-align: center;
      width: 100%;
      bottom: 2%;
      color: rgb(143, 143, 143);
    }
  }
}