.room-checkin {
  .memo-write{
    background-color: #212c42;
    border: 1px solid #131926;
    color: #666;
    h1 {
      text-align: left;
    }
    .write-form-wrapper {
      width: 450px;
      background: #fff;
      padding: 15px;
      h2 {
        margin-bottom: 5px;
      }
      textarea {
        padding: 12px;
        font-size: 0.857rem;
      }
      .btn-toolbar {
        display: flex;
        justify-content: center;
        margin-top: 18px;
      }
    }
    .move-close {
      display: inline-block;
      overflow: hidden;
      position: absolute;
      top: 10px;
      right: 14px;
      width: 14px;
      height: 14px;
      background: url('./img/bg_news_close.png') no-repeat 0 0;
      text-indent: -9999px;
    }
  }
}