/* tab */
#rcu-layer-tabs {
  background: #fff;

  .nav-tabs {
    float: none;
    height: 45px;
    margin-bottom: 30px;
    border-bottom: 1px solid #33313f;

    > li {
      margin: 0;

      > a {
        width: 183px;
        height: 44px;
        padding-top: 12px;
        margin: 0;
        background: #f9f9f9;
        border-radius: 0;
        border-top: 1px solid #e4e4e4;
        border-bottom: none;
        border-right: 1px solid #e4e4e4;
        border-left: none;
        font-size: 1rem;
        color: #666465;
      }

      &.active > a {
        height: 45px;
        background: #fff;
        border-left: 1px solid #33313f;
        border-color: #33313f;
        color: #111;
      }

      &:first-child {
        border-left: 1px solid #e4e4e4;
      }
    }
  }

  .tab-pane {
    padding: 0;
  }
}

/* Gnb010401 */
#gnb010401 {
  .search-wrapper {
    .date-set {
      margin-bottom: 10px;
    }

    select {
      width: calc(100% - 44px);
      background-position-x: 98%;
    }
  }

  .search-result {
    position: relative;
    margin-top: 20px;

    .btn-toolbar {
      position: absolute;
      top: 0;
      right: 0;

      .btn {
        font-weight: 700;
      }
    }

    .table-wrapper {
      width: 600px;
      height: 347px;

      table {
        thead {
          width: 580px;

          th {
            width: 25%;
          }
        }

        tbody {
          border-bottom: 1px solid #ddd;

          tr:first-child {
            td {
              padding-top: 27px;
            }
          }

          td {
            width: 25%;
          }
        }
      }
    }
  }

  .setting-form > .btn-toolbar {
    display: flex;
    justify-content: center;
    margin-top: 20px;

    .btn {
      width: 130px;
      height: 35px;
      background: #004a82;
      border-radius: 20px;
      font-size: 1rem;
      font-weight: 700;
      color: #fff;
    }
  }

  .SingleDatePicker {
    width: 207px;

    .DateInput {
      width: 205px;
    }
  }
}

/* Gnb010402 */
#gnb010402 {
  .search-result {
    position: relative;
    margin-top: 20px;
    padding-top: 34px;

    .btn-toolbar {
      position: absolute;
      top: 0;
      right: 0;

      .btn {
        width: 135px;
        font-weight: 700;
      }
    }

    .table-wrapper {
      width: 600px;
      height: 424px;

      table {
        thead {
          width: 580px;

          th {
            width: 50%;
          }
        }

        tbody {
          border-bottom: 1px solid #ddd;

          tr:first-child {
            td {
              padding-top: 27px;
            }
          }

          td {
            width: 50%;
          }
        }
      }
    }
  }

  .SingleDatePicker {
    width: 207px;

    .DateInput {
      width: 205px;
    }
  }
}
