/* gnb030115 */
#gnb030115 {
  .search-wrapper > ul > li {
    font-size: 0.786em;

    h2,
    label {
      font-size: 1em;
    }

    /* 객실 전원차단 조건 */
    &:nth-child(1) {
      .form-content {
        select {
          width: 140px;
        }

        .checkbox-inline {
          position: absolute;
          left: 200px;
        }

        margin-bottom: 10px;
      }

      .numeric-wrap {
        & + label {
          margin-left: 25px;
        }
      }
    }

    /* 난방 온도설정 */
    &:nth-child(2) {
      .numeric-wrap {
        margin-left: 8px;

        & + label {
          margin-left: 13px;
        }
      }

      .checkbox-inline {
        margin-top: 10px;

        & + .checkbox-inline {
          margin-left: 17px;
        }
      }

      .btn-toolbar {
        float: right;

        .btn {
          width: 135px;
        }
      }
    }

    &:nth-child(3) {
      .table-wrapper {
        overflow: hidden;

        thead {
          display: table-header-group;
          position: static;

          th {
            width: 22%;

            &:last-child {
              width: 34%;
            }
          }
        }

        tbody {
          tr {
            &:first-child td {
              padding-top: 5px;

              &:nth-child(3) .checkbox-inline {
                padding-right: 12px;
              }

              &:nth-child(4) .checkbox-inline {
                padding-right: 50px;
              }
            }

            &:last-child td {
              padding-bottom: 10px;
            }
          }

          td {
            border-top: none;
            vertical-align: middle;
          }
        }
      }
    }

    &:nth-child(4) {
      .search-result {
        display: flex;
        position: relative;

        .btn-toolbar {
          display: flex;
          justify-content: space-around;
          flex-direction: column;

          .btn {
            background-color: #ba9e86;
            font-weight: 700;
          }
        }

        .table-wrapper {
          width: 570px;
          height: 107px;
          margin-right: 12px;

          table {
            thead {
              width: 550px;

              th {
                width: 50%;
              }
            }

            tbody {
              td {
                border-bottom: 1px solid #dfe0e2;
                width: 50%;
              }
            }
          }
        }
      }
    }
  }

  .btn-set-close {
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }
}
