/* NanumSquare R(400), B(700), EB(800), Lt(300) */
.room-bgwhite {
  border: 1px solid #343944 !important;
  color: #343944 !important;
}

.room-bgcolor-dim {
  opacity: 0.4 !important;
}

.room-bgcolor1 {
  background-color: #c8c8c8 !important;
}

.room-bgcolor2 {
  background-color: #52d3ee !important;
}

.room-bgcolor3 {
  background-color: #ffab3e !important;
}

.room-bgcolor4 {
  background-color: #ff727a !important;
}

.room-bgcolor5 {
  background-color: #a1a1a1 !important;
}

.room-bgcolor6 {
  background-color: #fff !important;
}

.room-bgcolor7 {
  background-color: #fff !important;
}

.room-bgcolor8 {
  background-color: #fff !important;
}

input[type="checkbox"] {
  display: none;
  -webkit-appearance: none;
}

input[type="checkbox"] + span {
  display: inline-block;
  position: absolute;
  left: 0;
  top: calc(50% - 8px);
  width: 16px;
  height: 16px;
  background: url("./Header/img/bg_check_off02.png") no-repeat 0 0;
}

input[type="checkbox"]:checked + span {
  background-image: url("./Header/img/bg_check_on02.png");
}

/* table */
.table-wrapper {
  overflow: hidden;
  border: 1px solid #c0c2c6;
  border-radius: 3px;

  table {
    margin-bottom: 0;
    background: #fff;
    font-size: 0.786rem;
    color: #666;

    thead {
      background-color: #fff;

      th {
        position: relative;
        height: 23px;
        padding: 0;
        color: #fff;
        text-align: center;
        background: url("./img/bg_thead.png") no-repeat 50% 0;
        border-bottom: none;
        vertical-align: middle;

        &:first-child {
          background-position-x: 0;

          &:after {
            display: none;
          }
        }

        &:last-child {
          background-position-x: 100%;
        }

        &:after {
          display: inline-block;
          content: "";
          position: absolute;
          top: 6px;
          left: 0;
          width: 1px;
          height: 11px;
          background: #a1c5d3;
        }
      }
    }

    tbody {
      td {
        padding: 3px 10px;
        border-left: 1px solid #dfe0e2;
        border-top-color: #dfe0e2;
        text-align: center;

        &:first-child {
          border-left: none;
        }

        strong {
          color: #ff6600;
        }
      }

      tr:first-child {
        td {
          border-top: none;
        }
      }
    }
  }
}

/* 화면 잠금 */
.view-lock {
  &.door {
    position: absolute;
    width: 100%;
    height: 0px;
    left: 0px;
    z-index: 100;
    opacity: 0.1;
    background: #000;

    transition: height 200ms ease-in;
    transition-delay: 100ms;

    &.top {
      top: 0px;
      border-bottom: #000 solid 1px;
      background: linear-gradient(#ccc, #222);
    }

    &.bottom {
      bottom: 0px;
      border-top: #000 solid 1px;
      background: linear-gradient(#222, #ccc);
    }

    &.on {
      height: 50%;
      opacity: 0.4;
    }
  }

  &.icon {
    position: absolute;
    top: 46%;
    left: 50%;
    transform: translate(-50%, -50%);

    transition: opacity 100ms ease-out;
    transition-delay: 500ms;

    width: 180px;
    height: 200px;
    opacity: 0;

    &.on {
      opacity: 0.7;
      z-index: 101;
    }
  }
}

/* layout */
.wrapper > .main-panel {
  transform: none;

  &.lock {
    pointer-events: none;
  }
}

.content-system {
  width: 100%;
  min-width: 1024px;

  input[type="checkbox"] {
    margin-top: 3px;
    margin-left: -17px;
  }

  @media screen and (-webkit-min-device-pixel-ratio: 0) {
    input[type="checkbox"] {
      margin-top: 1px;
    }
  }

  .checkbox-inline {
    padding-left: 17px;
    font-size: 0.786rem;
  }

  .checkbox-inline + .checkbox-inline {
    margin-left: 8px;
  }

  select {
    border: 1px solid #8d96a6;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #f9f9fc;
  }

  select::-ms-expand {
    display: none;
  }
}

/* header */
.header .navbar {
  min-height: 43px; //63px;
  background: none;
  border: none;

  .container-fluid {
    display: flex;
    align-items: center;
    height: 43px; //63px;
    background: #212c42;
  }

  h1 {
    font-family: "NanumSquareRound";
    font-size: 1.429rem;
    color: #fff;
    font-weight: 700;
    margin: 0;
  }

  .navbar-nav {
    height: 23px;
  }

  .navbar-nav > li {
    margin-left: 7px;

    &:first-child {
      margin-left: 27px;
    }

    > a {
      width: 75px;
      height: 23px;
      padding: 3px 0 0;
      border: 1px solid #6d7d9e;
      border-radius: 12px;
      color: #6d7d9e;
      text-align: center;

      &:hover {
        text-decoration: underline;
      }

      .caret {
        display: none;
      }
    }

    &.open > a {
      background: none;
      color: #6d7d9e;

      &:hover {
        text-decoration: underline;
      }
    }

    .dropdown-menu {
      border: 1px solid #212c42;
      min-width: auto;
      padding: 5px 0;

      &:before {
        display: none;
      }

      > li a {
        font-family: "돋움", dotum;
        font-size: 0.857rem;

        &:hover {
          text-decoration: underline;
          background: none;
        }
      }
    }
  }

  .navbar-collapse.collapse {
    flex: 1;
    padding-right: 0;

    .navbar-left {
      margin-top: 5px;
    }

    .navbar-right {
      margin-right: 0;
    }
  }

  .navbar-form {
    margin: 0;
    padding: 0;

    .form-group {
      display: inline-block;
    }

    .form-check {
      margin-left: 12px;
    }

    .form-control {
      height: 21px;
      padding: 0 2px 1px;
      border: 1px solid #9b9ea2;
      font-size: 0.857rem;
      color: #999;
    }

    select.form-control {
      position: relative;
      width: 119px;
      height: 23px;
      padding-left: 16px;
      font-size: 0.786rem;
      background: url("./img/bg_select02.png") no-repeat 90% 50%;
      background-color: #303c54;
      border: none;
      border-radius: 12px;
      color: #fff;
    }

    .checkbox-inline {
      padding-left: 21px;
      color: #fff;
      line-height: 15px;
    }

    input.form-control {
      width: 91px;
      margin-left: 8px;
      padding: 2px 10px 2px 16px;
      background-color: #303c54;
      border: none;
      border-radius: 12px;
      color: #fff;
    }

    input::-webkit-input-placeholder {
      color: #f5f5f5;
    }

    input:-ms-input-placeholder {
      color: #f5f5f5;
    }

    .btn-toolbar > .btn {
      overflow: hidden;
      position: relative;
      width: 34px;
      height: 34px;
      background: url("./Header/img/bg_lock.png") no-repeat 50% 50%;
      border: 1px solid #6d7d9e;
      border-radius: 17px;
      text-indent: -9999px;
      opacity: 1;

      &.right {
        margin-left: 10px;
        background-image: url("./Header/img/bg_close.png");
      }
    }
  }

  /* mediaquery restyle */
  .navbar-header {
    margin-right: 0;
    margin-left: 0;
    float: left;
  }

  .nav {
    float: left;
    margin: 0;

    & > li {
      float: left;

      &.open > .dropdown-menu {
        opacity: 1;
        filter: alpha(opacity=100);
        visibility: visible;
        margin-top: 0px;

        & > li a {
          padding: 5px 10px;
          color: #666;
          line-height: 1;
        }
      }

      .dropdown-menu {
        position: absolute;
        float: left;
        background-color: #fff;
        -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
        transition: all 50ms linear;
      }
    }
  }

  .navbar-collapse {
    width: auto;
    margin-right: 0;
    margin-left: 0;
    border-top: 0;
    -webkit-box-shadow: none;
    box-shadow: none;

    &.collapse {
      display: block !important;
      height: auto !important;
      padding-bottom: 0;
      overflow: visible !important;
    }

    .navbar-left {
      float: left !important;
    }

    .navbar-form {
      width: auto;
      padding-top: 0;
      padding-bottom: 0;
      margin-right: 0;
      margin-left: 0;
      border: 0;
      -webkit-box-shadow: none;
      box-shadow: none;

      .form-group {
        margin-bottom: 0;
        vertical-align: middle;
      }
    }

    .navbar-right {
      float: right !important;
      margin-right: -15px;
    }
  }

  /* mediaquery restyle */
}

/* SearchBar */
.sub-header {
  height: 40px; //50px;
  background: #fff;

  .form-inline {
    padding: 3px 13px 7px 6px;
  }

  .memb-num {
    input {
      width: 110px;
      height: 28px;
      line-height: 1;
      border: 1px solid #cbcfdd;
      border-radius: 14px;
      font-size: 0.857rem;
      color: #999;
    }

    input::-webkit-input-placeholder {
      color: #ccc;
    }

    input:-ms-input-placeholder {
      color: #ccc;
    }
  }

  .memb-num + .checkbox-inline {
    margin-left: 5px;
  }

  .checkbox-inline {
    padding-left: 22px;
    font-family: "NanumSquareRound";
    font-size: 0.857rem;
    font-weight: 700;
    color: #212c42;

    input {
      margin-top: 2px;
    }

    input[type="checkbox"] + span {
      background: url("./SearchBar/img/bg_check_off03.png") no-repeat 0 0;
    }

    input[type="checkbox"]:checked + span {
      background-image: url("./SearchBar/img/bg_check_on03.png");
    }
  }

  .checkbox-inline + .separator {
    margin: 0 7px 0 8px;
  }

  .separator {
    display: inline-block;
    width: 1px;
    height: 11px;
    background: #d0d0d0;
    vertical-align: middle;
  }

  .btn-toolbar {
    display: inline-block;
    margin: 0;
    vertical-align: middle;

    .btn {
      height: 28px;
      margin-left: 6px;
      border: none;
      border-radius: 14px;
      font-family: "NanumSquareRound";
      font-size: 0.9rem;
      font-weight: 700;
      color: #fff;
      line-height: 1;
      opacity: 1;
    }
  }

  .btn-key {
    margin-left: 0px;

    .btn {
      width: 75px;
      padding: 0px;

      > span {
        margin-right: 3px;
      }

      box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
      margin: 3px 0 0 10px;
      transition: all 50ms linear;

      &:first-child {
        margin: 3px 0 0 0;
      }

      &:nth-child(1) {
        background-color: #424058;
      }

      &:nth-child(2) {
        background-color: #5c56af;
      }

      &:nth-child(3) {
        background-color: #548b8d;
      }

      &:nth-child(4) {
        background-color: #bb3e3eda;
      }

      &.up {
        background-color: rgba(212, 206, 206, 0.74) !important;
        box-shadow: 3px 3px 1px rgba(0, 0, 0, 0.6);
        margin: 1px 2px 2px 8px;
        color: #666;
      }
    }
  }

  .btn-room {
    margin-left: 2%;

    .btn {
      box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
      margin: 3px 0 0 10px;
      transition: all 50ms linear;
      border-radius: 2px;

      > span {
        margin-right: 3px;
      }

      &.up {
        background-color: rgba(243, 235, 235, 0.966) !important;
        box-shadow: 3px 3px 1px rgba(0, 0, 0, 0.6);
        color: #666;
        margin: 1px 2px 2px 8px;
      }
    }
  }

  .btn-mode {
    margin-left: 2%;

    .btn {
      box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
      margin: 3px 0 0 3px;
      background-color: #124858;
      border-radius: 2px;
      transition: all 50ms linear;

      &.isc {
        background-color: #2f27b5;
      }

      &.minor_mode {
        background-color: #3acf2c;
        color: #fff;
      }

      > span {
        margin-right: 3px;
      }

      &.up {
        background-color: rgba(243, 235, 235, 0.966) !important;
        box-shadow: 3px 3px 1px rgba(0, 0, 0, 0.6);
        color: #666;
        margin: 1px 2px 2px 5px;

        &.isc {
          background-color: rgba(211, 34, 34, 0.966) !important;
          color: rgb(241, 238, 13);

          &:hover {
            color: #000 !important;
          }
        }

        &.minor_mode {
          background-color: rgba(0, 0, 0, 0.5) !important;
          color: #ccc;

          &:hover {
            color: #000 !important;
          }
        }
      }
    }
  }

  .btn-tooltip {
    margin-left: 1%;

    .radio-inline {
      font-size: 1rem;
      top: 3px;

      span {
        top: 0px;
      }
    }
  }

  select.form-control {
    width: 110px;
    height: 28px;
    margin-left: 5px;
    padding: 0 10px 0 14px;
    background: url("./SearchBar/img/bg_select03.png") no-repeat 94% 50%;
    border-color: #cbcfdd;
    border-radius: 14px;
    font-family: "NanumSquareRound";
    font-size: 0.857rem;
    font-weight: 700;
    color: #212c42;
  }

  .btn-layout {
    .btn-simulator {
      position: fixed;
      right: 100px;
      top: 87px;
      z-index: 1000;
    }

    > .btn-toolbar {
      position: fixed;
      right: 15px;
      top: 85px;
      z-index: 1000;

      > .btn {
        overflow: hidden;
        position: relative;
        width: 18px;
        height: 16px;
        margin-top: 6px;
        background: #fff;
        border: 1px solid #8c95a5;
        border-radius: 0;
        text-indent: -9999px;
        opacity: 1;

        &:before {
          display: block;
          content: "";
          position: absolute;
          top: 1px;
          width: 2px;
          height: 12px;
          background: #8c95a5;
        }

        &.left:before {
          left: 1px;
        }

        &.right:before {
          right: 1px;
        }

        &.on {
          border: 1px solid #4545a0;
        }

        &:hover {
          border: 1px solid #3a0fd8;
        }

        &.on:before {
          background: #6497e4;
          width: 14px;
        }

        &:hover:before {
          background: #e43d3d;
        }

        & + .separator {
          margin-top: 7px;
          margin-left: 6px;
        }
      }
    }
  }

  /* mediaquery restyle */
  .form-inline {
    .form-group {
      display: inline-block;
      margin-bottom: 0;
      vertical-align: middle;
    }

    .form-control {
      display: inline-block;
      vertical-align: middle;
    }
  }

  /* mediaquery restyle */
}

/* room-container */
.main-panel > .content-system > .content {
  width: 100%;
  height: calc(100% - 115px); // - 145px
  /*min-height: 732px;*/
  background: #fff;
  color: #fff;
  position: relative;
  padding: 0 6px;
  box-sizing: border-box;

  .container-fluid {
    display: flex;
    overflow: hidden;
    position: relative;
    height: 100%;
    background: #172635;
    padding: 6px;
  }

  ::-webkit-scrollbar {
    width: 1px;
  }

  ::-webkit-scrollbar-button {
    background: none;
  }

  ::-webkit-scrollbar-track-piece {
    background: none;
  }

  ::-webkit-scrollbar-thumb {
    background: #343944;
  }

  .leftmenu {
    display: block;
    overflow-x: hidden;
    overflow-y: overlay;
    width: 0;
    max-height: 100%;
    height: 100%;
    font-weight: 200;
    transition-duration: 0.2s, 0.2s, 0.35s;

    &.on {
      width: auto;
      margin-right: 4px;
    }
  }

  .content-info {
    flex: 1;
    height: calc(100% - 28px);
    /*padding-left: 270px;*/
    // transition-duration: .2s, .2s, .35s;

    &.to-left {
      padding-left: 0px;
    }
  }
}

/* QuickMenu */
.quick-menu {
  position: absolute;
  top: 100%;
  right: 0px;
  z-index: 999;
  width: 98px;
  height: 100%;
  background-color: #172635;
  transition-duration: 0.2s, 0.2s, 0.35s;
  visibility: hidden;

  &.on {
    top: 0px;
    visibility: visible;
  }

  ul {
    li {
      margin: 0;

      &:first-child:before {
        display: none;
      }

      &:before {
        display: block;
        content: "";
        width: 78px;
        height: 1px;
        margin: -1px auto;
        background-color: #384255;
      }

      &:nth-child(1) a {
        background: url("./QuickMenu/img/bg_quick01.png") no-repeat 50% 0;
      }

      &:nth-child(2) a {
        background: url("./QuickMenu/img/bg_quick02.png") no-repeat 50% 0;
      }

      &:nth-child(3) a {
        background: url("./QuickMenu/img/bg_quick03.png") no-repeat 50% 0;
      }

      &:nth-child(4) a {
        background: url("./QuickMenu/img/bg_quick04.png") no-repeat 50% 0;
      }

      &:nth-child(5) a {
        background: url("./QuickMenu/img/bg_quick05.png") no-repeat 50% 0;
      }

      &:nth-child(6) a {
        background: url("./QuickMenu/img/bg_quick06.png") no-repeat 50% 0;
      }

      a {
        display: inline-block;
        width: 100%;
        height: 78px;
        padding: 48px 0 0 0;
        border-radius: 0;
        font-family: "NaumSquareRound";
        font-size: 0.957rem;
        font-weight: 400;
        color: #fff;
        text-align: center;

        &:hover {
          background-color: #384255;
        }
      }
    }
  }
}

/* Alert style */
.sweet-alert p {
  color: #555 !important;
  font-weight: 400 !important;
}

/* bootstrap btn css */
.btn.disabled {
  background-color: rgba(224, 219, 219, 0.849) !important;
}

.btn.on {
  background-color: rgb(221, 223, 104) !important;
}

.btn.off {
  pointer-events: none !important;
}

.btn:hover {
  background-color: rgba(130, 161, 175, 0.918) !important;
  color: rgb(209, 62, 62) !important;
}

.fontRed {
  color: red !important;
}

.fontBlue {
  color: #1449f5 !important;
}
