/* Gnb0105 */
#gnb0105 {
  @media (max-width: 1023px) {
    &.setting-form-wrapper {
      width: 755px;
      overflow-x: auto;
      overflow-y: hidden;
      .setting-form {
        width: 799px;
        padding-right: 25px;
      }
    }
  }

  .list-bul {
    display: flex;

    /* form-left */
    > li:first-child {
      .date-set {
        margin-bottom: 10px;
      }
      select {
        width: calc(100% - 44px);
        background-position-x: 98%;
      }
      .search-result {
        position: relative;
        margin-top: 15px;
        .btn-toolbar {
          display: flex;
          justify-content: center;
          .btn {
            background-color: #c0805d;
            font-weight: 700;
          }
        }
        .table-wrapper {
          width: 377px;
          height: 387px;
          margin-top: 15px;
          table {
            thead {
              width: 357px;
              th {
                width: 35%;
                &:first-child {
                  width: 20%;
                }
                &:last-child {
                  width: 45%;
                }
              }
            }
            tbody {
              border-bottom: 1px solid #ddd;
              tr:first-child {
                td {
                  padding-top: 27px;
                }
              }
              td {
                width: 35%;
                &:first-child {
                  width: 20%;
                }
                &:last-child {
                  width: 45%;
                }
              }
            }
          }
        }
      }

      .SingleDatePicker {
        width: 180px;
        .DateInput {
          width: 178px;
        }
      }
    }

    /* form-right */
    > li:last-child {
      width: 377px;
      margin-left: 20px;
      padding-top: 29px;
      select {
        width: 100%;
        margin: 0;
        background-position-x: 98%;
      }
      .btn-toolbar {
        margin: 12px 0;
        .btn {
          width: 100%;
          margin: 0;
        }
      }
      textarea {
        height: 430px;
        margin-top: 12px;
      }
    }
  }
}
