/* setting-component */
.setting-popup {
  /* 폰트 em 기준 설정 */
  font-size: 14px;

  > div > div > div {
    border-radius: 0 !important;
  }
}

.main-panel .content-system .setting-wrapper {
  background-color: #004a82;
  border: 1px solid #212c42;
  color: #666;

  > h1 {
    margin: 0;
    padding: 22px 20px 22px 72px;
    background: url("./Setting/img/bg_setting_tit01.png") no-repeat 25px 50%;
    font-size: 1.571em;
    font-weight: 400;
    color: #fff;

    & + div {
      padding: 20px 25px;
    }
  }

  &.gnb02 > h1 {
    background: url("./Setting/img/bg_setting_tit02.png") no-repeat 25px 50%;
  }

  &.gnb03 > h1 {
    background: url("./Setting/img/bg_setting_tit03.png") no-repeat 25px 50%;
  }

  &.gnb04 > h1 {
    background: url("./Setting/img/bg_setting_tit04.png") no-repeat 25px 50%;
  }

  h2 {
    margin: 0;
    font-size: 0.929em;
    font-weight: 700;
    color: #212c42;

    .time-mode {
      margin-left: 50px;
      display: inline-block;

      label {
        font-weight: bolder;
      }
    }
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .list-bul {
    > li > h2 {
      position: relative;
      margin-bottom: 5px;
      padding-left: 10px;

      &:before {
        display: inline-block;
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        margin-top: -2px;
        width: 4px;
        height: 4px;
        background-color: #010101;
        border-radius: 2px;
      }
    }
    .notice {
      margin-left: 20px;
      font-size: 0.8rem;
      color: #666;
    }
  }

  .setting-form-wrapper .btn.btn-default {
    width: 80px;
    height: 25px;
    padding: 2px 0 0;
    border-radius: 2px;
    border: none;
    background: #3a4a70;
    font-family: "돋움", "dotum";
    font-size: 13px;
    color: #fff;
  }

  .setting-close {
    display: inline-block;
    overflow: hidden;
    position: absolute;
    top: 20px;
    right: 25px;
    width: 27px;
    height: 27px;
    background: url("./img/bg_close_set.png") no-repeat 0 0;
    text-indent: -9999px;
  }

  .search-wrapper {
    label {
      margin-bottom: 0;
      font-size: 0.786em;
      font-weight: normal;
    }

    input {
      height: 25px;
      font-size: 13px;
    }

    .checkbox-inline {
      padding-left: 20px;
      font-size: 0.786em;

      input[type="checkbox"] + span {
        background: url("./img/bg_check_off03.png") no-repeat 0 0;
      }

      input[type="checkbox"]:checked + span {
        background-image: url("./img/bg_check_on03.png");
      }
    }

    textarea.form-control {
      width: 100% !important;
      margin: 0 !important;
    }

    .numeric-wrap {
      display: inline-block;
      line-height: 0;
      vertical-align: middle;
    }

    select {
      display: inline-block;
      width: 20%;
      height: 25px;
      margin-left: 8px;
      padding: 4px 10px;
      background: url("./img/bg_select04.png") no-repeat 92% 50%;
      border-radius: 0;
      border-color: #ccc;
      font-size: 13px;

      & + label {
        margin-left: 8px;
      }
    }
  }

  .setting-form-wrapper {
    max-height: 90vh;
    overflow-y: auto;
    background: #fff;
  }

  @media (max-width: 1023px) {
    .setting-form-wrapper {
      overflow-x: auto;
      max-height: 70vh;
      max-width: 90vw;
    }
  }

  .table-wrapper {
    overflow-y: scroll;
    background: #fbfbfb;

    table {
      font-size: 0.786em;

      thead {
        display: table;
        position: absolute;
        z-index: 1;

        th {
          background-size: auto 100%;

          &:after {
            top: calc(50% - 0.35em);
            height: 0.786em;
          }
        }
      }

      tfoot {
        td {
          border-bottom: 1px solid #ddd;
          font-weight: 700;
          color: #212c42;
        }
      }

      tbody {
        tr:first-child {
          td {
            padding-top: 27px;
          }
        }
      }
    }
  }

  .setting-form > .btn-toolbar {
    display: flex;
    justify-content: center;
    margin-top: 20px;

    .btn {
      width: 130px;
      height: 35px;
      background: #004a82;
      border-radius: 20px;
      font-size: 14px;
      font-weight: 700;
      color: #fff;
    }
  }

  .SingleDatePicker {
    font-size: 0;
    vertical-align: middle;

    .DateInput {
      font-size: 13px;
    }

    .DateInput__input {
      font-size: 13px;
    }

    .DateInput__display-text {
      padding-left: 5px;
    }
  }

  .numeric-wrap {
    margin-left: 5px;
  }
}

/* Gnb0101 */
#gnb0101 {
  .setting-form {
    //width: 1050px;
    width: 80vw;
    min-width: 950px;
  }

  @media (max-width: 1023px) {
    &.setting-form-wrapper {
      width: 755px;
      overflow-x: auto;
      //overflow-y: hidden;

      .setting-form {
        width: 975px;
        padding-right: 25px;
      }
    }
  }

  .search-wrapper {
    display: flex;
    justify-content: space-between;

    .list-bul {
      flex-basis: 40%;

      &:first-child {
        flex: 1;
        padding-right: 20px;
      }
    }

    .date-set {
      display: flex;
      align-items: center;
      margin-top: 8px;
      margin-bottom: 10px;
      padding-bottom: 10px;
      border-bottom: 1px solid #dfe0e2;

      > span:not(.numberic-wrap) {
        margin-right: 5px;
        font-size: 14px;
      }
    }

    .numeric-wrap {
      width: 15%;
      min-width: 70px;

      .rc-input-number.form-control.mid {
        width: 100%;
      }
    }

    .search-select {
      margin-bottom: 12px;
      padding-bottom: 10px;
      border-bottom: 1px solid #dfe0e2;

      div:nth-child(2) {
        margin-top: 5px;

        select + select {
          width: 90px;
          margin-left: 5px;
        }
      }
    }

    .filter-dim {
      margin: auto 20px;
      color: #8a8b8cb8;
      font-weight: 600;
    }

    .checkbox-inline {
      margin-left: 0;
      margin-right: 8px;
    }

    .btn-toolbar {
      display: flex;
      justify-content: center;

      .btn {
        width: 150px;
        height: 40px;
        padding-left: 20px;
        background: url("./Setting/img/bg_search.png") no-repeat 38px 50%;
        border: 1px solid #343944;
        border-radius: 20px;
        font-size: 14px;
        font-weight: 700;
        color: #343944;
      }
    }

    .count-table {
      //width: 335px;

      table {
        margin-bottom: 0;
        font-size: 1em;

        th,
        td {
          height: 35px;
          padding: 0;
          text-align: center;
          vertical-align: middle;
        }

        thead {
          background: #4c5566;
          color: #fff;

          th {
            position: relative;
            height: 27px;
            padding: 0;
            border: none;

            &:after {
              display: inline-block;
              content: "";
              position: absolute;
              top: 8px;
              left: 0;
              width: 1px;
              height: 10px;
              background: #7b7e85;
            }

            &:first-child::after {
              display: none;
            }
          }
        }

        tfoot {
          th {
            background: #fbfbfb;
          }

          td {
            border-left: 1px solid #ddd;
            text-align: right;
            padding-right: 3px;
          }
        }

        tbody {
          th {
            background: #fbfbfb;
          }

          td {
            border-left: 1px solid #ddd;
            text-align: right;
            padding-right: 3px;

            &.receptAmt {
              color: red;
            }

            &.returnAmt {
              color: blue;
            }
          }
        }
      }

      > div {
        display: flex;
        justify-content: space-around;
        padding: 10px 0;
        background: #fbfbfb;
        border-top: 1px solid #999;
        border-bottom: 1px solid #999;

        .form-group {
          margin-bottom: 0;
        }

        label {
          font-weight: 700;
          color: #212c42;
        }

        input {
          display: inline-block;
          width: 110px;
          margin-left: 7px;
          height: 20px;
          color: #ff6600;
          text-align: right;
        }
      }
    }
  }

  .sum-notice {
    display: block;
    margin: 10px 5px;
    color: #b61e95;
  }

  .search-result {
    position: relative;

    .search-count {
      margin: 10px 0 0 10px;
      font-size: 0.9em;
      color: #999;
    }

    .btn-toolbar {
      position: relative;
      right: 5px;
      bottom: 3px;
      float: right;

      .btn {
        font-weight: 700;
      }
    }

    .table-wrapper {
      height: 400px;
      width: 100%;

      table {
        thead {
          width: calc(100% - 18px);
          //min-width: 1030px;

          th {
            width: 4%;
            padding: 2px 0;

            &:nth-child(4) {
              width: 10%;
            }

            &:nth-child(15) {
              width: 8%;
            }

            &:last-child {
              width: 10%;
            }

            .caret {
              display: none;
            }

            &.on {
              color: #2ee791;

              .caret {
                display: inline-block;
              }

              .reverse {
                transform: rotate(180deg);
              }
            }
          }
        }

        tbody {
          tr {
            border-bottom: 1px #dfe0e2 solid;

            &:first-child {
              td {
                padding-top: 37px;
              }
            }

            &.first_pay {
              td {
                background: #acacac63;
                border: 1px solid #b6b6b6b9;
                color: #000;

                &:first-child,
                &:last-child {
                  border-left: none;
                }
              }
            }

            &:last-child {
              td {
                &:last-child {
                  border-bottom: 1px solid #dfe0e2;
                }
              }
            }

            td {
              width: 4%;
              padding: 3px 0px;
              vertical-align: middle;

              &:first-child {
                color: #010101;
                font-weight: 500;
              }

              &:nth-child(4) {
                width: 10%;
              }

              &:nth-child(15) {
                width: 8%;
              }

              &:last-child {
                width: 10%;
              }

              &.money {
                text-align: right;
                padding-right: 5px;
              }

              .card-no {
                text-decoration: underline;
                color: #8c2871;
              }

              .phone-no {
                text-decoration: underline;
                color: #2590c9;
              }

              .receptAmt {
                color: red;
              }

              .returnAmt {
                color: blue;
              }
            }
          }
        }

        tfoot {
          td {
            border-bottom: none;
          }
        }
      }
    }
  }

  .SingleDatePicker {
    min-width: 90px;
    width: 100px;
    flex: 1;

    .DateInput {
      width: 100%;
    }
  }
}
