/* 환경설정 탭 해당-시작 */
@media (max-width: 1023px) {
  form.setting-tab-scroll {
    /*width: 755px;
    overflow-x: auto;
    overflow-y: hidden;*/
    max-width: 90vw;
    overflow-x: auto;
    max-height: 70vh;
  }
}

.main-panel .content-system .setting-form-tab {
  width: 1000px;
  height: 730px;
  padding: 0;
  background-color: #212c42;

  .setting-tabs {
    float: left;
    width: 145px;
    max-height: 100%;
    overflow-y: auto;

    > ul {
      float: none;

      > li {
        float: none;
        margin: 0;
        border-bottom: 1px solid #3a4a70;
        height: 40px;

        &:first-child {
          margin: 0;
        }
      }
    }

    .nav-pills > li > a {
      display: flex;
      align-items: center;
      width: 100%;
      height: 38px;
      padding: 15px 10px 13px 20px;
      /*background-repeat: no-repeat;
      background-position: 23px 50%;*/
      border: none;
      border-radius: 0;
      font-family: "NanumSqaureRound";
      font-size: 0.857em;
      font-weight: 700;
      color: #fff;
      //text-align: left;

      &:hover {
        background-color: transparent;
        text-decoration: underline;
      }

      > svg {
        margin-top: 2px;
        margin-right: 5px;
        vertical-align: middle;
        font-size: 1.714em;
      }
    }

    .nav-pills > li.active > a,
    .nav-pills > li.active > a:focus,
    .nav-pills > li.active > a:hover {
      background-color: #fff;
      color: #3a4a70;
    }
  }

  .setting-form-wrapper {
    float: left;
    width: calc(100% - 145px);
    height: 100%;
    overflow-y: auto;
    max-height: inherit;

    .tab-content {
      height: 100%;
      background: #fff;
      border-radius: 0;

      .fade {
        padding: 20px 25px;
        position: absolute;
        visibility: hidden;

        &.in {
          position: relative;
          visibility: visible;
        }
      }

      .list-bul > li {
        & + li {
          margin-top: 13px;
          padding-top: 13px;
          border-top: 1px solid #ccc;
        }
      }
    }
  }
}

/* 환경설정 탭 해당-끝 */

.radio-inline {
  font-size: 0.786rem;
  margin-left: 5px;

  input[type="radio"] {
    display: none;
    -webkit-appearance: none;
  }

  input[type="radio"] + span {
    display: inline-block;
    position: absolute;
    left: 0;
    top: calc(50% - 8px);
    width: 16px;
    height: 16px;
    background: url("./img/bg_check_off03.png") no-repeat 0 0;
  }

  input[type="radio"]:checked + span {
    background: url("./img/bg_check_on03.png") no-repeat 0 0;
  }
}

/* Gnb0301-내용 공통 */
#gnb0301 {
  @media (max-width: 1023px) {
    &.setting-form-wrapper {
      max-height: inherit;
      max-width: inherit;
    }
  }

  .search-wrapper {
    > ul {
      width: 100%;
    }

    .date-set {
      margin-top: 8px;
      margin-bottom: 10px;
      padding-bottom: 10px;
      border-bottom: 1px solid #dfe0e2;
    }

    .checkbox-inline {
      font-size: 0.786em;

      &.checkbox04 {
        input[type="checkbox"] + span {
          background: url("./Setting/img/bg_check_off04.png") no-repeat 0 0;
        }

        input[type="checkbox"]:checked + span {
          background: url("./Setting/img/bg_check_on04.png") no-repeat 0 0;
        }
      }
    }
  }

  .separator {
    display: inline-block;
    height: 10px;
    float: none;
    margin: 0 13px;
    vertical-align: middle;
  }

  .btn-set-close {
    .btn {
      width: 130px;
      height: 38px;
      background-color: #023b67;
      border-radius: 20px;
      font-size: 14px;
      font-weight: 700;
    }
  }

  .txt-point {
    color: #333 !important;
  }
}

.checked-on {
  color: #f14747ea;
}
