@import "../mixin";

//스크롤 바 숨기기
.main-panel > .content-system > .content .room-list .room-box ::-webkit-scrollbar {
  width: 0;
}

.main-panel > .content-system > .content .room-list .room-box ::-webkit-scrollbar-thumb {
  background: none;
}

/* room */
dl {
  margin: 0;
  line-height: 1;
}

.react-contextmenu {
  z-index: 999;
  background-color: #fff;
  border: 3px rgba(206, 207, 218, 0.445) solid;
  border-radius: 5px;
  margin: -10px 0 0 10px;
  box-shadow: 4px 4px 10px rgba(39, 38, 38, 0.685);

  & > div {
    margin: 10px;
    color: #0d1111;

    &:hover {
      color: #e60808bd;
      transform: translate(-2px, -2px);
    }

    & span {
      position: absolute;
      margin: 3px 0 0 5px;
      cursor: pointer;
    }
  }
}

.tooltop {
  border: rgb(252, 249, 249) solid 1px;
  //font-size: 0.95rem;
  font-size: 13px;

  span {
    margin-left: 10px;
    text-shadow: rgba(0, 0, 0, 0.8) 1px 1px 1px;

    &.red {
      color: rgba(230, 39, 39, 0.842);
    }

    &.blue {
      color: rgba(63, 34, 231, 0.842);
    }

    &.yellow {
      color: yellow;
    }
  }

  .money {
    float: right;
  }

  .date {
    float: right;
  }
}

.room-list {
  display: flex;
  flex-wrap: nowrap;
  /*justify-content: space-between;*/
  margin: 10px 0 0 0;
  padding: 0;
  list-style: none;
  height: 100%;

  &:first-child {
    //margin-top: -10px;
  }

  > li {
    width: 9.6%;
    min-width: 101px;
    margin-top: 10px;
    margin-right: 0.45%;
    background-color: #f1f1f1;

    &:last-child {
      margin-right: 0;
    }
  }

  > div {
    width: 9.6%;
    min-width: 101px;
    margin-top: 10px;
    margin-right: 0.45%;
    background-color: #f1f1f1;

    &:last-child {
      // margin-right: 0;
    }
  }

  .room-box {
    overflow: hidden;
    border-radius: 2px;
    height: 100%;
    width: 100%;
    // transition: all 10ms linear;

    img {
      width: 100%;
      height: 100%;
    }

    select {
      width: 60%;
      height: inherit;
      padding: 0 0 0 6px;
      display: inline-block;
    }

    input {
      width: 70%;
      height: 23px;
      display: inline-block;
    }

    &.item-on {
      margin: 0 3px 3px 0;
    }

    &.item-off {
      box-shadow: 0px 0px 0px 0px rgba(49, 46, 46, 0);
      margin: 3px 0px 0px 3px;
      opacity: 0.1;
    }

    > dt {
      /* 객실번호 */
      position: relative;
      text-align: center;
      padding: 5px 0px;
      background-color: #fff;
      font-family: "NanumSquare";
      color: #212c42;
      font-weight: 600;
      line-height: 1em;

      > div:not(.key-wrap) {
        display: flex;
        justify-content: center;

        select {
          flex: 1;
        }
      }

      .drag {
        margin: -1px 0 0 -7px;
        cursor: pointer;
        width: 20%;
      }

      .remove {
        cursor: pointer;
        display: inline-block;
        width: 20%;
      }

      &.add {
        border: 0px solid #000;
        color: #333;
        text-align: center;
      }

      /* 객실신호관련 */
      .room-sign {
        position: absolute;
        left: 0;
        z-index: 100;
        width: 100%;

        .room-air {
          position: absolute;
          left: 0px;
          top: -3px;
          z-index: 100;

          &.on {
            color: #0d00ff !important;
          }

          &.off {
            color: #60605f !important;
          }
        }

        ul {
          display: flex;

          li {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 1.4em;
            height: 1.4em;
            margin-right: 5px;
            background: #fff;
            border: 1px solid #212c42;
            border-radius: 0.7em;
            list-style: none;
            font-size: 1em;
            font-weight: 800;
            color: #212c42;
            text-shadow: none;

            &.disabled {
              display: none;
            }

            &.car {
              left: 1.4em;
              top: 25px;
              position: absolute;
            }

            &.emerg {
              right: 2.4em;
              top: 25px;
              position: absolute;
            }

            .btn {
              display: flex;
              align-items: center;
              justify-content: center;
              width: 100%;
              height: 100%;
              border-radius: 0.7em;
              padding: 0;
              border: none;
              opacity: 0.7;

              &.on_call {
                animation: btn 1s linear infinite;
              }

              &.off_call {
                background: #fff;
                color: #42ec18fd;
              }

              @keyframes btn {
                0% {
                  background: #e7412b;
                  color: #fff;
                }

                50% {
                  background: #fff;
                  color: #d14e2d;
                }

                100% {
                  background: #e7412b;
                  color: #fff;
                }
              }

              svg {
                width: 0.6em;
                height: 0.6em;
              }
            }

            &.machine {
              position: absolute;
              top: 1.2em;
              right: 2px;
              border-radius: 5px;
              border: 1px solid #0eb1a5;
              font-weight: 900;
              font-size: 0.7em;
              opacity: 0.9;
              width: 2.2em;

              &.on_sign {
                background: #f7e81b;
                color: #d14e2d;
              }

              &.off_sign {
                display: none;
              }
            }
          }
        }
      }
    }

    > dd {
      /* 객실상태영역 */
      display: flex;
      justify-content: space-between;
      position: relative;
      background-color: #fff;
      height: 81%;
      max-height: calc(100% - 30px);

      &.add {
        border: 0px solid #000;
        color: #333;
        text-align: center;

        select {
          height: auto;
          color: #000;
          margin-top: 10px;
        }

        label {
          color: #666;
        }

        button {
          float: right;
          background-color: rgba(185, 40, 60, 0.842);
          color: #fff;
          font-size: 0.857em;
          padding: 2px 10px;
        }
      }

      .room-mode {
        position: absolute;
        display: flex;
        flex-direction: column;
        height: 80%;
        padding: 3px;
        box-sizing: border-box;
        z-index: 2;

        > div {
          display: flex;
          width: 1.2em;
          background: #7474745e;
          border-radius: 3px;
          border: solid rgba(96, 96, 96, 0.42) 1px;
          margin-top: 2px;

          &.on {
            background: #297999;
          }

          &.off {
            background: #af373d;
          }

          svg {
            width: 100%;
            height: 100%;
            font-size: 1em;
          }
        }
      }
    }

    .room-status {
      /* 객실이미지 */
      overflow: hidden;
      position: relative;
      height: 80%;
      max-height: calc(100% - 22px);
      z-index: 0;

      /* 각 상태 설정 */
      .dim {
        @include on-change(0, 0, 90, 100%, 100%, #000);
      }

      .interrupt {
        @include on-change(0, 0, 90, 100%, 100%, #000);
      }

      .door-close {
        @include on-change(9%, 41%, 10, 19%, 49%, url("../img/bg_door_close.png") no-repeat 0 100%/100% 100%);
        @include show-hide($opacity1, $show);
        //@include transition($time-250ms, $transition-ease-in);
      }

      .door-open {
        @include on-change(9%, 41%, 10, 0, 52%, url("../img/bg_door_open.png") no-repeat 0 100%/100% 100%);
        //@include transition($time-450ms, $transition-ease-out);
      }

      .men {
        @include on-change(auto, auto, 20, 48%, 88%, url("../img/bg_men.png") no-repeat 0 100%/100% 100%);
        right: 2%;
        bottom: 0;
      }

      .clean-ing {
        @include on-change(13%, 5%, 20, 90%, 90%, url("../img/bg_clean.png") no-repeat 0 100%/100%);

        &:before {
          @include status-text-before();
          top: 50%;
          background-image: linear-gradient(#d12c2b, #bf2b2a, #a82a2a);
          border: 1px solid #7d1a07;
        }

        &:after {
          @include status-text-after("청소중");
          top: 50%;
        }
      }

      .clean-ready {
        @include on-change(auto, 5%, 20, 97%, 100%, url("../img/bg_cleanstart.png") no-repeat 0 100%/100% 100%);
        bottom: -13%;

        &:before {
          @include status-text-before();
          background-image: linear-gradient(#19bfea, #0db1d7, #01a2c4);
          border: 1px solid #236983;
          top: 44%;
        }

        &:after {
          @include status-text-after("청소대기");
          top: 44%;
        }
      }

      .clean-end {
        @include on-change(auto, 5%, 20, 95%, 100%, url("../img/bg_cleanend.png") no-repeat 0 100%/100% 100%);
        bottom: -6%;

        &:before {
          @include status-text-before();
          background-image: linear-gradient(#ffff00, #ff9102, #a77c24);
          border: 1px solid #27531c;
          top: 50%;
        }

        &:after {
          @include status-text-after("청소완료");
          top: 50%;
        }
      }

      //////// 인스펙트 관련 스타일 정의 //////////
      .inspect-ready {
        // @include on-change(13%, 5%, 20, 90%, 90%, url("../img/bg_inspect_read.png") no-repeat 0 100%/100%);
        @include show-hide($opacity0, $hide);

        &:before {
          @include status-text-before();
          top: 55%;
          background-image: linear-gradient(#da0ef5, #da0ef5da, #da0ef5d3);
          border: 1px solid #757d07;
        }

        &:after {
          @include status-text-after("점검대기");
          top: 55%;
        }
      }

      .inspect-ing {
        // @include on-change(auto, 5%, 20, 97%, 100%, url("../img/bg_inspect_ing.png") no-repeat 0 100%/100% 100%);
        @include show-hide($opacity0, $hide);

        &:before {
          @include status-text-before();
          background-image: linear-gradient(#db382c, #db382c, #bd1958);
          border: 1px solid #1b1da5;
          top: 55%;
        }

        &:after {
          @include status-text-after("점검 중");
          top: 55%;
        }
      }

      .inspect-end {
        // @include on-change(auto, 5%, 20, 95%, 100%, url("../img/bg_inspect_end.png") no-repeat 0 100%/100% 100%);
        @include show-hide($opacity0, $hide);

        &:before {
          @include status-text-before();
          background-image: linear-gradient(#38df54fa, #5ac96df1, #38df54fa);
          border: 1px solid #2917ce;
          top: 55%;
        }

        &:after {
          @include status-text-after("점검완료");
          top: 55%;
        }
      }

      .isc-sale-stop {
        @include on-change(0%, 0%, 20, 100%, auto, url("../img/bg_isc_sale_stop.png") no-repeat center/25%);
        bottom: 0%;
      }

      .isc-saling {
        @include on-change(auto, 5%, 91, 95%, 100%, url("../img/bg_isc_saling.png") no-repeat 0 100%/100% 100%);
        bottom: -6%;
      }

      .out {
        @include on-change(21%, 5%, 20, 95%, 95%, none);

        &:before {
          @include status-text-before();
          background-image: linear-gradient(#3f6d8e, #325a79, #224360);
          border: 1px solid #162c3f;
        }

        &:after {
          @include status-text-after("외출");
        }
      }

      .checkout {
        @include on-change(21%, 5%, 20, 95%, 95%, none);

        &:before {
          @include status-text-before();
          background-image: linear-gradient(#6565cc, #4b4bcc, #3535cc);
          border: 1px solid #242a7b;
        }

        &:after {
          @include status-text-after("퇴실");
        }
      }

      .checkin {
        @include on-change(21%, 5%, 100, 95%, 95%, none);

        &:before {
          @include status-text-before();
          background-image: linear-gradient(#cc6321, #dd7021, #ef7e20);
          border: 1px solid #94531f;
        }

        &:after {
          @include status-text-after("예약");
        }
      }

      .notice {
        position: absolute;
        width: 100%;
        bottom: 0px;
        left: 0px;
        z-index: 70;
        font-size: 0.929em;
        text-align: center;

        & > div {
          background-color: #040404;
          padding: 3px 5px;
          white-space: pre-line;
        }
      }

      .theft {
        @include on-change(5%, 35%, 100, 35%, 100%, url("../img/bg_theft.png") no-repeat 0 0/100%);
      }

      .security {
        @include on-change(18%, 28%, 30, 37%, 65%, url("../img/bg_secu.png") no-repeat 0 0/100%);
      }

      .alarm {
        @include on-change-right(5%, 0%, 30, 10%, 40%, url("../img/bg_alarm.png") no-repeat 0 0/100%);
      }

      select {
        height: auto;
        color: #000;
        margin-top: 10px;
      }
    }

    .room-info {
      width: 100%;
      height: 100%;
      position: relative;

      /* 객실정보 */
      p {
        margin: 0;
        font-weight: 700;
      }

      &.off {
        opacity: 0;
      }

      .room-data {
        overflow: hidden;
        border-top: 1px solid rgba(53, 52, 52, 0.521);
        height: 20%;
        min-height: 22px;
        width: 100%;
        z-index: 3;
        position: absolute;
        bottom: 0px;

        .mode {
          float: left;
          width: 70px;

          + .mode {
            margin-top: 4px;
          }

          > div {
            float: left;
            width: 20px;
            height: 20px;
          }
        }

        &.clean {
          > div {
            text-shadow: #fff 1px 1px 5px;
          }

          .time {
            span {
              &.in {
                color: #fff;
                font-size: 0.857em;
              }

              &.use {
                color: #000;
              }
            }
          }
        }

        > div {
          display: flex;
          justify-content: space-between;
          align-items: center;
          height: 100%;
          width: 100%;
          padding: 0 8px;
          background: #f3f3f394;
          opacity: 0.8;
        }

        .temp {
          position: absolute;
          color: #8e1f80;
          font-weight: 500;
          font-size: 1em;
          text-shadow: #8768b1 1px 1px 10px;

          span {
            font-size: 0.7em;
          }
        }

        .time {
          position: absolute;
          right: 1px;
          color: #000;
          font-size: 1.2em;
          text-shadow: #fff 1px 1px 5px;

          &.mdi-timer-sand {
            color: rgba(7, 21, 48, 0.94);
          }

          span {
            line-height: 1;
            letter-spacing: 0px;
            text-align: right;
            margin-left: 3px;
            color: #000;
            border: 1px solid #ffffff00;

            &.in {
              color: #6f070d;
              font-size: 0.857em;
            }

            &:last-child {
              margin-left: 5px;
            }

            &.use {
              color: #000;
            }

            &.over {
              font-weight: bold;
              font-stretch: expanded;
              color: #e02c14fa;
              transition-property: all;
              transition-timing-function: ease-out;
              transition-timing-function: cubic-bezier(0, 0, 0.58, 1);
            }

            &.tick {
              border: 1px solid #bd1414;
            }
          }
        }
      }
    }

    .room-count {
      /* 객실별집계 */
      display: block;
      position: absolute;
      z-index: 100;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      padding: 5px 5px;
      background: #d6e2c2;
      color: #212c42;
      font-size: 0.857em;
      text-align: right;
      color: #999999;
      overflow-y: auto;

      &.sale {
        color: #000000;
      }

      &.recept {
        color: #ac2121;
      }

      dt {
        float: left;
        line-height: 12px;
      }

      dd {
        display: inline;
        line-height: 12px;
      }

      .space {
        margin-top: 5px;
      }
    }

    /* 객실키 */
    > dt div.key-wrap {
      position: relative;

      > div {
        text-align: center;

        &.name {
          &.over {
            color: rgba(233, 50, 50, 0.753);
          }

          &.bounce {
            animation: bounce 3s;
            -webkit-animation: bounce 2s;
            -moz-animation: bounce 2s;
            -o-animation: bounce 2s;
          }

          &.reserv {
            margin: 0 1px;
            background: #f7f327a1;

            .room-name {
              overflow: hidden;
              color: #008000c4;

              &.animate {
                -webkit-animation-name: slide;
                animation-name: slide;
                -webkit-animation-duration: 30s;
                animation-duration: 30s;
                -webkit-animation-timing-function: linear;
                animation-timing-function: linear;
                animation-iteration-count: infinite;
                -webkit-animation-iteration-count: infinite;
                animation-delay: 5s;
                -webkit-animation-delay: 5s;
              }
            }
          }

          @keyframes slide {
            0% {
              -webkit-transform: translateX(0);
            }

            1% {
              -webkit-transform: translateX(-20px);
            }

            2% {
              -webkit-transform: translateX(20px);
            }

            3% {
              -webkit-transform: translateX(-10px);
            }

            4% {
              -webkit-transform: translateX(10px);
            }

            5% {
              -webkit-transform: translateX(0px);
            }
          }

          .on_reserv {
            border: 1px solid #212c42;
            border-radius: 0.9em;
            background: #f92718;
            color: #fffa3b;
            font-size: 0.7em;
            opacity: 0.9;
            float: left;
            width: 1.7em;

            &.in {
              background: #14c91d;
              color: #fff;
            }
          }

          .on_time_option {
            border: 1px solid #e8338f;
            border-radius: 0.5em;
            background: #fbf5f5b0;
            color: #353227;
            font-size: 0.7em;
            font-weight: 400;
            opacity: 0.9;
            float: left;
          }

          .hide {
            display: none;
          }

          .show {
            display: inherit;
          }
        }

        &.room_state {
          font-size: 0.857em;
          color: rgba(117, 113, 117, 0.57);
          margin-left: 2px;
          position: absolute;
          width: 45px;
        }

        &.key {
          position: absolute;
          top: 0px;
          right: 0px;
          font-size: 1em;
          color: rgba(50, 45, 59, 0.719);
          text-shadow: -1px -1px 1px #fff;

          &:before {
            transform: rotate(-90deg);
          }

          &.mdi-key {
            color: rgba(80, 9, 211, 0.719);
          }

          &.mdi-broom {
            color: rgba(228, 22, 22, 0.555);
          }

          &.mdi-eye {
            color: rgba(208, 41, 186, 0.88);
          }
        }
      }
    }

    /* 집계 */
    &.count {
      .room-count {
        display: block;
      }
    }

    .room-title {
      color: #2f2f2fd4 !important;
      text-shadow: 0px 0px 0px, 1px 1px 1px #060606;
      font-size: 1.429em;
      height: 20%;
      min-height: 30px;

      &.checkout {
        background: #ffffff59 !important;
        border: #000 1px dashed;
      }
    }

    /* 객실상태 */
    // 공실
    .room-txtcolor0 {
      color: #71746f8c !important;
    }

    // 숙박
    .room-txtcolor1 {
      // text-shadow: 0px 0px 0px, 1px 2px 3px;
      background-color: #ffab3e !important;
    }

    // 대실
    .room-txtcolor2 {
      // text-shadow: 0px 0px 0px, 1px 2px 3px;
      background-color: #52d3ee !important;
    }

    // 장기
    .room-txtcolor3 {
      // text-shadow: 0px 0px 0px, 1px 2px 3px;
      background-color: #ff727a !important;
    }

    // 외출
    .room-txtcolor5 {
      // text-shadow: 0px 0px 0px, 0px 0px 0px;
      background-color: #9c9c9c70 !important;
    }

    /* 문열림 */
    &.door-on {
      .door-close {
        width: 0;
      }

      .door-open {
        width: 25%;
      }
    }

    /* 상태 on */
    &.door-on .door-close,
    &.door-on .door-open,
    &.men-on .men,
    &.clean-ing-on .clean-ing,
    &.clean-ready-on .clean-ready,
    &.clean-end-on .clean-end,
    &.inspect-ready-on .inspect-ready,
    &.inspect-ing-on .inspect-ing,
    &.inspect-end-on .inspect-end,
    &.isc-sale-stop-on .isc-sale-stop,
    &.out-on .out,
    &.notice-on .notice,
    &.security-on .security,
    &.theft-on .theft,
    &.alarm-on .alarm,
    &.checkout-on .checkout,
    &.checkin-on .checkin {
      @include show-hide($opacity1, $show);
    }

    &.door-open {
      z-index: 1;
    }

    &.dim-on .dim {
      //@include show-hide($opacity05, $show);
      z-index: 0;
      opacity: 0.3;
      display: block;
    }

    &.interrupt-on .interrupt {
      z-index: 90;
      background-color: rgba(37, 44, 109, 0.74);
      display: block;
    }

    &.isc-saling-on .isc-saling {
      z-index: 90;
      background-color: rgba(37, 44, 109, 0.74);
      display: block;
    }

    &.air-on .air {
      //background-image: url('./img/bg_air_on.png') !important;
      transform: rotate(720deg);
    }

    /* 컬러 모드 추가 */
    &.color-mode {
      .room-info {
        width: 100%;

        .room-status {
          .door-close,
          .door-open {
            left: 41%;
            height: 65%;
          }
        }
      }
    }

    /* 텍스트 모드 추가 */
    &.text-mode {
      padding: 0px;
      border-radius: 0;

      img {
        display: none;
      }

      .room-title {
        border-radius: 0;
        text-shadow: 0px 0px 0px, 1px 1px 1px #060606;

        .reserv {
          top: 0px;
          left: -3px;
        }
      }

      > dd {
        overflow: hidden;

        .room-mode {
          position: absolute;
          left: 0;
          height: 80%;

          svg {
            vertical-align: middle;
          }

          .power,
          .air,
          .signal,
          .isc_sale {
            margin-bottom: 2px;
            background: #fff;
            border: 1px solid #212c42;
            color: #999;

            &.on {
              color: #e6424adc;
            }

            &.off {
              color: #666666;
            }
          }
        }
      }

      .room-info {
        width: 100%;

        .room-status {
          //max-height: calc(100% - 30px);
          z-index: 0;

          .door-close,
          .door-open {
            left: 70%;
            height: 70%;
          }

          .men,
          .clean-ing,
          .clean-ready,
          .clean-end,
          .inspect-ready,
          .inspect-ing,
          .inspect-end {
            background: none;
          }

          .clean-ing,
          .clean-ready,
          .clean-end,
          .inspect-ready,
          .inspect-ing,
          .inspect-end,
          .isc-sale-stop,
          .isc-saling,
          .out,
          .checkin,
          .checkout {
            &:before {
              background: none;
              border: none;
            }

            &:after {
              top: 50%;
              text-shadow: 2px 2px 2px #000;
            }
          }

          .clean-ready {
            &:after {
              content: "";
              top: -15%;
              left: -15%;
              width: 100%;
              height: 100%;
              margin: 0;
              background: url("../img/bg_clean_ready_text.png") no-repeat center/25% 75%;
            }
          }

          .clean-ing {
            &:after {
              content: "";
              top: -10%;
              left: -10%;
              width: 100%;
              height: 100%;
              margin: 0;
              background: url("../img/bg_clean_ing_text.png") no-repeat center/50% 50%;
            }
          }

          .clean-end {
            &:after {
              content: "";
              top: -15%;
              left: -15%;
              width: 100%;
              height: 100%;
              margin: 0;
              background: url("../img/bg_clean_end_text.png") no-repeat center/25% 75%;
            }
          }

          .inspect-ready {
            &:after {
              content: "";
              top: 0%;
              left: -10%;
              width: 100%;
              height: 100%;
              margin: 0;
              background: url("../img/bg_inspect_ready_text.png") no-repeat center/60% 80%;
            }
          }

          .inspect-ing {
            &:after {
              content: "";
              top: -2%;
              left: -10%;
              width: 100%;
              height: 100%;
              margin: 0;
              background: url("../img/bg_inspect_ing_text.png") no-repeat center/70% 140%;
            }
          }

          .inspect-end {
            &:after {
              content: "";
              top: 0;
              left: -10%;
              width: 100%;
              height: 100%;
              margin: 0;
              background: url("../img/bg_inspect_end_text.png") no-repeat center/60% 80%;
            }
          }

          .isc-sale-stop {
            top: -5%;
            left: -10%;
            width: 100%;
            height: auto;
            background-size: 25% 75%;

            &:after {
              content: "";
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              margin: 0;
              background: url("../img/bg_isc_sale_stop.png") no-repeat 30% 0/40% 60%;
            }
          }

          .isc-saling {
            top: -15%;
            left: 15%;
            z-index: 91;
            width: 50%;
            height: 130%;

            &:after {
              content: "";
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              margin: 0;
              background: url("../img/bg_isc_saling.png") no-repeat 30% 0/40% 60%;
            }
          }

          .out,
          .checkout,
          .checkin {
            top: 15%;
            left: 10%;
            width: 65%;
            height: 120%;

            &:after {
              width: 100px;
              height: 60px;
              margin: -50px 0 0 -50px;
              font-size: 3rem;
            }
          }

          .out {
            &:after {
              content: "";
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              margin: 0;
              background: url("../img/bg_out_text.png") no-repeat 50% 0/60% 40%;
            }
          }

          .checkout {
            &:after {
              content: "";
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              margin: 0;
              background: url("../img/bg_checkout_text.png") no-repeat 50% 0/60% 40%;
            }
          }

          .checkin {
            &:after {
              content: "";
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              margin: 0;
              background: url("../img/bg_checkin_text.png") no-repeat 50% 0/60% 40%;
            }
          }

          //새로 추가-공실, 대실, 숙박, 장기
          .empty,
          .rent,
          .stay,
          .long {
            @include on-change(15%, 10%, 60, 65%, 95%, none);

            &:after {
              @include status-text-after("");

              content: "";
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              margin: 0;
            }
          }

          .empty {
            &:after {
              background: url("../img/bg_empty_text.png") no-repeat 50% 0/60% 50%;
            }
          }

          .rent {
            &:after {
              background: url("../img/bg_rent_text.png") no-repeat 50% 0/60% 50%;
            }
          }

          .stay {
            &:after {
              background: url("../img/bg_stay_text.png") no-repeat 50% 0/60% 50%;
            }
          }

          .long {
            &:after {
              background: url("../img/bg_long_text.png") no-repeat 50% 0/60% 50%;
            }
          }

          .notice {
            z-index: 70;

            > div {
              background-color: #040404;
              padding: 3px 5px;
              white-space: pre-line;
            }
          }
        }

        .room-data {
          select {
            max-height: 30px;
            margin: 0 auto;
          }
        }
      }

      &.empty-on .room-info .room-status .empty,
      &.isc-sale-stop-on .room-info .room-status .isc-sale-stop,
      &.isc-saling-on .room-info .room-status .isc-saling,
      &.rent-on .room-info .room-status .rent,
      &.stay-on .room-info .room-status .stay,
      &.long-on .room-info .room-status .long {
        @include show-hide($opacity1, $show);
      }
    }

    /* 텍스트 모드 추가 */
  }
}

@-webkit-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateY(0);
  }

  40% {
    -webkit-transform: translateY(-20px);
  }

  60% {
    -webkit-transform: translateY(-10px);
  }
}

@-moz-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -moz-transform: translateY(0);
  }

  40% {
    -moz-transform: translateY(-20px);
  }

  60% {
    -moz-transform: translateY(-10px);
  }
}

@-o-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -o-transform: translateY(0);
  }

  40% {
    -o-transform: translateY(-20px);
  }

  60% {
    -o-transform: translateY(-10px);
  }
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-20px);
  }

  60% {
    transform: translateY(-10px);
  }
}

@media (max-width: 1400px) {
  .room-list {
    flex-wrap: wrap;
  }
}

/* 스위치 스타일 */

/*.has-switch {
  width: 53px;
  margin-bottom: -2px;
  border-radius: 9px;
}

.has-switch span {
  height: 18px;
  padding-top: 1px;
  padding-bottom: 0;
  font-size: 0.714rem;
  text-indent: -11px;
  cursor: default;
}

.has-switch span.switch-left {
  background-color: #60c0fc;
  border-radius: 9px 0 0 9px;
}

.has-switch span.switch-right {
  border-radius: 0 9px 9px 0;
  background-color: #60c0fc;
  text-indent: -12px;
  left: -1px;
}

.has-switch .switch-off span.switch-left {
  background-color: #818181;
}

.has-switch .switch-off span.switch-right {
  background-color: #818181;
}

.has-switch>div label {
  border-radius: 6px;
  height: 12px;
  margin: 3px -12px;
  width: 12px;
  cursor: default;
}

.has-switch:hover .switch-off label {
  width: 13px;
  margin: 3px -12px;
}

.has-switch:hover .switch-on label {
  width: 13px;
  margin: 3px -13px;
}*/
