/* Gnb030107 */
#gnb030107 {
  .search-wrapper > ul > li {
    .checkbox-inline {
      margin-left: 0;
      margin-right: 15px;
    }

    > div {
      display: inline-block;
      margin-right: 20px;

      > .checkbox-inline {
        margin-top: 5px;
      }

      > .form-content {
        justify-content: space-between;
        padding-top: 5px;

        > div {
          margin-right: 20px;
        }

        > .btn-toolbar {
          align-self: center;
        }

        > .comment {
          margin: 20px;
          font-size: 1rem;
        }
      }
    }
  }

  .btn-set-close {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

  .audio-set {
    margin: 5px auto;
    padding: 5px;
    border: 1px #ccc solid;
    color: rgb(122, 63, 81);

    span {
      color: rgb(85, 88, 94);
      font-size: 14px;
    }
  }
}
