.room-checkin {
  .room-move {
    background-color: #212c42;
    border: 1px solid #131926;
    color: #666;

    h1 {
      text-align: left;
    }

    .move-form-wrapper {
      width: 300px;
      background: #fff;
      padding: 15px 8px;

      h2 {
        margin-bottom: 5px;
      }

      .table-wrapper {
        overflow-y: scroll;
        height: 350px;

        table {
          border-bottom: 1px solid #dfe0e2;

          thead {
            display: table;
            position: absolute;
            width: 280px;

            th {
              font-size: 1.2em;

              .caret {
                display: inline-block;
                color: #2ee791;
              }

              .desc {
                transform: rotate(180deg);
              }

              &:first-child {
                width: 50%;
              }
            }
          }

          tbody {
            border-bottom: 1px solid #dfe0e2;

            tr:first-child td {
              height: 47px;
              padding-top: 25px;
            }

            tr {
              &.on td {
                background-color: palegoldenrod;
                font-weight: bold;
                color: brown;
              }
            }

            td {
              height: 25px;
              border-top: 1px solid #dfe0e2;
              color: #111;
              font-size: 1.6em;

              &:first-child {
                width: 50%;
              }
            }
          }
        }

        & + .btn-toolbar {
          display: flex;
          justify-content: center;
          margin-top: 15px;
        }
      }
    }

    .move-close {
      display: inline-block;
      overflow: hidden;
      position: absolute;
      top: 10px;
      right: 14px;
      width: 14px;
      height: 14px;
      background: url("./img/bg_news_close.png") no-repeat 0 0;
      text-indent: -9999px;
    }
  }
}
