.sweet-alert {
  button {
    opacity: 0.8;

    &:hover {
      opacity: 1;
    }
  }

  .cancel + .sa-confirm-button-container {
    display: inline-block;
  }

  .info-form {
    width: 90%;
    margin: 0 auto;
    text-align: left;

    > span {
      font-weight: 700;

      & + .form-group {
        margin-top: 10px;
      }
    }

    .form-group {
      display: flex;
      align-items: center;
      font-size: 0.929em;

      label {
        flex: 1;
      }

      input {
        display: inline-block;
        flex: 3;
        margin: 0;
      }
    }
  }
}

/* gnb0203 */
#gnb0203 {
  min-width: 1400px;

  @media (max-width: 1023px) {
    &.setting-form-wrapper {
      min-width: inherit;

      .setting-form {
        min-width: 1024px;
        padding-right: 25px;
      }
    }
  }

  .search-result {
    position: relative;

    > .btn-toolbar {
      display: flex;
      justify-content: center;
      margin-bottom: 20px;

      .btn {
        &:nth-child(2) {
          background: #c0805d;
        }
        &:nth-child(3) {
          background: #7e7c7e;
        }
        &:nth-child(4) {
          background: #cf4d95;
        }

        font-weight: 700;
      }
    }

    .select-layout {
      display: flex;

      .table-wrapper {
        width: 80%;
        height: 577px;
        margin-right: 20px;

        table {
          thead {
            width: 78%;
            height: 30px;

            th {
              width: 7%;
              cursor: pointer;

              &:first-child {
                width: 4%;
              }

              &:nth-child(4) {
                width: 4%;
              }

              &:nth-child(8),
              &:nth-child(9),
              &:nth-child(10),
              &:nth-child(11),
              &:nth-child(12) {
                width: 5%;
              }

              &.on {
                color: #2ee791;

                &.reverse {
                  color: #c637e2;
                }
              }
            }
          }

          tbody {
            border-bottom: 1px solid #ddd;

            tr:first-child td {
              padding-top: 3em;
            }

            tr.on td {
              color: #fff;
              background: #131b20;
            }

            td {
              width: 7%;

              &:first-child {
                width: 4%;
              }

              &:nth-child(4) {
                width: 4%;
              }

              &:nth-child(8),
              &:nth-child(9),
              &:nth-child(10),
              &:nth-child(11),
              &:nth-child(12) {
                width: 5%;
              }

              &.isc_sale.no {
                color: #cf3535;
              }
            }

            .checkbox-inline {
              width: 10px;
              height: 13px;
              padding: 0;

              input[type="checkbox"] + span {
                background: url("./img/bg_check_off.png") no-repeat 0 0;
              }

              input[type="checkbox"]:checked + span {
                background-image: url("./img/bg_check_on.png");
              }
            }
          }
        }
      }

      .btn-toolbar {
        width: 20%;
        text-align: center;

        .btn {
          float: none;
          width: 100%;
          height: 30px;
          border-radius: 20px;
          font-size: 14px;

          &.btn-set-cancel {
            margin: 20px;
            width: 130px;
            height: 38px;
            font-weight: 700;
          }
        }

        > div {
          margin-top: 15px;

          &.button {
            position: relative;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            .btn {
              width: 32%;
              &.hide {
                opacity: 0;
              }
            }
          }

          &:first-child {
            span {
              display: block;
              margin-top: 5px;
              font-size: 0.857em;
              text-align: center;
            }
          }

          .btn:last-child {
            margin-bottom: 0;
          }

          &.notice {
            margin: 20px 0;
            text-align: center;

            > span {
              font-size: 1em;
              color: #3c4b57;
            }

            > textarea {
              height: 60px;
            }

            > div {
              display: flex;
              float: none;
              margin: 10px 20px;
              justify-content: space-between;

              .btn {
                width: 40%;
                border-radius: 5px;
                height: 25px;

                &:last-child {
                  background-color: #cf3535;
                  color: #fff;
                }
              }
            }
          }

          &.isc_sale {
            margin: 20px 0;
            border: 1px solid #ccc;
            background: #f2ffd5;
            text-align: center;

            > span {
              font-size: 0.929em;
              color: #3c4b57;
              margin-right: 10px;
            }

            .btn {
              width: 25%;
              height: 25px;
              border-radius: 5px;
              margin: 3px;

              &.stop {
                margin-left: 5px;
                background-color: #cf3535;
                color: #fff;
              }
            }
          }
        }
      }
    }
  }
}
