/* Gnb0202 */
#gnb0202 {
  @media (max-width: 1023px) {
    &.setting-form-wrapper {
      .search-result {
        max-height: inherit;
        min-width: 710px;
        .select-layout .search-wrapper {
          max-width: inherit;
        }
      }
      .btn-set-close {
        min-width: 710px;
      }
    }
  }

  .search-result {
    position: relative;
    min-height: 40vh;
    max-height: 70vh;

    .select-layout {
      display: flex;

      > .btn-toolbar {
        width: 200px;

        .type-list > div {
          display: flex;

          .btn {
            float: none;
            margin-bottom: 5px;
            border-radius: 3px;
            font-size: 13px;
            height: 25px;
            width: 80%;

            &.selected {
              color: #ffffff !important;
              background-color: #110988 !important;
            }

            &:first-child {
              margin: 0px;
            }

            &:last-child {
              width: 15%;
              margin-left: 10px;
              background: #394147;

              > span {
                font-size: 15px;
              }
            }

            &.add {
              margin-left: 85%;
              background: #023b67;
            }
          }
        }
      }

      .search-wrapper {
        margin: 0 20px;
        border: 1px solid #eee;
        padding: 20px;
        max-width: 70vw;
        width: 600px;

        .list-bul > li {
          & + li {
            margin-top: 13px;
            padding-top: 13px;
            border-top: 1px solid #ccc;
          }

          h2 > span {
            color: #888 !important;
            font-size: 0.857em !important;
          }

          .form-content {
            margin: 10px 0;

            > label {
              margin-left: 15px;

              &.ota-name {
                width: 10%;
              }

              &.ota-name + input {
                max-width: 80%;
              }
            }

            > input[type="text"] {
              display: inline;
              margin-left: 5px;
              max-width: 200px;

              &.long-txt {
                max-width: 500px;
              }
            }

            .numeric-wrap {
              width: 100px;

              &.small {
                width: 67px;
              }
            }
          }
        }
      }
    }
  }

  .btn-set-close {
    display: flex;
    justify-content: center;
    margin-top: 50px;

    .btn {
      width: 130px;
      height: 38px;
      background-color: #023b67;
      border-radius: 20px;
      font-size: 14px;
      font-weight: 700;

      &:first-child {
        background-color: #303941;
      }
    }
  }
}
