/* Gnb050301 */
#gnb050301 {
  .search-wrapper {
    select {
      width: 100px;
    }

    .date-set {
      display: inline;

      > span:not(.numberic-wrap) {
        margin-right: 5px;
        font-size: 14px;
      }

      .SingleDatePicker {
        width: 110px;
        margin: 0 5px;

        .SingleDatePickerInput {
          border-color: #ccc;
          width: 110px;

          .DateInput {
            width: 100px;
            margin: 0;
            padding: 2px;
            background: #fff;
            vertical-align: middle;
            border-radius: 3px;

            input {
              color: #000 !important;
              font-weight: 400;
            }
          }
        }
      }
    }

    > .list-bul {
      > h2 {
        margin-bottom: 10px;
      }

      .search-result {
        position: relative;
      }

      ::-webkit-scrollbar {
        width: 4px;
      }

      ::-webkit-scrollbar-track-piece {
        background: none;
      }

      ::-webkit-scrollbar-thumb {
        background: rgba(0, 0, 0, 0.3);
        border-radius: 4px;
      }

      .reserv-state {
        width: 100px;
      }

      .form-group {
        display: flex;
        margin: 10px 0;

        .search-text {
          width: 180px;
          display: inline-block;
          margin: 0 15px;
        }
      }

      .table-wrapper {
        width: 100%;
        height: 60vh;
        font-size: 1.1em;

        table {
          thead {
            width: calc(100% - 6px);
            height: 20px;

            th {
              width: 11%;
              cursor: pointer;

              font-weight: 600;

              &:nth-child(1),
              &:nth-child(2) {
                width: 6%;
              }

              &:nth-child(3) {
                width: 20%;
              }

              &:nth-child(4) {
                width: 6%;
              }

              .caret {
                display: none;
              }

              &.on {
                color: #2ee791;

                .caret {
                  display: inline-block;
                }

                .asc {
                  transform: rotate(180deg);
                }
              }
            }
          }

          tbody {
            border-bottom: 1px solid #ddd;

            tr {
              cursor: pointer;

              &:first-child td {
                padding-top: 30px;
              }

              &:hover {
                td {
                  font-weight: bold;
                  color: #146d90;
                }
              }
            }

            td {
              width: 11%;
              word-break: break-all;

              font-size: 0.929em;
              font-weight: 400;

              padding-left: 0;
              padding-right: 0;

              color: #333;

              &:nth-child(1),
              &:nth-child(2) {
                width: 6%;
              }

              &:nth-child(3) {
                width: 20%;
              }

              &:nth-child(4) {
                width: 6%;
              }

              &.as {
                color: #e21717;
              }

              &.done {
                color: #3118c0;
              }
            }
          }
        }
      }
    }
  }

  .btn-set-close {
    display: flex;
    justify-content: center;
    margin-top: 15px;
  }
}

@media (max-width: 1440px) {
  #gnb050301 {
    th:nth-child(11) {
      background-position-x: 100%;
    }
  }
}

@media (max-width: 1023px) {
  #gnb050301 {
    th:nth-child(7) {
      background-position-x: 100%;
    }
  }

  .gnb04 form.setting-tab-scroll {
    width: inherit;
  }
}

@media (max-width: 767px) {
  .main-panel .content-system .gnb04 .setting-form-tab {
    .setting-tabs {
      width: 25px;

      .nav-pills > li > a {
        padding: 13px 5px;
        font-size: 0;

        > svg {
          font-size: 14px;
        }
      }
    }

    .setting-form-wrapper {
      width: calc(100% - 25px);

      .tab-content .fade {
        padding: 20px 10px;
      }
    }
  }

  #gnb050301 {
    th:nth-child(4) {
      background-position-x: 100%;
    }
  }
}
