/* Gnb030106 */
#gnb030106 {
  .search-wrapper > ul > li {
    /* 투숙형태별 배경색 지정 */
    &:nth-child(1) {
      .btn-toolbar {
        position: relative;

        .color-picker {
          position: absolute;
          top: 40px;
          left: 20%;
          z-index: 100;
          margin-left: -100px;

          .picker-close {
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
          }
        }
      }

      .btn {
        width: 100px;
        height: 30px;
        border-radius: 15px;
        font-size: 13px;
        font-weight: 700;

        &:nth-child(9) {
          float: right;
          width: 90px;
        }
      }

      .w1 {
        width: 62px;
      }

      .w2 {
        width: 67px;
      }

      .w3 {
        width: 70px;
      }
    }

    /* 키 색 설정 */
    &:nth-child(2) {
      .btn-toolbar {
        position: relative;

        .color-picker {
          position: absolute;
          top: 40px;
          left: 20%;
          z-index: 100;
          margin-left: -100px;

          .picker-close {
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
          }
        }
      }

      .btn {
        width: 100px;
        height: 30px;
        border-radius: 15px;
        font-size: 13px;
        font-weight: 700;

        &:nth-child(9) {
          float: right;
          width: 90px;
        }
      }

      .w1 {
        width: 62px;
      }

      .w2 {
        width: 67px;
      }

      .w3 {
        width: 70px;
      }
    }

    /* 객실명 색상 설정 */
    &:nth-child(3) {
      .btn-toolbar {
        position: relative;

        .color-picker {
          position: absolute;
          top: 40px;
          left: 20%;
          z-index: 100;
          margin-left: -100px;

          .picker-close {
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
          }
        }
      }

      .btn {
        width: 100px;
        height: 30px;
        border-radius: 15px;
        border-color: #666;
        background-color: #cec8c8;
        font-size: 13px;
        font-weight: 700;
        color: #333;

        &:last-child {
          color: #fff;
          background: #3a4a70;
        }
      }

      .w1 {
        width: 62px;
      }

      .w2 {
        width: 67px;
      }

      .w3 {
        width: 70px;
      }
    }

    /* 시간 배경색상 설정 */
    &:nth-child(4) {
      .btn-toolbar {
        position: relative;

        .color-picker {
          position: absolute;
          top: 40px;
          left: 20%;
          z-index: 100;
          margin-left: -100px;

          .picker-close {
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
          }
        }
      }

      .btn {
        width: 100px;
        height: 30px;
        border-radius: 15px;
        border-color: #666;
        font-size: 13px;
        font-weight: 700;
        color: #333;

        &:last-child {
          color: #fff;
        }
      }

      .w1 {
        width: 62px;
      }

      .w2 {
        width: 67px;
      }

      .w3 {
        width: 70px;
      }
    }

    &:nth-child(5),
    &:nth-child(6),
    &:nth-child(7),
    &:nth-child(8),
    &:nth-child(9) {
      > div {
        display: inline-block;
        margin-right: 20px;

        .form-content {
          display: flex;
          justify-content: space-between;
          padding-top: 5px;

          > div {
            margin-right: 20px;
          }

          > .btn-toolbar {
            align-self: center;
          }
        }

        .search-result {
          display: flex;
          position: relative;

          .btn-toolbar {
            display: flex;
            justify-content: space-around;
            flex-direction: column;

            .btn {
              background-color: #ba9e86;
              font-weight: 700;
            }
          }

          .table-wrapper {
            width: 250px;
            height: 107px;
            margin-right: 12px;

            table {
              thead {
                width: 230px;

                th {
                  width: 60%;

                  &:first-child {
                    width: 40%;
                  }
                }
              }

              tbody {
                td {
                  &:first-child {
                    width: 40%;
                  }

                  border-bottom: 1px solid #dfe0e2;
                  width: 60%;

                  .checkbox-inline {
                    width: 16px;
                    height: 18px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .btn {
    font-weight: 700;
  }
}
