/* Gnb0102 */
#gnb0102 {
  .search-wrapper {
    display: flex;
    justify-content: space-between;

    .notice {
      margin-left: 20px;
      font-size: 0.8rem;
      color: #666;
    }

    .date-set {
      margin-top: 8px;
      margin-bottom: 15px;
      padding-bottom: 20px;
      border-bottom: 1px solid #dfe0e2;

      .btn {
        padding-bottom: 2px;

        &.stop {
          background: #f3f190;
          border: 1px solid #232d41;
          color: #f33939;
        }
      }
    }

    .search-select {
      padding-bottom: 12px;
      border-bottom: 1px solid #dfe0e2;

      &:last-child {
        padding-top: 12px;

        .checkbox-inline {
          margin-left: 0;
          margin-right: 8px;
        }
      }

      .separator {
        display: inline-block;
        float: none;
        width: 1px;
        height: 12px;
        margin: 0 8px 0 7px;
        background: #999;
        vertical-align: middle;
      }
    }

    .search-count {
      margin: 10px 0 0 10px;
      font-size: 0.9em;
      color: #999;
    }
  }

  .search-result {
    position: relative;

    .btn-toolbar {
      position: absolute;
      top: 0;
      right: 0;

      .btn {
        font-weight: 700;
      }
    }

    .table-wrapper {
      height: 320px;
      width: 100%;

      table {
        thead {
          width: calc(100% - 20px);

          th {
            width: 10%;

            &:first-child {
              width: 15%;
            }

            &:last-child {
              width: 52%;
            }

            .caret {
              display: none;
            }

            &.on {
              color: #2ee791;

              .caret {
                display: inline-block;
              }

              .reverse {
                transform: rotate(180deg);
              }
            }
          }
        }

        tbody {
          border-bottom: 1px solid #ddd;

          tr {
            &.slide {
              animation: slide-up 0.4s ease;
            }
          }

          td {
            width: 10%;

            &:first-child {
              width: 15%;
            }

            &:last-child {
              width: 52%;
            }
          }
        }
      }
    }
  }

  .SingleDatePicker {
    width: 207px;

    .DateInput {
      width: 205px;
    }
  }
}