#isc-sale-pop {
  &.basic-count-set {
    background-color: #212c42;
    border: 1px solid #131926;
    color: #666;

    h1 {
      margin: 0;
      padding: 9px 12px;
      font-size: 0.929em;
      font-weight: 700;
      color: #fff;
      text-align: left;
    }

    .count-form-wrapper {
      min-width: 1330px;
      // width: calc(90vw);
      min-height: 500px;
      // min-width: 1200px;
      background: #fff;
      padding: 10px 20px 20px;
      color: #333;

      @media (max-width: 1023px) {
        &.count-form-wrapper {
          width: 755px;
          overflow-x: auto;
          overflow-y: hidden;

          .count-form {
            padding-right: 25px;
          }
        }
      }

      .count-header {
        span {
          margin: 0 30px;

          &:last-child {
            color: #800202;
          }
        }
      }

      >div {
        display: flex;
        justify-content: center;
      }

      select {
        display: inline-block;
        height: 25px;
        padding: 2px 20px 2px 10px;
        background: url("./img/bg_select04.png") no-repeat 92% 50%;
        border-radius: 0;
        border-color: #ccc;
        font-size: 13px;

        &+label {
          margin-left: 8px;
        }

        &+div {
          margin-left: 8px;
        }
      }

      >.btn-toolbar {
        display: flex;
        justify-content: center;
        margin-top: 15px;
        border-bottom: none;
      }

      .form-group {
        margin-bottom: 10px;

        .control-label {
          font-size: 13px;
          font-weight: 300;
          width: 50px;
        }

        .form-control {
          display: inline-block;
          width: calc(100% - 50px);
          height: 25px;
          font-size: 13px;

          &+.checkbox-inline {
            margin-left: 50px;
          }
        }
      }

      .checkbox-inline {
        width: 16px;
        height: 16px;

        /*margin-top: -15px;
        padding-left: 0;*/
        input[type="checkbox"]+span {
          background: url("./img/bg_check_off04.png") no-repeat 0 0;
        }

        input[type="checkbox"]:checked+span {
          background: url("./img/bg_check_on04.png") no-repeat 0 0;
        }
      }

      .tableHeaderBox {
        >div {
          display: flex;
          align-items: center;
          justify-content: center;
          border-top: 1px solid #e5e5e5;

          &:first-child {
            //height: 35px;
            border-top: 0;
          }

          >div {
            display: flex;
            align-items: center;
            justify-content: center;
            flex: 1;
            min-height: 25px;
            min-width: 100px;
            padding: 5px;
            border-left: 1px solid #e5e5e5;

            &:first-child {
              border-left: 0;
            }
          }
        }

        .checkbox-inline {
          width: auto;
          height: auto;
          padding-left: 20px;
          font-size: 13px;
        }
      }

      .tableDeviceBox {
        display: flex;
        height: 100%;

        >div {
          display: flex;
          align-items: center;
          justify-content: center;
          flex: 1;
          padding: 5px 0;
          border-left: 1px solid #e5e5e5;

          &:first-child {
            border-left: 0;
          }
        }

        .checkbox-inline {
          width: 100%;
          height: 100%;

          span {
            top: calc(50% - 8px);
            left: calc(50% - 8px);
          }
        }
      }

      /* count-content */
      .count-content {
        margin-top: 20px;

        .count-room-list {
          width: 10%;
          min-width: 130px;
          border: 1px solid #e5e5e5;
          text-align: center;

          h2 {
            padding: 5px 0;
            background: #023b67;
            color: #fff;
          }

          li {
            min-height: 25px;
            padding: 2px 0;

            .btn {
              float: none;
              border-radius: 3px;
              width: 90%;
              height: 20px;

              &.selected {
                color: #ffffff !important;
                background-color: #110988 !important;
              }
            }
          }
        }

        .form-content {
          width: 100%;

          .table-wrapper {
            overflow: hidden;
            // margin-left: 10px;

            >table {
              width: 100%;

              >thead {
                display: table-header-group;
                position: static;

                th {
                  border-left: 1px solid #dfe0e2;
                  background: none;
                  color: #333;

                  &:after {
                    display: none;
                  }

                  &:first-child {
                    border-left: none;
                  }

                  &:last-child {
                    width: 80%;
                    // min-width: 1024px;

                    ul>li {
                      display: flex;
                      width: 97%;
                      margin: 0 0 0 10px;

                      &:first-child {
                        >div {
                          width: 50%;

                          &:first-child {
                            background-color: #82b0d3b0;
                          }

                          &:last-child {
                            background-color: #cc9f749d;
                          }
                        }
                      }

                      &:last-child>table {
                        width: 100%;
                        // margin: 0 15px 0 10px;

                        tr {
                          margin-bottom: 2px;

                          &:last-child {
                            margin: 0;
                          }
                        }

                        td {
                          min-width: 18px;
                          min-height: 20px;

                          padding: 1px;
                          color: #333;
                          font-size: 13px;
                          border-left: rgba(187, 187, 187, 0.2) 1px solid;

                          &.half {
                            >div {
                              font-size: xx-small;
                              color: #989595;
                              margin-top: -2px;
                            }
                          }

                          &>div {
                            margin-left: -18px;
                          }
                        }
                      }
                    }
                  }
                }
              }

              >tbody {
                >tr:first-child td {
                  padding-top: 3px;
                }

                >tr:last-child {
                  td {
                    border-bottom: 1px solid #dfe0e2;
                  }
                }

                td {
                  border-top: 1px solid #dfe0e2;
                  vertical-align: middle;

                  .btn {
                    width: 25px;
                  }

                  .rc-input-number.form-control {
                    height: 20px;

                    input {
                      height: 20px;
                    }
                  }

                  &:nth-child(3) {
                    ul>li {
                      display: flex;
                      width: 160px;
                      margin: 0 0 2px 0;
                      border: #666 solid 1px;
                      background: #eee;
                      padding: 2px;

                      >label {
                        font-size: 14px;
                        font-weight: normal;
                        margin: 3px 0 0;
                      }

                      .numeric-wrap {
                        margin: 3px;
                      }

                      .btn {
                        width: 25px;
                        height: 25px;
                        padding: 0px;
                        margin: 1px 0 0 3px;
                        background: #979797;

                        &:hover {
                          background: none;
                        }

                        &.del {
                          background: #800202;
                        }

                        &.add {
                          background: #012c4d;
                        }
                      }

                      &:last-child {
                        margin: 0;
                      }
                    }
                  }

                  &:last-child {
                    // min-width: 1024px;
                  }

                  table.time-table {
                    border-collapse: separate;
                    border-spacing: 0 1px;
                    margin-right: -10px;
                    width: 100%;
                    // width: 800px;

                    tr {
                      margin-bottom: 2px;
                      width: 100%;

                      &:last-child {
                        margin: 0;
                      }

                      td {
                        min-width: 18px;
                        height: 30px;
                        padding: 1px;
                        color: #333;

                        &:first-child {
                          padding-left: 0px;
                        }

                        &:last-child {
                          background-color: #fff !important;
                          border: 0px;
                          pointer-events: none;
                        }

                        &.time {
                          border: 0px;
                        }

                        &.sel-first {
                          border-color: #080808ef;
                          border-style: solid;
                          border-width: 1px 0 1px 1px;
                          box-shadow: 0px 0px 0px 1px rgba(63, 63, 63, 0.377) inset;
                        }

                        &.sel {
                          border-color: #080808ef;
                          border-style: solid;
                          border-width: 1px 0 1px 0;
                          box-shadow: 0px 0px 0px 1px rgba(63, 63, 63, 0.377) inset;
                        }

                        &.sel-last {
                          border-color: #080808ef;
                          border-style: solid;
                          border-width: 1px 1px 1px 0;
                          box-shadow: 0px 0px 0px 1px rgba(63, 63, 63, 0.377) inset;
                        }

                        &.new {
                          >span {
                            color: #ff0000;
                          }
                        }

                        >span {
                          position: absolute;
                          padding: 0px;
                          margin: -8px 0 0 0;
                          font-size: 0.786em;
                          color: #fff;
                          text-shadow: 2px 2px 3px #000;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }

      /* count-footer */
      .count-footer {
        justify-content: space-around;
        //min-width: 900px;
        margin-top: 20px;
        padding-right: 20px;

        >div {
          display: flex;
          justify-content: space-between;
          min-width: 270px;
          align-items: center;

          &:first-child {
            min-width: 180px;
          }

          select.day-copy {
            width: 70px;
          }

          select+.btn-room .btn {
            width: 100px;
          }
        }
      }
    }

    .count-close {
      display: inline-block;
      overflow: hidden;
      position: absolute;
      top: 10px;
      right: 14px;
      width: 14px;
      height: 14px;
      background: url("./img/bg_news_close.png") no-repeat 0 0;
      text-indent: -9999px;
    }
  }

  .btn.off {
    pointer-events: none !important;
    background-color: rgb(134, 133, 133) !important;
    color: rgba(194, 191, 191, 0.993) !important;
  }
}

.resizing-cells .row:not(:first-child) .cell:not(:first-child) {
  cursor: pointer;
}

.resizing-cells .row:not(:first-child) .cell:not(:first-child):hover {
  background-color: #f5f5f5;
}