/* Gnb030108 */
#gnb030108 {
  .search-wrapper {
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
  }

  .search-wrapper > ul {
    /* 직원 목록 */
    &:nth-child(1) {
      > li {
        .search-result {
          display: flex;
          position: relative;

          .btn-toolbar {
            display: flex;
            // justify-content: space-between;
            flex-direction: column;

            .btn {
              background-color: #ba9e86;
              font-weight: 700;
              margin-bottom: 10px;
            }
          }

          .table-wrapper {
            width: 90%;
            height: 300px;
            margin-right: 12px;

            table {
              thead {
                width: 85%;

                th {
                  width: 15%;

                  &:last-child {
                    width: 20%;
                  }
                }
              }

              tbody {
                tr {
                  &:hover {
                    background: #cff3f0;
                  }

                  &.on {
                    background: #f3e5cf;
                  }

                  &.off {
                    background: #7c7c7b;
                  }
                }

                td {
                  border-bottom: 1px solid #dfe0e2;
                  width: 15%;

                  &:last-child {
                    width: 20%;
                  }
                }
              }
            }
          }
        }
      }
    }

    /* 직원 정보 */
    &.add-list {
      margin-top: 20px;

      &.hide {
        display: none;
      }

      .form-group {
        display: inline-block;
        margin-bottom: 7px;
        width: 29%;
        text-align: right;

        & + .form-group {
          margin-left: 25px;
        }

        & + label {
          margin-left: 25px;
        }
      }

      input {
        display: inline-block;
        width: 120px;
        height: 25px;
        margin-left: 5px;
      }

      .radio-inline {
        input {
          display: none;
        }
      }

      select {
        width: 105px;
        height: 25px;
        padding: 4px 10px;
        background-position-x: 95%;
      }

      .btn-toolbar {
        display: flex;
        justify-content: center;
        padding-top: 20px;

        .btn {
          &:last-child {
            background: #7c7c7b !important;
          }
        }
      }

      .btn-pwd {
        margin-left: 20px;
      }
    }

    /* 일반 직원 기능 선택 */
    &.option-list {
      margin-top: 20px;

      ul > li + li {
        margin-top: 10px;
        padding-top: 10px;
        border-top: 1px solid #dfe0e2;
      }

      ul > li:last-child {
        display: flex;
      }

      h3 {
        margin: 0;
        font-family: "돋움", "Dotum";
        font-size: 0.857rem;
        font-weight: 700;
        color: #212c42;
      }

      .separator {
        display: inline-block;
        width: 1px;
        height: 16px;
        margin-top: 20px;
        margin-left: 20px;
        margin-right: 20px;
        background-color: #dfe0e2;
      }

      .btn-toolbar {
        display: flex;
        justify-content: center;
        padding-top: 20px;
      }
    }
  }

  .btn-set-close {
    display: flex;
    justify-content: center;
    margin-top: 35px;
  }
}
