/* 환경설정 탭 해당-시작 */
@media (max-width: 1023px) {
  form.control-tab-scroll {
    width: 755px;
    overflow-x: auto;
    overflow-y: hidden;
  }
}

.simulator {
  position: absolute;
}

.simulator-popup {
  overflow: hidden;
  position: absolute;
  bottom: 45px;
  right: 30px;
  z-index: 1000;
  border-radius: 5px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.4);
  -webkit-transition: all 250ms ease-in;
  -moz-transition: all 250ms ease-in;
  -o-transition: all 250ms ease-in;
  -ms-transition: all 250ms ease-in;
  transition: all 250ms ease-in;
  opacity: 0;
  visibility: hidden;

  &.open {
    opacity: 1;
    visibility: visible;
  }

  h1 {
    height: 37px;
    margin: 0;
    padding: 9px 17px 11px;
    background: #212c42;
    font-size: 1.143rem;
    font-weight: 700;
    color: #fff;
  }

  ul {
    margin: 0;
    padding: 11px 23px;
    background: #fff;

    li {
      font-family: "돋움", "dotum";
      font-size: 0.857rem;
      color: #807d7d;
      line-height: 20px;
      list-style: none;
    }
  }

  .table-simulatro {
    table {
      margin: 0px;

      thead {
        width: 100%;

        th {
          text-align: center;

          &:first-child {
            width: 15.5%;
          }
        }
      }

      tbody {
        td {
          border-bottom: 1px solid #dfe0e2;
          vertical-align: middle;
          text-align: left;
          height: 30px;

          &:first-child {
            width: 15.5%;
            text-align: center;
          }

          input[type="text"] {
            display: inline-block;
            width: 200px;
            margin-left: 5px;
          }
        }
      }
    }

    tfoot {
      width: 100%;

      td {
        text-align: right;
      }
    }

    .btn-run {
      float: right;
      margin: 10px 0;
    }
  }
}

/* 환경설정 탭 해당-끝 */

#form-control {
  .search-wrapper {
    > ul {
      width: 100%;
    }

    .date-set {
      margin-top: 8px;
      margin-bottom: 10px;
      padding-bottom: 10px;
      border-bottom: 1px solid #dfe0e2;
    }

    .checkbox-inline {
      &:first-child {
        margin-left: 10px;
      }
    }

    .radio-inline {
      font-size: 0.786rem;

      &:first-child {
        margin-left: 10px;
      }

      input[type="radio"] {
        display: none;
        -webkit-appearance: none;
      }

      input[type="radio"] + span {
        display: inline-block;
        position: absolute;
        left: 0;
        top: calc(50% - 8px);
        width: 16px;
        height: 16px;
        background: url("./img/bg_check_off03.png") no-repeat 0 0;
      }

      input[type="radio"]:checked + span {
        background: url("./img/bg_check_on03.png") no-repeat 0 0;
      }
    }
  }

  .separator {
    display: inline-block;
    height: 10px;
    float: none;
    margin: 0 13px;
    vertical-align: middle;
  }

  .btn-set-close {
    .btn {
      width: 130px;
      height: 38px;
      background-color: #023b67;
      border-radius: 20px;
      font-size: 1rem;
      font-weight: 700;
    }
  }

  .txt-point {
    color: #333 !important;
  }
}

.tab-control {
  .search-wrapper > ul > li {
    font-size: 0.786rem;

    label {
      /*font-size: 0.786rem;*/
    }

    .numeric-wrap {
      margin-right: 5px;
    }

    &:nth-child(1) {
      .table-wrapper {
        width: 660px;
        //height: 500px;

        thead {
          width: 640px;

          th {
            width: 28%;

            &:first-child {
              width: 15.5%;
            }

            &:last-child {
              width: 56.5%;
            }
          }
        }

        tbody {
          td {
            width: 28%;
            border-bottom: 1px solid #dfe0e2;
            vertical-align: middle;
            text-align: left;

            &:first-child {
              width: 15.5%;
              text-align: center;
            }

            &:last-child {
              width: 56.5%;
            }

            input[type="text"] {
              display: inline-block;
              width: 200px;
              margin-left: 5px;
            }
          }
        }
      }

      /*
      .table-wrapper {
        overflow: hidden;
        thead {
          display: table-header-group;
          position: static;
          th {
            width: 30%;
            &:first-child {
              width: 10%;
            }
            &:last-child {
              width: 60%;
            }
          }
        }
        tbody {
          tr {
            &:first-child td {
              padding-top: 5px;
            }
            &:last-child td {
              padding-bottom: 10px;
            }
          }
          td {
            border-top: none;
            vertical-align: middle;
            text-align: left;
            &:first-child {
              text-align: center;
            }
          }
        }
      }
      */
    }
  }

  .btn-set-close {
    display: flex;
    justify-content: center;
  }
}
