#gnb030114 {
  .search-wrapper {
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
  }

  .search-wrapper > ul {
    /* 직원 목록 */
    &:nth-child(1) {
      > li {
        .search-result {
          display: flex;
          position: relative;

          .btn-toolbar {
            display: flex;
            // justify-content: space-between;
            flex-direction: column;

            .btn {
              background-color: #ba9e86;
              font-weight: 700;
              margin-bottom: 10px;
            }
          }

          .table-wrapper {
            width: 90%;
            height: 250px;
            margin-right: 12px;

            table {
              thead {
                width: 85%;

                th {
                  width: 5%;

                  &:first-child {
                    width: 15%;
                  }

                  &:nth-child(5),
                  &:nth-child(6) {
                    width: 10%;
                  }

                  &:nth-child(7) {
                    width: 20%;
                  }
                }
              }

              tbody {
                tr {
                  &:hover {
                    background: #cff3f0;
                  }

                  &.on {
                    background: #f3e5cf;
                  }

                  &.off {
                    background: #7c7c7b;
                  }
                }

                td {
                  border-bottom: 1px solid #dfe0e2;
                  width: 5%;
                  padding-left: 0px;
                  padding-right: 0px;

                  &:first-child {
                    width: 15%;
                  }

                  &:nth-child(5),
                  &:nth-child(6) {
                    width: 10%;
                  }

                  &:nth-child(7) {
                    width: 20%;
                  }

                  .time-type1 {
                    color: #61bd23;
                  }

                  .time-type2 {
                    color: #9a2aca;
                  }
                }
              }
            }
          }
        }
      }
    }

    /* 직원 정보 */
    &.add-list {
      margin-top: 20px;

      &.hide {
        display: none;
      }

      .form-group {
        display: inline-block;
        margin-bottom: 7px;
        width: 29%;
        text-align: right;

        & + .form-group {
          margin-left: 25px;
        }

        & + label {
          margin-left: 25px;
        }

        &:last-child {
          width: 50% !important;
        }
      }

      input {
        display: inline-block;
        width: 70%;
        height: 25px;
        margin-left: 5px;

        &.sm {
          width: 50%;
        }

        &[readonly] {
          border: none;
        }

        &[type="checkbox"] {
          display: none;
        }
      }

      .radio-inline {
        input {
          display: none;
        }
      }

      select {
        width: 29%;
        height: 25px;
        padding: 4px 5px;
        background-position-x: 95%;
      }

      .btn-toolbar {
        display: flex;
        justify-content: center;
        padding-top: 20px;

        .btn {
          &:last-child {
            background: #505861 !important;
          }
        }
      }
    }
  }

  .comment {
    font-size: 0.9rem;
    color: #577480;
  }

  .btn-set-close {
    display: flex;
    justify-content: center;
    margin-top: 15px;
  }
}
