/* gnb030117 */
#gnb030117 {
  .search-wrapper>ul>li {
    font-size: 0.786em;

    h2,
    label {
      font-size: 1em;
    }

    input {
      width: 50%;
    }

    &:nth-child(1) {
      .form-content {
        select {
          width: 140px;
        }

        .checkbox-inline {
          position: absolute;
          left: 200px;
        }

        margin-bottom: 10px;
      }
    }

    &:nth-child(3) {
      input {
        width: 30%;
      }
    }

    &:nth-child(4) {
      input {
        width: 30%;
      }
    }
  }

  .btn-set-close {
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }
}