/* gnb030105 */
#gnb030105 {
  .search-wrapper>ul>li {

    /* 객실 전원차단 조건 */
    &:nth-child(1) {
      .form-content {
        font-size: 0.786em;

        .numeric-wrap {
          margin: 0 8px;
        }

        select {
          width: 140px;
          margin-right: 8px;
        }

        >div {
          margin-top: 5px;

          &:first-child {
            margin-top: 0;
          }
        }

        .checkbox-inline {
          margin-top: 5px;
        }

        label {
          font-size: 1em;
        }
      }
    }
  }

  .btn-set-close {
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }
}