/* gnb030116 */
#gnb030116 {
  .search-wrapper>ul>li {
    font-size: 0.786em;

    h2 {
      font-size: 1em;
    }

    label {
      font-size: 0.9em;
      color: #666;
      margin: 5px 10px;
    }

    &:nth-child(1),
    &:nth-child(2) {
      .form-content {
        input {
          width: 240px;
        }

        .checkbox-inline {
          position: absolute;
          left: 200px;
        }

        margin-bottom: 10px;
      }
    }
  }

  .btn-set-close {
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }
}