@import "../../mixin";

// 화면 잠금.
.room-tab {
  &.lock-on {
    @include show-hide($opacity05, $show);
  }
}

#checkin-form-tab-pane-1 {
  input[type="checkbox"] + span {
    top: 6px;
  }

  .check_in_time {
    width: 150px;
    color: #333 !important;
  }

  .alarm {
    label {
      margin-left: 20px;
    }

    .alarm_memo_play {
      margin-left: 30px;
    }
  }

  .notice-display-del {
    margin-left: 20px;

    > label > span {
      top: 0px;
    }
  }

  .car-no-add {
    margin-left: 20px;

    > label > span {
      top: 0px;
    }
  }

  textarea.form-control {
    height: 30px;
  }

  ul > li {
    .isc-sale {
      position: absolute;
      right: 20px;

      input[type="checkbox"] + span {
        top: 0;
      }

      label {
        font-size: 0.714em;

        &.disabled span {
          color: #999 !important;
        }

        &.on {
          color: #d33c3c;
        }

        &.off {
          color: #716c6cfa;
        }
      }
    }
  }

  /* 입실정보 */
  ul > li:nth-child(1) {
    .btn-toolbar {
      display: flex;

      > .btn {
        width: 70px;
        font-size: 14px;
        font-weight: 700;

        &.sel {
          border: solid #000 1px !important;
          opacity: 1;
        }
      }
    }

    b {
      font-weight: 900;
      font-size: 1.5em;

      &.state {
        margin-left: 33%;
      }

      span {
        &:first-child {
          color: #000;
        }
      }
    }

    table {
      display: flex;

      tbody {
        width: 100%;

        th {
          width: 10%;
        }

        td {
          width: 10%;

          &.check-out-cal {
            > div {
              display: flex;
              width: 270px;
            }
          }
        }

        tr:nth-child(1) {
          td[colspan="4"] {
            width: 30%;
            text-align: right;

            select {
              display: inline-block;
              width: 100%;

              &.assign {
                background-color: rgb(247, 255, 204) !important;
                color: #049b04;
              }

              &.on {
                background-color: rgb(226, 245, 120) !important;
                color: #d61313;
              }

              &.off {
                background-color: #fff !important;
                color: #555555;
              }
            }
          }
        }

        tr:nth-child(4) {
          td[colspan="3"] {
            width: 50%;

            select {
              display: inline-block;
              width: 100%;

              &.assign {
                color: #152580;
              }
            }
          }
        }

        tr:nth-child(7) {
          td:nth-child(2) {
            font-size: 1rem;
            font-weight: 600;
            padding-left: 10px;

            span {
              color: #1e2225;

              &.success {
                color: #198b45;
              }

              &.expired {
                color: #c520aa;
              }

              &.cancel {
                color: #e92121;
              }
            }
          }

          td:nth-child(3) {
            font-size: 1.1rem;
            font-weight: 700;
            width: 35%;
            position: absolute;
            margin-left: -10px;

            span {
              &.validtime {
                color: #a641ce;
                text-align: center;
                letter-spacing: 2px;
              }
            }
          }

          td:nth-child(4) {
            position: absolute;
            right: 35px;
            width: 40%;
            font-size: 1.1rem;

            .nodoorid {
              color: #e44b1c;
              letter-spacing: 2px;
              text-align: left;
            }

            .phone {
              margin-top: -5px;
              float: right;
              display: flex;
              margin-bottom: 5px;

              input {
                height: 21px !important;
                text-align: left;
                padding-bottom: 3px;
                font-weight: 600;
              }

              .btn {
                height: 22px !important;
                width: auto !important;
                background-color: #3c47e2;
                padding: 3px 5px;
                margin-left: 20px;
                font-size: 1rem;
                border-radius: 5px;

                &.send {
                  background-color: #08223b;
                  color: #e6f788;
                }

                &:last-child {
                  margin-left: 10px;
                  background-color: #3b3838;
                }
              }
            }

            .form-control {
              text-align: right;
              width: 120px;
              color: #000;

              input {
                text-align: right;
                padding-right: 4ex;
              }
            }
          }
        }
      }
    }

    .numeric-wrap {
      margin-left: 5px;
    }

    .SingleDatePicker {
      width: 105px;

      .SingleDatePicker__picker {
        left: -200px !important;
      }

      .DateInput {
        width: 100%;
      }
    }

    select {
      height: 25px;
      padding: 2px 10px;
      background: url("./img/bg_select04.png") no-repeat 96% 50%;
      font-size: 13px;
    }
  }

  /* 객실표시 */
  ul > li:nth-child(2) {
    input:not([type="checkbox"]) {
      display: inline-block;
      vertical-align: middle;
    }

    .btn-toolbar {
      display: inline-block;
      margin: 0;
      vertical-align: middle;

      .btn.btn-default {
        height: 24px !important;
        width: auto !important;
        background: #28292c;
        padding: 0 5px;
      }
    }

    table {
      display: flex;

      tbody {
        width: 100%;

        th {
          width: 10%;
        }

        td {
          width: 10%;

          &:first-child {
            width: 40%;
          }

          &:last-child {
            width: 20%;
          }
        }
      }
    }

    .numeric-wrap {
      margin-left: 5px;
    }

    .checkbox-inline {
      font-size: 0.714em;
    }
  }

  /* 요금 */
  ul > li:nth-child(3) {
    .add-fee {
      margin: 0 10px;
      font-size: 0.929em;
      color: rgba(146, 20, 20, 0.61);

      > span {
        margin: 0 20px;
      }

      .person {
        color: #acaf0d;
      }

      .time {
        color: #db8719;
      }

      .option {
        color: #ab22c7;
      }

      .season {
        color: #16b6a1;
      }

      .card {
        color: #4b237e;
      }

      .plus {
        color: blue;
      }

      .minus {
        color: #ff000d;
      }
    }

    .ota-code {
      color: blue;
      font-size: 1.1em;
    }

    .reserv-num {
      color: #7b1694;
      font-size: 1.1em;
    }

    .point {
      float: right;
      display: flex;
      margin-bottom: 5px;

      label.control-label {
        margin: 0 10px;

        label.checkbox-inline {
          padding-top: 6px;

          span {
            top: 5px;
          }
        }
      }

      input {
        height: 21px !important;
        text-align: left;
      }

      .btn.btn-search {
        height: 21px !important;
        width: auto !important;
        background-color: #d33c3c;
        padding: 0 3px;
        margin: 0 20px;
      }
    }

    .form-control {
      text-align: right;
      width: 120px;
      color: #000;

      input {
        text-align: right;
        padding-right: 4ex;
      }
    }

    tr {
      th {
        width: 11%;

        .add_point {
          color: #1c5bb9;
          font-size: 0.7em;
        }

        .dis_point {
          color: #cc1d1d;
          font-size: 0.7em;
        }
      }

      td {
        width: 33%;

        &.add_fee_td {
          display: flex;

          .option-fee {
            position: absolute;
            margin-left: 110px;
            display: flex;
            width: 250px;

            label {
              margin-top: 7px;
              margin-right: 5px;
            }

            input {
              width: 70px;
            }
          }
        }

        .btn.btn-default {
          height: 21px !important;
          width: auto !important;
          background: #5285ae;
          padding: 0 3px;
        }

        .btn.all-pay {
          background: #c2392f;
        }

        > span {
          font-size: 1.05em;
          color: #0b1ead;
          font-weight: 500;
        }
      }
    }
  }

  /* 난방 설정 */
  ul > li:nth-child(4) {
    th {
      width: 10%;
    }

    .btn.btn-default {
      height: 21px !important;
      width: auto !important;
      background: #712ae2;
      padding: 0 3px;
    }

    td {
      width: 10%;

      &.celsius {
        input {
          width: 60px;
        }
      }
    }

    .rc-input-number.form-control.small {
      width: 70px;
    }

    .rc-input-number-input {
      margin-left: 0;
    }

    select {
      height: 25px;
      padding: 2px 10px;
      background: url("./img/bg_select04.png") no-repeat 96% 50%;
      font-size: 13px;
    }
  }

  /* 예약 냉방 */
  ul > li:nth-child(5) {
    font-size: 1.2em;

    .default_setting {
      color: #6d71ef;
      font-weight: bold;
    }

    .checkbox-inline {
      margin: 0 50px;

      span {
        top: 4px;
        font-size: 1.5em;

        &.check {
          background-size: 20px;
          width: 20px;
          height: 20px;
        }

        &.btn {
          margin-left: 10px;
          width: 80px;
          border: 1px solid #555454;
          padding: 4px 3px;

          &.on {
            color: #ff0000 !important;
            background: #faf571 !important;
            font-weight: bold;
            border: 1px solid #4df833;
          }

          &.off {
            color: #60605f !important;
            background: #fff !important;
          }
        }

        &.notice {
          margin-left: 10px;

          &.on {
            color: #16c8db !important;
          }

          &.off {
            color: #f54429 !important;
          }
        }
      }
    }
  }

  /* 변경 */
  ul > li:nth-child(6) {
    .btn-toolbar {
      width: 100%;
      display: flex;

      .btn {
        width: 16%;
        height: 40px;
        background: #fff;
        border: 1px solid #ddd;
        border-radius: 1px;
        font-size: 13px;
        color: #999;
        opacity: 1;
        margin: 3px auto;
        font-size: 1.4em;

        &.active,
        &.btn-change,
        &.btn-close {
          border: 1px solid #212c42;
          color: #212c42;
        }

        &.active.in {
          color: #f7fca7 !important;
          background: #3664e0 !important;
        }

        &.active.out {
          color: #f7fca7 !important;
          background: #da2c2c !important;
        }

        &.active.use_out {
          color: #ffffff !important;
          background: #37ad29 !important;
        }

        &.active.cancel {
          color: #f1f1f1 !important;
          background: #f0690f !important;
        }
      }

      &:last-child {
        margin-top: 7px;
      }
    }
  }
}
