/* 날짜 선택 */
.SingleDatePicker {
  width: 201px;

  .SingleDatePickerInput {
    border-color: #ccc;
  }

  .DateInput {
    width: 199px;
    height: 25px;
    // background: url('./img/bg_select04.png') no-repeat 96% 50%;
    font-size: 13px;
    line-height: 20px;
  }

  .DateInput--disabled {
    background: #f5f5f5;

    .DateInput__input {
      background: none;
      cursor: not-allowed;
    }
  }

  .DateInput__input {
    opacity: inherit;
    position: inherit;
    height: 100% !important;
    padding-left: 5px;
    background: url("./img/bg_select04.png") no-repeat 96% 50%;
    border-radius: 3px;
    color: #484848;
  }

  .DateInput--with-caret .DateInput__input {
    background: #99ede6;
    color: #6d71ef;
  }

  .DateInput__display-text {
    display: none;
    height: 21px;
    padding: 0 0 0 10px;
    text-align: left;
    font-size: 13px;
    font-style: normal;
  }

  .SingleDatePicker__picker--open-down {
    top: 40px;
    z-index: 2;
    box-shadow: 5px 3px 10px rgba(0, 0, 0, 0.4);
  }

  .DateInput--open-down.DateInput--with-caret::before {
    top: 29px;
  }

  .DateInput--open-down.DateInput--with-caret::after {
    top: 30px;
  }

  .DayPicker__week-header {
    top: 55px;

    small {
      font-size: 13px;
      font-weight: 700;
    }
  }

  .CalendarDay {
    border: 1px solid #e4e7e7;
    font-size: 13px;
  }

  tbody.js-CalendarMonth__grid td:not(.CalendarDay) {
    width: inherit !important;
  }
}

/* room-checkin-component */
.room-popup {
  > div > div > div {
    border-radius: 0 !important;

    /* drag 설정 */
    &:first-child {
      display: flex;
      justify-content: center;
      align-items: center;
      //width: 100%;
      //height: 100%;
      background-color: rgba(255, 255, 255, 0) !important;
      box-shadow: 0 !important;
    }
  }
}

.room-checkin {
  position: absolute;
  background-color: #212c42;
  border: 1px solid #131926;
  color: #666;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 4px;

  h1 {
    margin: 0;
    padding: 10px;
    border-bottom: 1px solid #131926;
    font-size: 1.143em;
    font-weight: 800;
    color: #fff;
    text-align: center;
    cursor: move;

    & + div {
      padding: 8px 0 8px 8px;

      > form {
        display: flex;
      }
    }

    &.sale-color-0 {
      color: #fff;
    }

    &.sale-color-1 {
      color: rgba(192, 112, 46, 0.952);
    }

    &.sale-color-2 {
      color: rgba(40, 169, 201, 0.877);
    }

    &.sale-color-3 {
      color: rgb(197, 36, 103);
    }
  }

  h2 {
    margin: 0;
    font-size: 1em;
    font-weight: 700;
    color: #212c42;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .list-bul {
    > li > h2 {
      position: relative;
      margin-bottom: 11px;
      padding-left: 12px;

      &:before {
        display: inline-block;
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        margin-top: -2px;
        width: 5px;
        height: 4px;
        background-color: #212c42;
      }
    }
  }

  .checkin-form-wrapper .btn.btn-default {
    width: 100px;
    height: 25px;
    padding: 2px 0 0;
    border-radius: 2px;
    border: none;
    background: #3a4a70;
    font-family: "돋움", "dotum";
    font-size: 13px;
    color: #fff;
  }

  .checkin-close {
    display: inline-block;
    overflow: hidden;
    position: absolute;
    top: 10px;
    right: 14px;
    width: 14px;
    height: 14px;
    background: url("./img/bg_news_close.png") no-repeat 0 0;
    text-indent: -9999px;
  }

  > div {
    table {
      margin-bottom: 0;

      tr:first-child {
        th,
        td {
          padding-top: 0;
        }
      }

      th,
      td {
        padding: 3px 4px;
        border: none;
        font-family: "돋움", "dotum";
        font-size: 0.929em;
        font-weight: normal;
        vertical-align: middle;
        line-height: 1;
        width: auto;
      }

      th {
        text-align: right;
        font-weight: bold;
      }

      .checkbox-inline {
        height: 25px;
        line-height: 27px;
        vertical-align: top;
        font-size: 0.929em;
      }
    }

    label {
      margin-bottom: 0;
      font-weight: bold;
    }

    input {
      height: 25px;
      font-size: 13px;
    }

    input[type="checkbox"] + span {
      width: 13px;
      height: 13px;
      background: url("./img/bg_check_off.png") no-repeat 0 0;
    }

    input[type="checkbox"]:checked + span {
      background-image: url("./img/bg_check_on.png");
    }

    textarea.form-control {
      width: 100% !important;
      margin: 0 !important;
    }

    .numeric-wrap {
      display: inline-block;
      line-height: 0;
      vertical-align: middle;
    }
  }

  /* 탭별정보 */
  #checkin-form-tab {
    float: left;
    width: 100%;
    margin-right: 8px;
    background-color: #384255;
    border: 1px solid #000;
    font-size: 1.1rem;

    .checkin-tabs {
      overflow-y: auto;
      float: left;
      width: 116px;
      max-height: 90vh;

      > ul > li {
        &:nth-child(1) a {
          background-image: url("./img/bg_checkin_menu01.png");
        }

        &:nth-child(2) a {
          background-image: url("./img/bg_checkin_menu02.png");
        }

        &:nth-child(3) a {
          background-image: url("./img/bg_checkin_menu03.png");
        }

        &:nth-child(4) a {
          background-image: url("./img/bg_checkin_menu04.png");
        }

        &:nth-child(5) a {
          background-image: url("./img/bg_checkin_menu05.png");
        }
      }

      .nav-stacked > li + li {
        margin-top: 1px;
      }

      .nav-pills > li > a {
        position: relative;
        padding: 17px 10px 17px 2.714em;
        background-color: #4c5566;
        background-repeat: no-repeat;
        background-position: 15px 50%;
        background-size: 0.938em;
        border-radius: 0;
        font-family: "NanumSqaureRound";
        font-size: 1em;
        font-weight: 700;
        color: #fff;
      }

      .nav-pills > li.active > a,
      .nav-pills > li.active > a:focus,
      .nav-pills > li.active > a:hover {
        background-color: #2d72ad;

        &:before {
          display: inline-block;
          content: "";
          position: absolute;
          top: 50%;
          right: 0;
          margin-top: -7px;
          border-top: 7px solid transparent;
          border-bottom: 7px solid transparent;
          border-right: 7px dashed;
          color: #fff;
        }
      }
    }

    .checkin-contents {
      overflow-y: auto;
      float: left;
      width: calc(100% - 116px);
      min-height: 820px;
      height: auto;

      .tab-content {
        min-height: 810px;
        height: auto;
        background: #fff;
        border-radius: 0;

        .tab-pane {
          position: relative;
          height: 100%;

          > div {
            height: 100%;
          }

          > .checkbox-inline {
            position: absolute;
            top: 23px;
            right: 38px;
            z-index: 100;
            font-size: 11px;
            color: #212c42;

            input[type="checkbox"] + span {
              top: 2px;
            }
          }
        }

        .fade {
          padding: 25px 20px;
          position: absolute;
          visibility: hidden;

          &.in {
            position: relative;
            visibility: visible;
          }
        }

        .list-bul {
          height: auto;

          > li {
            & + li {
              margin-top: 13px;
              padding-top: 13px;
              border-top: 1px solid #ccc;
            }
          }
        }

        .form-content {
          padding: 0 15px;
        }
      }
    }
  }

  /* 마일리지정보 */
  .checkin-form-wrapper {
    .checkin-form {
      width: 1150px;

      &.on {
        /* 마일리지 체크 시 */
        width: 1133px;

        .mileage-form {
          width: 378px;
          margin-right: 8px;
          padding: 20px 25px;
          border: 1px solid #000;
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }

  @media (max-width: 1200px) {
    .checkin-form-wrapper {
      //width: calc(100vw - 30px);
      //height: calc(100vh - 80px);
      max-width: 90vw;
      max-height: 80vh;
      overflow-x: auto;
      overflow-y: auto;

      #checkin-form-tab .checkin-contents {
        overflow-y: inherit;
        max-height: inherit;
      }
    }
  }

  .mileage-form {
    display: none;
    overflow: hidden;
    float: left;
    width: 0;
    background: #fff;
    opacity: 0;
    visibility: hidden;

    /*transition: all 250ms ease-in;*/
    li {
      > div {
        display: inline-block;

        > span {
          font-size: 1.143em;
          font-weight: 700;
          color: #212c42;

          &.num {
            color: #f12e29;
          }
        }
      }

      h2 {
        display: inline-block;
        width: 126px;
        font-size: 1.143em;
      }

      &:first-child {
        h2,
        > div {
          width: auto;
          display: block;
        }
      }

      .separator {
        width: 1px;
        height: 18px;
        margin-right: 13px;
        background: #ccc;
        vertical-align: middle;
      }

      .table-wrap {
        padding: 0 0 25px 8px;

        th {
          width: 55px;
          text-align: left;
        }

        button {
          margin-left: 5px;
        }

        tr:nth-child(1) {
          input {
            display: inline-block;
            width: 138px;
            vertical-align: middle;
          }

          button {
            width: 110px;
          }
        }

        tr:nth-child(2) {
          button {
            position: relative;
            width: 25px;

            i {
              position: absolute;
              top: 50%;
              left: 50%;
              width: 2px;
              height: 10px;
              background: #fff;
              margin: -5px 0px 0px -1px;

              &:first-child {
                width: 10px;
                height: 2px;
                margin: -1px 0px 0px -5px;
              }
            }
          }
        }

        .rc-input-number-input {
          width: 138px;
          margin-left: 0;
          padding-right: 25px;
          text-align: right;
        }
      }
    }
  }
}

.block-ui-message {
  color: #8e0404;
  background: none;
  z-index: 1011;
  font-size: 1.786em;
  text-shadow: 0px 0px 0px, 1px 1px 1px;
}
