/* Gnb0201 */
#gnb0204 {
  &.setting-form-wrapper {
    .setting-form {
      width: 50vw;
      min-width: 500px;
      min-height: 50vh;
      padding-right: 25px;
    }
  }

  @media (max-width: 1023px) {
    &.setting-form-wrapper {
      .setting-form {
        width: 50vw;
        min-width: 500px;
        padding-right: 25px;
      }
    }
  }

  .search-wrapper {
    position: relative;

    h2 span {
      font-weight: 300;
    }

    select {
      width: 90%;
    }

    .point-search {
      position: absolute;
      width: 200px;
      right: 30%;
      top: -3px;
    }

    .point-add {
      position: absolute;
      right: 0px;
      top: -3px;

      + .form-content {
        margin-top: 5px;
      }
    }

    .search-result {
      position: relative;
      min-height: 20px;

      .btn-toolbar {
        position: absolute;
        top: 0;
        right: 0;

        .btn {
          font-weight: 700;
        }
      }

      .table-wrapper {
        max-height: 70vh;
        height: 60vh;
        width: 100%;

        table {
          thead {
            width: calc(100% - 17px);

            th {
              width: 15%;

              &:first-child {
                width: 4%;
              }

              &:last-child {
                width: 4%;
              }

              .caret {
                display: none;
              }

              &.on {
                color: #2ee791;

                .caret {
                  display: inline-block;
                }

                .reverse {
                  transform: rotate(180deg);
                }
              }
            }
          }

          tbody {
            border-bottom: 1px solid #ddd;

            tr {
              &:first-child td {
                padding-top: 2.1em;
              }

              &.off {
                .rc-input-number-handler-wrap {
                  display: none;
                }

                input,
                select {
                  border: none;
                  background: #fff;
                  pointer-events: none;
                }

                select {
                  height: 2em;
                }
              }

              td {
                width: 15%;
                padding: 0px;

                label {
                  padding: 6px;
                  font-size: 1.06em !important;

                  &.on {
                    color: #458f4f;
                  }

                  &.off {
                    color: #d64518;
                  }

                  span {
                    top: calc(50% - 3px);
                  }
                }

                select {
                  color: #2a49779f;

                  &.off {
                    color: #3235329f;
                  }
                }

                input {
                  height: 22px;
                }

                &:first-child {
                  width: 4%;
                }

                &:last-child {
                  width: 4%;

                  .btn.del {
                    width: 20px;
                    height: 20px;
                    padding: 2px 0 0;
                    margin-top: 5px;
                    border-radius: 50px;
                    border: none;
                    background: #3a4a70;
                    font-size: 12px;
                  }
                }
              }
            }
          }
        }
      }
    }

    .point-control {
      position: relative;
      display: flex;
      justify-content: flex-end;
      margin-top: 20px;
      font-size: 1.06em;

      span {
        margin: 2px 10px;
      }

      input {
        width: 100px;
        text-align: right;
      }

      select {
        width: 185px;
        margin-right: 5px;
      }

      button {
        margin: 0 5px;

        &.increase {
          background-color: #1f8f31;
        }

        &.decrease {
          background-color: #c22621;
        }

        &:last-child {
          background-color: #222d8f;
        }
      }
    }
  }

  .btn-point {
    display: flex;
    justify-content: center;
    margin-top: 20px;

    .btn {
      width: 130px;
      height: 38px;
      background-color: #023b67;
      border-radius: 20px;
      font-size: 14px;
      font-weight: 700;

      &:first-child {
        background-color: #303941;
      }
    }
  }
}

.sweet-alert input {
  text-align: center;
}
