/* Gnb030108 */
#gnb030113 {
  .search-wrapper {
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
  }

  .search-wrapper > ul {
    /* 구독 목록 */
    &:nth-child(1) {
      > li {
        .search-result {
          display: flex;
          position: relative;

          .btn-toolbar {
            display: flex;
            // justify-content: space-between;
            flex-direction: column;

            .btn {
              background-color: #ba9e86;
              font-weight: 700;
              margin-bottom: 10px;
            }
          }

          .table-wrapper {
            width: 90%;
            height: 300px;
            margin-right: 12px;

            table {
              thead {
                width: 86%;

                th {
                  width: 9%;

                  &:first-child {
                    width: 23%;
                  }
                  &:nth-child(2) {
                    width: 7%;
                  }
                }
              }

              tbody {
                tr {
                  &:hover {
                    background: #cff3f0;
                  }

                  &.on {
                    background: #f3e5cf;
                  }

                  &.apply {
                    td {
                      background: #8fe481;
                      color: #1d1558;
                      border-color: #8b988b;
                    }
                  }

                  &.off {
                    background: #7c7c7b;
                  }
                }

                td {
                  border-bottom: 1px solid #dfe0e2;
                  width: 10%;
                  padding-left: 0px;
                  padding-right: 0px;

                  &:first-child {
                    width: 25%;
                  }
                  &:nth-child(2) {
                    width: 7%;
                  }
                }
              }
            }
          }
        }
      }
    }

    &.add-list {
      margin-top: 20px;

      &.hide {
        display: none;
      }

      .form-group {
        display: inline-block;
        margin-bottom: 7px;
        width: 29%;
        text-align: right;

        & + .form-group {
          margin-left: 25px;
        }

        & + label {
          margin-left: 25px;
        }
      }

      .apply {
        background: #8fe481;
        color: #1d1558;
      }

      .SingleDatePicker {
        position: static !important;
        width: 105px;
        margin-left: 7px;

        .SingleDatePicker__picker {
          left: calc(100% - 570px) !important;
          top: 20% !important;
        }

        .DateInput {
          width: 103px;

          input {
            margin-left: 0px;
          }
        }
      }

      input {
        display: inline-block;
        width: 100%;
        height: 25px;
        margin-left: 5px;

        &.sm {
          width: 50%;
        }

        &[readonly] {
          border: none;
        }
      }

      .radio-inline {
        input {
          display: none;
        }
      }

      select {
        width: 100%;
        height: 25px;
        padding: 4px 5px;
        background-position-x: 95%;
      }

      .btn-toolbar {
        display: flex;
        justify-content: center;
        padding-top: 20px;

        .btn {
          &:last-child {
            background: #7c7c7b !important;
          }
        }
      }
    }
  }

  .btn-set-close {
    display: flex;
    justify-content: center;
    margin-top: 35px;
  }
}
