$time-250ms: 250ms;
$time-450ms: 450ms;
$transition-ease: ease 0s;
$transition-ease-in: ease-in !default;
$transition-ease-out: ease-out !default;
$transition-ease-inout: ease-in-out !default;
$opacity0: 0;
$opacity05: 0.5;
$opacity1: 1;
$hide: none; // hidden
$show: block; // visible

/* 객실 모션 */
@mixin transition($time, $type) {
  -webkit-transition: all $time $type;
  -moz-transition: all $time $type;
  -o-transition: all $time $type;
  -ms-transition: all $time $type;
  transition: all $time $type;
}

/* 객실 show/hide */
@mixin show-hide($opacity, $visibility) {
  display: $visibility;
  //opacity: $opacity;
  //visibility: $visibility;
}

/* 객실 on 설정 */
@mixin on-change($top, $left, $zindex, $width, $height, $bgname) {
  position: absolute;
  top: $top;
  left: $left;
  z-index: $zindex;
  width: $width;
  height: $height;
  background: $bgname;
  @include show-hide($opacity0, $hide);
  // @include transition($time-250ms, $transition-ease-inout);
}

@mixin on-change-right($top, $right, $zindex, $width, $height, $bgname) {
  position: absolute;
  top: $top;
  right: $right;
  z-index: $zindex;
  width: $width;
  height: $height;
  background: $bgname;
  @include show-hide($opacity0, $hide);
  // @include transition($time-250ms, $transition-ease-inout);
}

@mixin status-text-before() {
  display: block;
  content: "";
  position: absolute;
  left: 50%;
  top: 38%;
  z-index: 21;
  margin: -20px 0 0 -33px;
  width: 65px;
  height: 30px;
  border-radius: 5px;
  opacity: 0.8;
}

@mixin status-text-after($content) {
  display: block;
  content: $content;
  position: absolute;
  left: 50%;
  top: 38%;
  z-index: 21;
  margin: -17px 0 0 -33px;
  width: 65px;
  height: 30px;
  color: #fff;
  //font-size: 1.071rem;
  font-size: 15px;
  font-weight: 800;
  text-align: center;
  letter-spacing: -1px;
  text-shadow: 1px 2px 4px #000;
}
