#tabContents {
  height: inherit;
  position: relative;
}

.room-icon {
  position: absolute;
  top: 5px;
  right: 25px;
  width: 100%;
  color: black;
  text-align: right;

  .grid {
    position: absolute;
    right: 120px;
    display: flex;
    max-height: 32px;
    overflow-x: auto;
    overflow-y: hidden;
    background: #aaa;

    &::-webkit-scrollbar {
      height: 5px;
    }

    & > div {
      margin: 0 10px;

      > table {
        margin: 0px;
        position: relative;

        td {
          padding: 5px;
          border-top: none;
          position: relative;

          span.title {
            font-size: 0.9em;
            margin-top: -3.5px;
          }
        }

        .numeric-wrap {
          display: flex;
          width: 120px;

          .rc-input-number {
            margin: -3px 0 0 3px;

            &.form-control.lmid {
              width: 80px;
            }
          }
        }

        select {
          margin-top: -5px;
          padding: 2px 8px;
        }
      }
    }
  }

  & > .icon {
    &:hover {
      color: rgb(33, 45, 78);
    }

    &.off {
      display: none;
    }

    &.on {
      min-height: 32px;
      background: #aaa;
    }
  }

  & > .edit {
    min-height: 32px;

    &:hover {
      color: rgb(33, 45, 78);
    }

    &.on {
      background: #aaa;
      color: rgb(19, 15, 15);
    }
  }
}

.grid-wrapper {
  position: absolute;
  display: grid;
  grid-gap: 10px;
  margin: 35px 10px 0;
  height: 90%;
  width: 98%;
  position: absolute;
  overflow-y: auto;
  overflow-x: auto;

  &::-webkit-scrollbar {
    width: 1px;
    height: 1px;
  }

  .room-list {
    margin: 0;
    padding: 0px;
    margin: 0px;
    display: block;
    border: 1px rgba(216, 211, 206, 0.1) solid;

    width: 100%;
    height: 100%;

    &.selected {
      border: 1px rgb(3, 3, 3) dashed;

      & dt {
        font-weight: bold;
        color: rgb(173, 39, 39);
      }
    }

    &.edit {
      // box-shadow: -3px -3px 5px -1px rgba(49, 46, 46, 0.4);
      // margin: 3px 0 0 3px;
      border: 1px rgba(26, 25, 24, 0.1) solid;

      &:nth-child(odd) {
        background-color: rgb(240, 232, 232);
      }
    }

    &.org {
      box-shadow: 0px 0px 5px 3px rgba(100, 92, 92, 0.788);
      border: 1px rgba(36, 36, 32, 0.658) dashed;
    }

    &.drag {
      box-shadow: 0px 0px 5px 3px rgba(228, 48, 48, 0.788);
      //border: 1px rgba(235, 232, 64, 0.726) dashed;
    }

    &.off {
      background-color: none;
    }

    .roomDiv {
      height: 100%;

      > div.react-contextmenu-wrapper {
        height: 100%;

        > div {
          height: 100%;
        }
      }
    }

    & .num {
      float: right;
      margin-right: 5px;
      color: rgba(66, 70, 82, 0.3);
    }
  }
}
