/* Gnb050302 */
#gnb050302 {
  .search-wrapper > .list-bul {
    // height: calc(100vh - 240px);
    // overflow: auto;

    select {
      width: 200px;
      margin-left: 0;
    }

    > h2 {
      margin-bottom: 10px;
    }

    .form-content > div {
      display: flex;
      border-top: 1px solid #ddd;
      padding: 8px 8px 0;
      flex-wrap: wrap;

      &.file-list {
        display: block;

        p {
          margin: 0 30px;
          font-size: 1em;
          color: rgb(25, 119, 45);
        }
      }

      .form-group {
        display: flex;
        align-items: center;
        padding-right: 20px;
        flex: 1;

        .form-validation {
          flex: 1;
        }

        .form-control {
          .changed {
            color: #ff0000;
          }
        }

        label {
          min-width: 60px;
          padding-right: 10px;
          color: #333;
          font-weight: 400;
          font-size: 0.857em;
          text-align: right;
        }

        input {
          font-size: 13px;
        }

        .editor {
          position: relative;
          width: 100%;

          .ql-toolbar {
            background: #ccc;
          }

          .ql-container.ql-snow {
            .ql-editor {
              max-height: 100vh;
            }
          }
        }

        select {
          color: #333;
          font-weight: 400;
          font-size: 13px;
        }

        .numeric-wrap {
          margin-left: 0px !important;
        }

        .btn.btn-default {
          height: 21px !important;
          width: auto !important;
          background: #5285ae;
          padding: 0 3px;
          margin: 0 5px;
        }

        .input-group-addon {
          padding-bottom: 5px;
          border-color: rgba(37, 38, 95, 0.2);
          border-top-left-radius: 2px;
          border-bottom-left-radius: 2px;
          font-size: 0.857em;
          line-height: 0.8;

          & + input {
            z-index: 1;
          }
        }

        .SingleDatePicker {
          width: 110px;
          margin: 0 5px;

          .SingleDatePickerInput {
            border-color: #ccc;
            width: 110px;
            margin-left: -5px !important;

            .DateInput {
              width: 100px;
              margin: 0;
              padding: 2px;
              background: #fff;
              vertical-align: middle;
              border-radius: 3px;

              input {
                color: #000 !important;
                font-weight: 400;
                height: 22px;
              }
            }
          }
        }

        &.reserve-time-form {
          margin-bottom: 0;

          > div {
            display: flex;
            flex-wrap: wrap;
          }

          .SingleDatePicker {
            margin-bottom: 8px;

            & + div {
              display: flex;
              max-width: 300px;
              margin-bottom: 8px;
            }
          }
        }

        .reserve02-06 {
          display: flex;
          align-items: center;
          flex-wrap: wrap;

          select {
            margin-right: 10px;
            margin-bottom: 5px;
          }

          > span {
            font-size: 0.786em;
          }
        }
      }
    }

    .btn-group {
      margin-left: 5px;
    }
  }

  .btn-set-close {
    display: flex;
    justify-content: center;
    margin-top: 15px;
  }
}

@media (max-width: 1023px) {
  #gnb040102 .search-wrapper > .list-bul .form-content > div {
    flex-direction: column;
  }
}

@media (max-width: 767px) {
  #gnb040102 .SingleDatePicker .SingleDatePicker__picker--open-down {
    overflow-x: auto;
    width: 360px;
  }
}

@media (max-width: 414px) {
  #gnb040102 .search-wrapper > .list-bul .form-content > div .form-group {
    flex-direction: column;
    align-items: inherit;

    label {
      margin-bottom: 5px;
    }
  }

  #gnb040102 .SingleDatePicker .SingleDatePicker__picker--open-down {
    width: 250px;
  }
}
