.footer-wrap {
  display: flex;
  flex-direction: row;
  position: relative;
  height: 32px;
  padding: 5px 1px;
  background: #fff;

  .btn-toolbar {
    display: inline-block;
    margin: 0;
    vertical-align: middle;

    .btn {
      width: 53px;
      height: 20px;
      margin-left: 5px;
      padding: 2px 0;
      background-color: #c23a45;
      border: none;
      border-radius: 2px;
      font-family: "NanumSquareRound";
      font-size: 0.857rem;
      font-weight: 700;
      color: #fff;
      opacity: 1;

      // &:nth-child(1) {
      //   width: 76px;
      //   padding-left: 19px;
      //   background: url('./img/bg_net.png') no-repeat 12px 50%;
      //   background-color: #c0c2c6;
      // }

      // &:nth-child(2) {
      //   width: 76px;
      //   padding-left: 19px;
      //   background: url('./img/bg_server.png') no-repeat 12px 50%;
      //   background-color: #c0c2c6;
      // }

      &.on {
        background-color: #0dabac !important;
      }

      &.off {
        background-color: #0dacac86 !important;
        color: #5857578e;
      }
    }
  }

  .info-box {
    overflow: hidden;
    position: relative;
    flex: 1;
    margin-right: 5px;
    margin-left: 5px;
    background: url("./img/bg_news.png") no-repeat 10px 50%;
    background-color: #f3f4f4;
    border: 1px solid #c0c2c6;
    border-radius: 2px;

    .MarqueeC-Div {
      overflow: hidden;
      width: calc(100% - 40px) !important;
      margin: 0 0 0 30px;
      // float: right;
    }

    .Marquee-Table {
      margin: 0;
    }

    .Marquee-Child-Single {
      display: block;
    }

    .ul {
      //position: absolute;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      // width: 3160px; //뉴스 전체 길이 임의 값
      height: 20px;
      margin: 0 0 0 5px;
      padding: 0;
      //background: url('./img/bg_news.png') no-repeat 10px 50%;
      list-style: none;
      font-size: 0.95rem;
      font-family: monospace;
    }

    .li {
      display: block;
      position: relative;
      margin: 0 20px 0 25px;
      padding: 4px 0 4px 10px;
      line-height: 1;
      text-align: left;
      width: calc(100% - 30px) !important;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      &.txt-point {
        color: #0066cc;
      }

      &:before {
        display: block;
        content: "";
        position: absolute;
        left: 0;
        top: calc(50% - 2px);
        width: 3px;
        height: 3px;
        background: #212c42;
      }
    }

    &.notice-box {
      display: flex;
      background: none;
      background-color: #fff6d7;
      border-color: #e2c49e;

      .notice-title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 5px;
        font-weight: 800;
        color: #ff727a;
        > svg {
          font-size: 18px;
        }
      }
      .ul {
        width: calc(100% - 65px);
      }
      .li {
        margin: 0;

        span {
          &.important {
            color: #df2030;
            // text-shadow: 1px 1px 1px #e70f0f;
            font-weight: 600;
          }
        }
      }
    }

    &.news-box {
      display: flex;
      background: none;
      background-color: #fff6d7;
      border-color: #e2c49e;

      .news-title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 5px;
        > svg {
          font-size: 18px;
        }
      }

      .call-center {
        position: absolute;
        width: 140px;
        right: 0px;
        padding: 0 10px;

        > svg {
          font-size: 18px;
          color: #d23560ef;
        }
        > span {
          position: absolute;
          right: 10px;
          font-weight: 900;
          margin-top: -3px;
          font-size: 18px;
          color: #2d3ca9ef;
        }
      }

      .ul {
        width: calc(100% - 140px);
      }
      .li {
        margin: 0;
      }
    }
  }

  .allnews-popup {
    overflow: hidden;
    position: absolute;
    bottom: 45px;
    right: 30px;
    z-index: 9999;
    width: calc(100% - 350px);
    min-width: 960px;
    border-radius: 5px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.4);
    -webkit-transition: all 250ms ease-in;
    -moz-transition: all 250ms ease-in;
    -o-transition: all 250ms ease-in;
    -ms-transition: all 250ms ease-in;
    transition: all 250ms ease-in;
    opacity: 0;
    visibility: hidden;

    &.open {
      opacity: 1;
      visibility: visible;
    }

    h1 {
      height: 37px;
      margin: 0;
      padding: 9px 17px 11px;
      background: #212c42;
      font-size: 1.143rem;
      font-weight: 700;
      color: #fff;
    }

    ul {
      margin: 0;
      padding: 11px 23px 25px;
      background: #fff;

      li {
        font-family: "돋움", "dotum";
        font-size: 0.857rem;
        color: #807d7d;
        line-height: 20px;
        list-style: none;
        margin-bottom: 10px;

        a {
          color: #0066cc;

          &:hover {
            text-decoration: underline !important;
          }
        }

        > span {
          margin-left: 20px;
          text-decoration: none !important;
        }
      }
    }

    .content {
      border: 1px solid #a5a2a2;
      padding: 10px;
      overflow: auto;
      height: 20vh;

      &.full {
        height: 70vh;
      }
    }

    .btn-close {
      overflow: hidden;
      position: absolute;
      top: 10px;
      right: 13px;
      width: 14px;
      height: 15px;
      padding: 0;
      background: url("./img/bg_news_close.png") no-repeat 0 0;
      border: none;
      border-radius: 0;
      text-indent: -9999px;
    }

    .btn-control {
      position: absolute;
      bottom: 10px;
      right: 10px;

      .btn {
        background: #212c42;

        &:hover {
          color: #ca2c2c !important;
          background-color: #2121da !important;
        }

        &.disable {
          cursor: none;
          pointer-events: none;
          background-color: #e2e0e0;
        }
      }
    }
  }
}
