#checkin-form-tab-pane-2 {
  select {
    display: inline-block;
    background: url("./img/bg_select04.png") no-repeat 92% 50%;
    border-radius: 0;
    border-color: #ccc;
    color: #333;
    font-weight: 400;
    font-size: 13px;
  }

  .reserve-date-select {
    select {
      width: 70%;
      background: url("./img/bg_select04.png") no-repeat 98% 50%;
    }
  }

  th {
    width: 10%;
  }

  td {
    width: 35%;
  }

  tr {
    &:nth-child(4) {
      td {
        > div.reserve-time-form {
          display: inline;
          margin: 0 !important;
        }
      }
    }
  }

  .SingleDatePicker__picker--direction-left {
    left: -103px !important;
  }

  .SingleDatePicker {
    width: 100px;
    margin-right: 5px;
    display: inline-block;

    .SingleDatePickerInput {
      border-color: #ccc;
      width: 100px;

      .DateInput {
        width: 95px;
        margin: 0;
        padding: 2px;
        background: #fff;
        vertical-align: middle;
        border-radius: 3px;

        input {
          color: #000 !important;
          font-weight: 400;
          height: 22px;
        }
      }
    }
  }

  /* 예약 정보 입력-1 */
  ul > li:nth-child(1) {
    input {
      display: inline-block;
      vertical-align: middle;
      color: #333;
    }

    select {
      display: inline-block;

      &#reserve02-01,
      &#reserve02-02 {
        width: 119px;
      }

      &#reserve02-06 {
        span {
          display: inline-block;
          margin-top: 5px;
          font-size: 0.857em;
        }
      }

      &#info02-06 {
        width: 170px;
        span {
          display: inline-block;
          margin-top: 5px;
          font-size: 0.857em;
        }
      }
    }

    .checkbox-inline {
      margin: 5px 20px;
    }

    label {
      padding-right: 10px;

      /*color: #333;
      font-weight: 400;
      font-size: 0.9rem;*/
    }

    .btn.btn-default {
      height: 21px !important;
      width: auto !important;
      background: #5285ae;
      padding: 0 3px;
      margin-left: 5px;
    }

    .SingleDatePicker {
      .DateInput__display-text {
        color: #333;
        font-weight: 400;
        font-size: 13px;
      }
    }

    .numeric-wrap {
      max-width: 140px;
      margin-right: 5px;
    }

    .reserve-time-form {
      display: flex;
      //width: 270px;
      margin-top: 5px;
    }

    .input-group-addon {
      padding-bottom: 5px;
      border-color: rgba(37, 38, 95, 0.2);
      border-top-left-radius: 2px;
      border-bottom-left-radius: 2px;
      line-height: 0.8;

      & + input {
        z-index: 1;
      }
    }

    #info02-09,
    #info02-11,
    #info02-12 {
      width: 50%;
    }

    #info02-10 {
      width: 50%;
    }

    #info02-13,
    #info02-17 {
      width: 50%;
      text-align: right;
    }
    #info02-19 {
      margin-left: 10px;
      color: blue;
      font-weight: bold;
    }
    #info02-191 {
      margin-left: 10px;
      color: red;
      font-weight: bold;
    }
    #info02-20 {
      margin-left: 10px;
      color: blue;
      font-weight: bold;
    }

    /* tr:nth-child(3) {
      .numeric-wrap {
        margin-left: 0;
      }

      .rc-input-number-input {
        padding-right: 30px;
        text-align: right;
      }
    }*/

    textarea.form-control {
      height: 50px;
    }
  }

  /* 예약 정보 입력-3 */
  ul > li:nth-child(2) {
    .btn-toolbar {
      display: flex;
      justify-content: center;

      .btn {
        width: 7.143em;
        height: 35px;
        font-size: 0.929em;
        font-weight: 700;
      }
    }
  }
}
