/* tab */
#plan-text-tabs {
  height: 100%;

  .nav-tabs {
    border: none;
  }

  .nav-tabs>li {
    position: relative;
    height: 28px;
    margin-bottom: 0;

    &:last-child>a {
      font-size: 1.429rem;
      background-color: #3a4b6d;
      padding: 0 10px;
    }
  }

  .nav-tabs>li>a {
    height: 28px;
    /*margin-right: 25px;*/
    padding: 7px 27px 5px;
    background-color: #146d90;
    border: none;
    border-radius: 2px 2px 0 0;
    color: #fff;
    font-size: 0.857rem;
    font-weight: 700;
    line-height: 1;
    /*&:before {
      display: block;
      content: '';
      position: absolute;
      top: -2px;
      left: 99%;
      z-index: 100;
      width: 60px;
      height: 30px;
      background: url('./img/bg_tabmenu_off.png') no-repeat 0 0;
    }*/

  }

  .nav-tabs>li.active>a,
  .nav-tabs>li.active>a:focus,
  .nav-tabs>li.active>a:hover {
    padding-top: 8px;
    padding-bottom: 3px;
    background-color: #e9eaed;
    border: none;
    color: #212c42;
    font-size: 0.929rem;
  }

  .nav-tabs>li.active>a:before {
    background: url('./img/bg_tabmenu_on.png') no-repeat 0 0;
    box-shadow: none;
  }

  >.tab-content {
    display: flex;
    align-items: center;
    height: 100%;
    background: #e9eaed;
    border-radius: 0 3px 3px 3px;

    >.tab-pane {
      //overflow-x: hidden;
      //overflow-y: auto;
      width: 100%;
      height: 100%;
      padding: 0;

      .add-view {
        width: 100%;
        height: 100%;
        padding: 25px 35px;
        color: #d9dbdf;
        font-size: 1.429rem;
        background-color: #3a4b6d;
        text-align: center;

        /* NumberInput style */
        .rc-input-number {
          &.form-control {
            height: 33.2px !important;

            input {
              height: 33.2px !important;
            }
          }
        }

        select {
          padding: 4px 10px;
          background: url('./img/bg_select04.png') no-repeat 96% 50%;
          background-color: #F5F9FC;
        }

        >div {
          margin: 0 0 20px;
          font-size: 1.786rem;
          color: orange;
        }

        table {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;

          thead {
            th {
              padding: 5px 20px;
              text-align: center;
            }
          }

          tbody {
            th {
              padding: 5px 20px;
              float: right;
            }

            td {}
          }

        }

        .form-content {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          margin: 30px 0;

          .btn-room {
            margin: 0 10px;

            button {
              color: #F5F9FC;

              &:first-child {
                background-color: #2725abeb;
              }

              &:last-child {
                background-color: rgb(71, 80, 97)
              }
            }
          }
        }

      }
    }
  }

  .block-ui-overlay {
    width: 100%;
    height: 100%;
    opacity: 0.5;
    filter: alpha(opacity=50);
    background-color: #171616;
  }
}