.leftmenu {
  height: 100%;

  > div {
    height: 100%;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    margin-right: 3px;

    > li {
      margin-top: 5px;

      &:first-child {
        margin-top: 0;
      }
    }
  }

  .table-wrapper table thead th {
    background-size: auto 100%;

    &:after {
      top: 0.429em;
    }
  }

  dl.content > dt {
    display: flex;
    align-items: center;
    width: 100%;
    height: 2em;
    padding: 8px 10px;
    background-image: linear-gradient(#dcdce3, #d0d0da);
    border-radius: 2px 2px 0 0;

    * {
      font-family: "돋움", dotum;
      font-size: 0.929em;
      font-weight: normal;
    }

    h2 {
      margin: 0;
      padding: 0;
      font-weight: 700;
      color: #212c42;
    }

    &.active {
      h2 {
        text-decoration: underline;
      }

      .caret {
        transform: rotate(180deg);
      }
    }

    & + dd {
      padding: 5px;
      background: #e9eaed;
      border-radius: 0 0 2px 2px;
    }

    .caret {
      margin-left: 10px;
      color: #212c42;
      transition: all 0.2s ease;
    }
  }

  .clock {
    color: #fff;
    text-shadow: 3px 3px 2px #959693c4;
    //font-size: 50px;
    font-weight: 900;
    text-align: center;

    > div {
      //height: 75px;
      height: 6.071em;
      position: relative;
    }

    span {
      margin: 0;
    }

    .date {
      font-size: 1.429em;
      color: #d09ff1;
      text-shadow: none;
      height: 1.071em;
    }

    .ampm {
      margin-left: -10px;
      margin-right: 15px;
      font-size: 2.143em;

      &.AM {
        color: #9ff1ed;
      }

      &.PM {
        color: #f5be6b;
      }
    }

    .hour {
      font-size: 3.571em;
    }

    .min {
      font-size: 3.571em;

      .on {
        color: #f7f7f7;
      }

      .off {
        color: #5f626300;
        text-shadow: none;
      }
    }

    .sec {
      font-size: 2.143em;
      margin-left: 10px;
      color: #eedb2e;
    }
  }

  .ad {
    overflow: hidden;
    //max-width: 280px;
    //height: 100px;
    max-width: 20em;
    min-width: 100%;
    height: 7.143em;
    min-height: 80px;

    img {
      width: 100%;
      //height: 80px;
      height: 5.714em;
    }

    .slick-list,
    .slick-slider,
    .slick-track {
      display: block;
      position: relative;
    }

    .slick-slider .slick-list,
    .slick-slider .slick-track {
      transform: translate3d(0, 0, 0);
    }

    .slick-slider {
      box-sizing: border-box;
      user-select: none;
      touch-action: pan-y;
      -webkit-tap-highlight-color: transparent;
    }

    .slick-list {
      overflow: hidden;
      margin: 0;
      padding: 0;
    }

    .slick-track {
      top: 0;
      left: 0;
    }

    .slick-track:after,
    .slick-track:before {
      display: table;
      content: "";
    }

    .slick-slide {
      display: none;
      float: left;
      height: 100%;
      min-height: 1px;
    }

    .slick-initialized .slick-slide {
      display: block;
    }

    .slick-dots,
    .slick-next,
    .slick-prev {
      position: absolute;
      display: block;
      padding: 0;
    }

    .slick-dots {
      bottom: -22px;
      width: 100%;
      margin: 0;
      list-style: none;
      text-align: center;

      li {
        position: relative;
        display: inline-block;
        width: 20px;
        height: 20px;
        margin: 0 5px;
        padding: 0;
        cursor: pointer;

        button {
          font-size: 0;
          line-height: 0;
          display: block;
          width: 20px;
          height: 20px;
          padding: 5px;
          cursor: pointer;
          color: transparent;
          border: 0;
          outline: 0;
          background: 0 0;

          &:before {
            line-height: 20px;
            position: absolute;
            top: 5px;
            left: 5px;
            width: 10px;
            height: 10px;
            background: #fff;
            border-radius: 50%;
            content: " ";
            opacity: 0.25;
            -webkit-font-smoothing: antialiased;
          }
        }
      }

      li.slick-active button:before {
        opacity: 0.75;
      }
    }
  }

  .room-info {
    dt > div.room {
      margin-left: auto;

      span {
        display: inline-block;
        height: 1.429em;
        border: 1px solid #b9b9b9;
        background: #fff;
        text-align: center;
        line-height: 1.429em;
        padding: 0 5px 0 5px;

        &:first-child {
          font-weight: 700;
          color: #ff6600;
        }

        & + span {
          margin-left: 5px;
          color: #666;
        }
      }
    }

    .collapse {
      //height: 205px;
    }

    .panel-group {
      margin: 0px;

      .panel {
        margin: 0px;
        padding: 0px;
      }

      .panel-body {
        padding: 0px;
      }
    }

    .room-btn {
      height: 15px;

      &.active .caret {
        transform: rotate(180deg);
      }

      a {
        float: right;
        margin-right: 5px;

        .caret {
          transform: rotate(0deg);
        }
      }
    }

    .room-ele {
      display: none;

      &.on {
        display: block;
      }

      #roomElement {
        > div > span {
          width: 100%;
        }
      }
    }

    ul {
      border: 1px solid #c0c2c6;
      border-radius: 3px;
      background: #fff;
      color: #000;
      font-size: 0.929em;

      li {
        padding: 5px 10px 6px;
        border-top: 1px solid #c0c2c6;
        line-height: 1;

        &:first-child {
          border: none;
        }
      }

      .info {
        color: #000;
        font-weight: 400;
        margin-left: 10px;
      }

      .info.red {
        color: #ff0000;
        font-weight: 500;
      }

      .info.green {
        color: #1d10d4;
      }
    }

    .light {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 5px 0 0;

      span {
        display: inline-block;
        width: 19px;
        height: 19px;
        margin-left: 12px;
        background: url("./img/bg_light_off.png") no-repeat 0 0;

        &:first-child {
          margin-left: 0;
        }

        &.on {
          background-image: url("./img/bg_light_on.png");
        }
      }
    }
  }

  .room-count-table {
    .content > dt .datetime {
      margin: 0px 10px auto;
      color: #666;
      font-size: 0.857em;
      text-decoration: none;
    }

    .content > dt > div.room {
      margin-left: auto;

      span {
        display: inline-block;
        height: 1.429em;
        border: 1px solid #b9b9b9;
        background: #fff;
        text-align: center;
        line-height: 1.429em;

        &:first-child {
          width: 60px;
          font-weight: 700;
          color: #ff6600;
        }

        & + span {
          width: 4em;
          margin-left: 5px;
          color: #666;
        }
      }
    }

    dt > a {
      margin-left: auto;
    }

    table {
      height: 158px;
      color: #000;
      font-size: 0.929em;

      thead {
        th {
          .form-group {
            margin-bottom: 3px;

            .checkbox-inline {
              input[type="checkbox"] + span {
                width: 1.3em;
                height: 1.3em;
                background: url("./img/bg_check_off.png") no-repeat 0 0;
                background-size: 100%;
                top: 1px;
                left: 2px;
              }

              input[type="checkbox"]:checked + span {
                background-image: url("./img/bg_check_on.png");
                top: 1px;
                left: 2px;
              }
            }
          }
        }
      }

      tbody {
        td {
          text-align: right;
          vertical-align: middle;
          font-size: 0.95em;
          width: 25%;
          padding: 3px 10px;

          &:first-child {
            text-align: center;
            width: 15%;
          }

          &:nth-child(3) {
            width: 30%;
          }

          .pay-type {
            float: left;
            color: #666;
            font-size: 0.7em;
            margin-left: -8px;

            border: 1px solid #e3e3e3;
            border-radius: 4px;
            background: #fff;

            &.txt-cash {
              color: #b320b8;
            }

            &.txt-card {
              color: blue;
            }

            &.txt-ota {
              color: #21aa21;
            }

            &.txt-point {
              color: #9e6419;
            }
          }

          p {
            font-size: 1em;
            border-top: 1px #eee solid;
            margin: 0px;

            &.plus {
              color: #02b110;
              font-weight: bold;
            }

            &.minus {
              color: red;
              font-weight: bold;
            }

            &.no-line {
              border-top: none;
            }
          }

          .form-group {
            .checkbox-inline {
              position: absolute;
              margin-left: -15px;

              div {
                font-size: 0.8em;
                width: 20px;
                color: #666;
                margin-left: -5px;
              }

              input[type="checkbox"] + span {
                width: 0.91em;
                height: 0.91em;
                background: url("./img/bg_check_off.png") no-repeat 0 0;
                background-size: 100%;
                margin-top: 4px;
              }

              input[type="checkbox"]:checked + span {
                background-image: url("./img/bg_check_on.png");
                margin-top: 4px;
              }
            }
          }
        }

        td.sum strong {
          color: #1d10d4;
          font-size: 1em;
        }

        td {
          &.plus {
            font-size: 1em;
            color: #02b110;
            font-weight: bold;
          }

          &.minus {
            font-size: 1em;
            color: red;
            font-weight: bold;
          }
        }
      }
    }
  }

  .room-record {
    dl.content > dt + dd {
      position: relative;
    }

    dt > div {
      margin-left: auto;
    }

    select {
      width: 11.429em;
      height: 1.429em;
      padding: 0 6px;
      background: url("./img/bg_select01.png") no-repeat 97% 50%;
      background-color: #f9f9fc;
      border: none;
      border-radius: 0;
    }

    .form-group {
      margin-bottom: 5px;
      padding-left: 5px;
      color: #666;
      line-height: 1;
      display: flex;
      position: relative;

      .checkbox-inline {
        padding-left: 1.214em;
        font-size: 0.757em;

        & + .checkbox-inline {
          // margin-left: 11px;
        }
      }

      input[type="checkbox"] + span {
        width: 0.929em;
        height: 0.929em;
        background: url("./img/bg_check_off.png") no-repeat 0 0;
        background-size: 100%;
        margin-top: 4px;
      }

      input[type="checkbox"]:checked + span {
        background-image: url("./img/bg_check_on.png");
        margin-top: 4px;
      }
    }

    .table-wrapper {
      overflow-y: scroll;
      min-height: 30px;

      /* 높이 변동 */
      table {
        color: #000;
        font-size: 0.929em;

        thead {
          th {
            width: 33.5%;

            &:last-child {
              width: 33%;
            }
          }
        }

        tbody {
          tr {
            .slide {
              animation: slide-up 0.4s ease;
            }

            &.new_room_log {
              border-bottom: #b5434338 2px solid;
            }

            .hide {
              display: none;
            }

            td {
              width: 33.3%;
              vertical-align: middle;

              span {
                &.hide {
                  display: none;
                }

                p {
                  margin: 0px;
                  font-size: 0.929em;

                  &.line-off {
                    border-top: 0px #ccc solid !important;
                  }

                  &.air-temp {
                    > span {
                      margin: 0 3px 3px 3px;
                      font-size: 0.5em;
                    }
                  }
                }

                &:not(.hide) {
                  &:not(:first-child) p {
                    border-top: 1px #ccc solid;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  @keyframes slide-up {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }

    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
