/* Gnb030102 */
#gnb030102 {
  .search-wrapper > ul > li {
    /* 객실 이용 시간 설정 */
    &:nth-child(1) {
      .form-content {
        & + div {
          margin-top: 5px;
        }

        .numeric-wrap {
          & + label {
            margin-left: 25px;
          }
        }
      }
    }

    &:nth-child(2) {
      display: flex;

      > .list-bul {
        flex: 1;
        padding-bottom: 10px;

        > h2 {
          margin-bottom: 10px;
        }

        /* 왼쪽 영역 */
        &:first-child {
          flex: 1.9;
          border-right: 1px solid #ccc;
          padding-right: 10px;
          margin-right: 15px;
        }

        /* 오른쪽 영역 */
        &:last-child {
          .numeric-wrap {
            //margin-top: 5px;

            & + .numeric-wrap {
              margin-left: 52px;
            }
          }

          li:last-child {
            .checkbox-inline:last-child {
              margin-top: 10px;
            }
          }
        }

        .form-content {
          display: flex;
          flex-direction: column;
          margin-bottom: 3px;

          &.alarm {
            flex-direction: row;

            .rc-input-number-handler-wrap {
              margin-top: -5px;
            }
          }

          &.inline {
            flex-direction: row;

            .time {
              margin-left: 5px;
            }
          }

          > div + .checkbox-inline {
            margin-top: 5px;
          }

          .checked-on {
            color: #f14747ea;
          }

          .checkbox-inline {
            margin-left: 0;

            & + .checkbox-inline {
              margin-top: 5px;
            }

            & + div {
              margin-top: 5px;
            }
          }
        }
      }
    }
  }

  .numeric-wrap {
    margin: 0 8px;
  }

  .control-label {
    //font-size: 0.786rem;
  }

  .btn-set-close {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }

  .li-label {
    margin: 5px 0 0 10px;
    font-size: 0.786em;

    &.inline {
      align-items: center;
      font-size: 14px;
    }
  }

  .comment {
    margin: 5px 0 0 10px;
    font-size: 0.886em;
    color: #f14747ea;
  }
}
