/* Gnb0503-내용 공통 */
.main-panel .content-system .gnb0503 .setting-form-tab {
  width: 70vw;
  min-width: 1000px;
  max-width: 1200px;
  height: 80vh;

  &:after {
    display: block;
    content: "";
    clear: both;
  }

  #settingTab-tab-2 {
    letter-spacing: -1px;
  }
}

@media (max-width: 1023px) {
  .main-panel .content-system .gnb0503 .setting-form-tab {
    min-width: inherit;
    width: 90vw;
    height: 70vh;
  }
}
