$pe-7s-font-path: "~pe7-icon/dist/fonts" !default;
@import "base/new_variables";
@import "base/variables";
@import "base/mixins";

@import "~pe7-icon/dist/scss/pe-icon-7-stroke.scss";
@import "base/chartist";
@import "~chartist/dist/scss/chartist.scss";
@import "base/sidebar";
@import "base/navbar";
@import "base/card";
@import "base/todos";
@import "base/checkbox-radio-switch";
@import "base/footer";
@import "base/buttons";
@import "base/pagination";
@import "base/social-buttons";
@import "base/icons";
@import "base/panels";
@import "base/typography";
@import "base/form";
@import "base/tags";
@import "react-dates/styles";

html,
body {
  font-size: 14px;
}

#root {
  height: 100vh;
}

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

div[class^="MuiSnackbar-root-"] {
  z-index: 99999 !important;
}

.places-buttons .btn {
  margin-bottom: 30px;
}

.swal-footer {
  text-align: center !important;

  .swal-button-container {
    margin: 5px 10px !important;
  }
}

.btn-set-confirm {
  background-color: #4682db !important;
}

.btn-set-cancel {
  background-color: #565656 !important;
}

.btn-set-warning {
  background-color: #f5ad50 !important;
}

.btn-set-danger {
  background-color: #e23a3a !important;
}

.red-btn {
  background-color: red !important;
}

.gray-btn {
  background-color: gray !important;
}

.green-btn {
  background-color: green !important;
}

.blue-btn {
  background-color: blue !important;
}

.puple-btn {
  background-color: purple !important;
}

.rbc-calendar {
  .rbc-toolbar .rbc-toolbar-label {
    font-size: 22px;
  }

  .rbc-toolbar {
    margin-bottom: 25px;
  }

  .rbc-toolbar button {
    @include btn-styles($primary-bg, $primary-states-color);

    &.rbc-active,
    &.rbc-active:hover,
    &:active,
    &:focus,
    &:hover,
    &:active:hover {
      background-color: lighten($primary-bg, 25%);
      border-color: $primary-bg;
    }
  }

  .rbc-month-row {
    min-height: 100px;
  }

  .rbc-row-segment {
    padding: 2px;

    .rbc-event {
      background: $primary-bg;
    }

    .rbc-event.rbc-selected {
      background: darken($primary-bg, 5);
    }

    .rbc-event-content {
      font-size: 12px;
    }
  }

  .rbc-time-view,
  .rbc-month-view,
  .rbc-agenda-view {
    border-radius: 3px;
  }
}

.ct-chart-line .ct-label,
.ct-chart-bar .ct-label {
  font-size: 1rem;
}

.react-bs-table {
  .table {
    margin-bottom: 0;
  }
}

/* NumberInput style */
.rc-input-number {
  &.form-control {
    position: relative;
    height: 25px;
    padding: 0;
    border: none;

    input {
      width: 100%;
      height: 25px;
      padding-right: 3.4ex;
      box-sizing: border-box;
      padding-left: 3.4ex;
      text-align: center;
      border: none;
      border-radius: 2px;
      background-color: #f5f9fc;
      color: #565656;
      transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;

      &:focus {
        background-color: #ffffff;
        border: none;
        outline: 0 !important;
        color: #333333;
      }
    }

    &.small {
      width: 70px !important;

      .rc-input-number-input {
        width: 70px !important;
      }
    }

    &.sm75 {
      width: 75px !important;

      .rc-input-number-input {
        width: 75px !important;
      }
    }

    &.sm80 {
      width: 80px !important;

      .rc-input-number-input {
        width: 80px !important;
      }
    }

    &.mid {
      width: 100px !important;

      .rc-input-number-input {
        width: 100px !important;
      }
    }

    &.mid120 {
      width: 120px !important;

      .rc-input-number-input {
        width: 120px !important;
      }
    }

    &.mid140 {
      width: 140px !important;

      .rc-input-number-input {
        width: 140px !important;
      }
    }

    &.big {
      width: 200px !important;
    }

    .rc-input-number-handler {
      position: absolute;
      width: 19px;
      border-color: rgba(0, 0, 0, 0.1);
      border-style: solid;
      text-align: center;
      cursor: default;
      transition: all 0.1s ease 0s;
      background: rgba(0, 0, 0, 0.1);
      box-shadow: none;
      top: 2px;
      bottom: 2px;
      border-radius: 2px;
      border-width: 1px;
      background: #4c5566 !important;
      border: none !important;
      opacity: 0.4; //기존 0.1

      &:focus,
      &:hover {
        opacity: 1;
        cursor: pointer;
      }

      &:active {
        span {
          top: 55%;
          left: 58%;
        }
      }

      &.rc-input-number-handler-up {
        right: 2px;
        left: auto;

        &:active:before {
          top: 55%;
          left: 58%;
        }

        &:before {
          display: block;
          content: "";
          position: absolute;
          top: 50%;
          left: 50%;
          width: 2px;
          height: 10px;
          background: #fff;
          margin: -5px 0px 0px -1px;
        }
      }

      &.rc-input-number-handler-down {
        right: auto;
        left: 2px;
      }

      span {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 10px;
        height: 2px;
        background: #fff;
        margin: -1px 0px 0px -5px;
      }
    }
  }
}

.rc-input-number-disabled .rc-input-number-input {
  opacity: 0.72;
  cursor: not-allowed;
  background-color: #f3f3f3;
}

.checkbox-inline.disabled,
.radio-inline.disabled,
fieldset[disabled] .checkbox-inline,
fieldset[disabled] .radio-inline {
  cursor: not-allowed;
  color: #bdbdbd;
}

.loader {
  position: absolute;
  height: 100vh;
  width: 100vw;
  display: block;
  align-items: center;
  justify-content: center;
  opacity: 0.6;
  background-color: #00000099;
  z-index: 99999;
  padding-top: calc(50vh - 30px);
  padding-left: calc(50vw - 30px);
  overflow: hidden;
}

$default-colour: #000 !default;

@mixin text($colour, $size) {
  //@debug '---> scss mixin text '+$default-colour+','+$colour;
  color: $colour;
  font-size: $size;
  //@debug '---> scss mixin text '+$default-colour+','+$colour;
}

.set-sale-color {
  @include text(yellow, 14px);
}

.swal2-container {
  z-index: 10000;
  width: 100%;
}


img {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.no-draggable {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.wd70 {
  width: 100px;
}

.wd100 {
  width: 100px;
}

.wd120 {
  width: 100px;
}

.wd150 {
  width: 100px;
}

.money {
  text-align: right;
  padding-right: 5px;
}

#root>div+div {
  margin-top: 150px !important;

  .client-snackbar-content span {
    font-size: 1.2rem !important;
  }
}