#checkin-form-tab-pane-5 {
  .btn-toolbar {
    display: flex;
    justify-content: center;
  }

  /* 검색조건 */
  .search-date {
    width: 100%;
    padding: 13px;
    border: 1px solid #dfe0e2;
    border-radius: 3px;
    .btn {
      margin-left: 5px;
    }
    & + .btn-toolbar {
      margin-top: 15px;
      margin-bottom: 15px;
      .btn {
        background-color: #b78b27;
        font-size: 0.857rem;
        font-weight: 700;
      }
    }
  }
  .SingleDatePicker {
    width: 210px;
    .DateInput {
      width: 208px;
    }
    &:first-child {
      .SingleDatePicker__picker--direction-left {
        left: -48px !important;
      }
    }
    & ~ .SingleDatePicker {
      .SingleDatePicker__picker--direction-left {
        left: -274px !important;
      }
    }
  }
  .table-wrapper {
    overflow-y: scroll;
    height: 460px;
    background: #f9f9f9;
    table {
      border-bottom: 1px solid #dfe0e2;
      thead {
        display: table;
        position: absolute;
        width: 532px;
        th:first-child {
          width: 28%;
        }
      }
      tfoot {
        td {
          height: 25px;
          padding: 5px 10px;
          font-weight: 700;
        }
      }
      tbody {
        border-bottom: 1px solid #dfe0e2;
        tr:first-child td {
          height: 47px;
          padding-top: 25px;
        }
        td {
          height: 25px;
          border-top: 1px solid #dfe0e2;
          &:first-child {
            width: 28%;
          }
        }
      }
    }
    & + .btn-toolbar {
      margin-top: 20px;
      .btn {
        width: 100px;
        height: 35px;
        font-size: 1rem;
        font-weight: 700;
      }
    }
  }
}
