#room-kind {
  &.room-kind-set {
    background-color: #212c42;
    border: 1px solid #131926;
    color: #666;
    h1 {
      margin: 0;
      padding: 9px 12px;
      font-size: 1rem;
      font-weight: 700;
      color: #fff;
      text-align: left;
    }
    .kind-form-wrapper {
      width: 300px;
      background: #fff;
      padding: 10px 20px 20px;
      color: #333;
      > .btn-toolbar {
        display: flex;
        justify-content: center;
        margin-top: 15px;
        border-bottom: none;
      }
      > div {
        border-bottom: 1px solid #dfe0e2;
        &:nth-child(2) {
          padding: 10px 0;
          span {
            font-size: 0.857rem;
          }
          .btn-toolbar {
            display: inline-block;
            vertical-align: middle;
            margin-left: 10px;
            .btn {
              width: 65px;
              border-radius: 15px;
              height: 30px;
              background: #000;
              opacity: 1;
              font-size: 0.857rem;
              font-weight: 700;
              &+ .btn {
                background: #fff;
                border: 1px solid #000;
                color: #222;
              }
            }
          }
        }
      }
      .form-group {
        margin-bottom: 10px;
        .control-label {
          font-size: 0.786rem;
          font-weight: 300;
          width: 50px;
        }
        .form-control {
          display: inline-block;
          width: calc(100% - 50px);
          height: 25px;
          font-size: 0.857rem;
          &+ .checkbox-inline {
            margin-left: 50px;
          }
        }
        .checkbox-inline {
          margin-top: 10px;
          padding-left: 20px;
          input[type=checkbox] + span {
            background: url('./img/bg_check_off03.png') no-repeat 0 0;
          }
          input[type=checkbox]:checked + span {
            background: url('./img/bg_check_on03.png') no-repeat 0 0;
          }
        }
      }
      > p {
        padding-top: 15px;
        font-size: 0.786rem;
        color: #fc563e;
        text-align: center;
      }
    }
    .kind-close {
      display: inline-block;
      overflow: hidden;
      position: absolute;
      top: 10px;
      right: 14px;
      width: 14px;
      height: 14px;
      background: url('./img/bg_news_close.png') no-repeat 0 0;
      text-indent: -9999px;
    }
  }
}