/* gnb030111 */
#gnb030111 {
  .search-wrapper > ul > li {
    font-size: 0.786em;

    h2,
    label {
      font-size: 1em;
    }

    .form-content {
      .text {
        width: 50%;
      }

      .checkbox-inline {
        position: absolute;
        left: 200px;
      }

      margin-bottom: 10px;
    }

    .numeric-wrap {
      margin-left: 8px;

      & + label {
        margin-left: 13px;
      }
    }
  }

  .btn-set-close {
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }
}
