#card-deck-pop {
  &.card-deck-set {
    background-color: #212c42;
    border: 1px solid #131926;
    color: #666;

    ::-webkit-scrollbar {
      width: 1px;
    }

    ::-webkit-scrollbar-button {
      background: none;
    }

    ::-webkit-scrollbar-track-piece {
      background: none;
    }

    ::-webkit-scrollbar-thumb {
      background: #343944;
    }

    h1 {
      margin: 0;
      padding: 9px 12px;
      font-size: 0.929em;
      font-weight: 700;
      color: #fff;
      text-align: left;
    }

    h2 {
      font-size: 1.143em;
      text-align: center;
    }

    > div {
      background: #f7f5f5;

      .comment-box {
        font-size: 0.857em;
        padding: 10px;

        > strong {
          margin-left: 30px;

          &:first-child {
            margin-left: 10px;
          }

          &.txt-signal {
            color: #dd4b39;
          }

          &.txt-question {
            color: #ecb51c;
          }

          &.txt-sensor {
            color: #4439dd;
          }
        }
      }
    }

    .card-deck-wrapper {
      display: flex;
      overflow-y: auto;
      overflow-x: hidden;
      width: calc(50vw);
      min-height: 500px;
      max-height: calc(80vh);
      background: #fff;
      padding: 0px 20px 20px;
      color: #333;

      /*@media (max-width: 1023px) {
        &.card-deck-wrapper {
          width: 755px;
          overflow-x: auto;
          overflow-y: hidden;
        }
      }*/

      > div {
        flex: 1;
        height: 100%;

        &:nth-child(2) {
          margin-left: 20px;
          padding-left: 20px;
          border-left: 1px solid #ccc;
        }

        .count-table {
          display: flex;
          margin-top: 10px;

          table {
            flex: 1;
            margin-bottom: 0;
            font-size: 0.814em;

            &:nth-child(2) {
              margin-left: 30px;
            }

            th,
            td {
              height: 25px;
              padding: 0;
              text-align: center;
              vertical-align: middle;
            }

            thead {
              background: #4c5566;
              color: #fff;

              th {
                position: relative;
                height: 27px;
                padding: 0;
                border: none;
                border-right: 1px solid #4c5566;
                border-bottom: 1px solid #4c5566;
                font-size: 0.929em;
              }
            }

            tbody {
              tr {
                display: flex;
                flex-wrap: wrap;
              }

              tr:last-child {
                td {
                  border-bottom: 1px solid #ddd;
                }
              }

              th {
                background: #fbfbfb;
              }

              td {
                border: 1px solid #dddddd61;
                width: 50%;
                position: relative;

                > span {
                  position: absolute;
                  font-size: 1em;
                  color: #74757548;
                  right: 5px;
                }

                &:last-child {
                  border-right: 1px solid #ddd;
                }

                > strong {
                  margin-top: 2px;
                  font-size: 1.5em;

                  &.txt-sensor {
                    color: #4439dd;
                    position: absolute;
                    left: 5px;
                  }

                  &.txt-signal {
                    color: #dd4b39;
                    position: absolute;
                    left: 25px;
                  }

                  &.txt-question {
                    color: #ecb51c;
                    position: absolute;
                    right: 25px;
                  }
                }
              }
            }
          }
        }
      }
    }

    .pop-close {
      display: inline-block;
      overflow: hidden;
      position: absolute;
      top: 10px;
      right: 14px;
      width: 14px;
      height: 14px;
      background: url("./img/bg_news_close.png") no-repeat 0 0;
      text-indent: -9999px;
    }
  }
}
