.header {
  h1 {
    &.logo {
      width: 200px;

      img {
        height: 25px;
        max-width: 140px;
      }

      .ver {
        margin-left: 10px;
        margin-top: 15px;
        position: absolute;
        font-size: 10px;
        color: #ddded4c4;
      }
    }
  }

  .navbar .nav>li.open>.dropdown-menu>li {
    a {
      font-size: 14px !important;
      color: #999;
    }
  }

  .place {
    margin-left: 10px;
    min-width: 120px;
    color: #f6f34a;
    font-size: 22px;
    text-shadow: 1px 1px 1px rgba(233, 227, 227, 0.945);
  }

  select {
    display: inline-block;
    width: 150px;
    height: 25px;
    margin-left: 10px;
    padding: 4px 10px;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAGCAYAAAARx7TFAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAADZJREFUeNpitG5d9J8BAhgZMAFYjgldABufCc2E/1g0MDJhsQpFAbp16G5iRLYOmwSKBoAAAwByBwhwhkgIKgAAAABJRU5ErkJggg==) no-repeat 92% 50%;
    border-radius: 0;
    border-color: #ccc;
    font-size: 13px;
  }

  .expire {
    margin-left: 20px;
    color: #f59134;
    font-size: 18px;
    text-shadow: 1px 1px 1px rgba(243, 134, 61, 0.945);

    &.on {
      color: #f53434;
      font-size: 22px;
    }
  }

  .voice {
    display: block;
    height: 20px;
    width: 150px;
    position: relative;
    margin-left: 10%;

    &.on {
      .btn-box {
        color: #90e06a;
        left: 100px;
      }
    }

    canvas {
      height: inherit;
      width: 150px;
    }

    .btn-box {
      position: absolute;
      width: 100%;
      text-align: center;
      color: #c7c2c2;
      left: -100px;

      button {
        background: transparent;
        border: 0px;
        text-shadow: 1px 1px 10px;
        padding: 0px 10px;

        &:focus {
          outline: none;
        }
      }
    }
  }

  @media screen and (max-width: 768px) {
    .voice {
      canvas {
        display: none;
      }

      button {
        display: none;
      }
    }
  }

  .user {
    position: absolute;
    right: 100px;
    color: #d1cdcd;
    font-size: 1.143rem;
    margin: -22px auto;

    label {
      margin: 0px;

      &:first-child {
        font-size: 1.143rem;
      }

      &:last-child {
        margin-left: 10px;
        font-size: 0.857rem;
        color: #817f7f;
      }
    }
  }

  .btn-layout {
    position: absolute;
    right: 10px;
    top: 7px;

    .btn {
      width: 25px !important;
      height: 25px !important;
    }
  }
}