/* Gnb030110 */
#gnb030110 {
  .search-wrapper > ul > li {
    > div {
      display: inline-block;
      margin-right: 20px;

      .form-content {
        display: flex;
        justify-content: space-between;
        padding-top: 5px;

        > div {
          margin-right: 20px;
        }

        > .btn-toolbar {
          align-self: center;
        }
      }

      /* 객실 전원차단 조건 */
      &:nth-child(1) {
        .form-content {
          font-size: 0.786em;

          .numeric-wrap {
            margin: 0 8px;
          }

          select {
            width: 140px;
            margin-right: 8px;
          }

          > div {
            margin-top: 5px;

            &:first-child {
              margin-top: 0;
            }
          }

          .checkbox-inline {
            margin-top: 5px;
          }

          label {
            font-size: 1em;
          }
        }
      }
    }
  }

  .btn-set-close {
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }
}
