/* gnb030112 */
#gnb030112 {
  .search-wrapper > ul > li {
    font-size: 0.786em;

    h2,
    label {
      font-size: 1em;
    }
  }

  .red {
    color: red;
  }

  .btn-set-close {
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }
}
