/* Gnb030101 */
#gnb030101 {
  .search-wrapper>ul>li {
    color: #333;

    .form-content {
      font-size: 0.786em;
      position: relative;

      .numeric-wrap {
        margin: 0 8px;
      }

      .checkbox-inline {
        font-size: 1em;
      }

      .checkbox-inline+.checkbox-inline {
        margin-left: 17px;
      }
    }

    /* 추가/할인 요금 단위 설정 */
    &:nth-child(2),
    &:nth-child(3) {
      .btn-toolbar {
        float: right;

        .btn {
          width: 135px;
        }
      }
    }

  }

  .btn-set-close {
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }
}