 .FourOhFour {
   position: absolute;
   top: 0;
   left: 0;
   width: 100vw;
   height: 100vh;
   background: #121212;
   display: flex;
   align-items: center;
   justify-content: center;
   opacity: 0.99;
   text-align: center;

   .bg {
     position: absolute;
     top: 0;
     left: 0;
     width: 100vw;
     height: 100vh;
     background-size: cover;
     mix-blend-mode: overlay;
     background-image: url('assets/images/sidebar-4.jpg');
     z-index: -1;
   }

   .code {
     font-family: 'Alfa Slab One', cursive;
     font-size: 54px;
     color: white;
     width: 100%;
     display: block;

     .title {
       font-size: 40px;
       width: 100%;
     }
   }

   a {
     cursor: pointer;
     text-decoration: none;
     color: #4c59d4eb;
   }
 }